  <div class="container">
    <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button disabled>&#x2714;</button>
      </span>
      <span style="padding-right: 3px;">
        <button (click)="pageRefresh()" title="Обновить">&#x21bb;</button>
      </span>
    </div>


    <!-- Container: List Items -->
    <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">

        <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0; height: 739px;">
          <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
          <tr>
            <th class="table-background-job">Расписание</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
          <div class="vertical-container2" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">
              <div class="col-sm-12 offset-sm-2" style="margin-left:0;">

                <div class="attestation">
                  <h4>Задача</h4>
                  <table class="tbl-attestation">
                    <tr class="tbl-attestation-head">
                      <th>Задача</th>
                      <th>Время запуска</th>
                      <th>Периодичность</th>
                      <th>Состояние</th>
                    </tr>
                    <ng-container *ngFor="let backgroundJob of backgroundJobs">
                    <tr>
                      <td class="tbl-attestation-title">{{ backgroundJob.name }}</td>
                      <td class="tbl-attestation-val">
                        <input type="text" value="{{ backgroundJob.nextScheduledDate | date : 'dd.MM.yyyy' }}" class="form-control" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true">
                      </td>
                      <td class="tbl-attestation-val">
                        <input type="text" value="{{ backgroundJob.cron }}" class="form-control" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true">
                      </td>
                      <td class="tbl-attestation-val">
                        <select [(ngModel)]="backgroundJob.enabled" name="foo" class="custom-select">
                          <option selected disabled value="" class="placeholder">Не выбрано</option>
                          <option *ngFor="let enabled of takeChoices" [selected]="enabled.key == 1" [ngValue]="enabled.key">{{enabled.value}}</option>
                        </select>
                      </td>
                    </tr>
                    </ng-container>
                  </table>
                  <br>
                  <button class="btn btn-transenix" (click)="onSubmitBackgroundJobs()">Сохранить</button>
                </div>

              </div>
            </perfect-scrollbar>
          </div>
            </td>
          </tr>
          </tbody>
        </table>

      </perfect-scrollbar>
    </div>
    <!-- /Container: List Items -->

  </div>
