  <div class="container">
    <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button disabled>&#x2714;</button>
      </span>
      <span style="padding-right: 3px;">
        <button (click)="pageRefresh()" title="Обновить">&#x21bb;</button>
      </span>
    </div>


    <!-- Container: List Items -->
    <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">

        <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0; height: 739px;">
          <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
          <tr>
            <th class="table-background-job">Расписание</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
          <div class="vertical-container2" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">
              <div class="col-sm-12 offset-sm-2" style="margin-left:0;">

                <div class="attestation">
                  <form [formGroup]="editFormAttestationThreads" (ngSubmit)="onSubmitAttestationThreads()">
<!--                    <h4></h4>-->
                    <table class="tbl-attestation">
                      <tr class="tbl-attestation-head">
                        <th>Угроза</th>
                        <th>Действие</th>
                      </tr>
                      <tr>
                        <td class="tbl-attestation-title">Тестирование приложения</td>
                        <td class="tbl-attestation-val">
                          <select formControlName="debug" name="debug" class="custom-select" id="debug" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                            <option selected disabled value="" class="placeholder">Не выбрано</option>
                            <option *ngFor="let debug of allAttestationActions" [ngValue]="debug.key">{{debug.value}}</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td class="tbl-attestation-title">Эмуляция приложения</td>
                        <td class="tbl-attestation-val">
                          <select formControlName="emulator" name="emulator" class="custom-select" id="emulator" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                            <option selected disabled value="" class="placeholder">Не выбрано</option>
                            <option *ngFor="let emulator of allAttestationActions" [ngValue]="emulator.key">{{emulator.value}}</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td class="tbl-attestation-title">Права приложения</td>
                        <td class="tbl-attestation-val">
                          <select formControlName="root" name="root" class="custom-select" id="root" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                            <option selected disabled value="" class="placeholder">Не выбрано</option>
                            <option *ngFor="let root of allAttestationActions" [ngValue]="root.key">{{root.value}}</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td class="tbl-attestation-title">Целостность каналов</td>
                        <td class="tbl-attestation-val">
                          <select formControlName="channelIntegrity" name="channelIntegrity" class="custom-select" id="channelIntegrity" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                            <option selected disabled value="" class="placeholder">Не выбрано</option>
                            <option *ngFor="let channelIntegrity of allAttestationActions" [ngValue]="channelIntegrity.key">{{channelIntegrity.value}}</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td class="tbl-attestation-title">Гео-позиция</td>
                        <td class="tbl-attestation-val">
                          <select formControlName="geoPosition" name="geoPosition" class="custom-select" id="geoPosition" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                            <option selected disabled value="" class="placeholder">Не выбрано</option>
                            <option *ngFor="let geoPosition of allAttestationActions" [ngValue]="geoPosition.key">{{geoPosition.value}}</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td class="tbl-attestation-title">Частота транзакций</td>
                        <td class="tbl-attestation-val">
                          <select formControlName="velocity" name="velocity" class="custom-select" id="velocity" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                            <option selected disabled value="" class="placeholder">Не выбрано</option>
                            <option *ngFor="let velocity of allAttestationActions" [ngValue]="velocity.key">{{velocity.value}}</option>
                          </select>
                        </td>
                      </tr>
                    </table>
                    <br>
                    <button class="btn btn-transenix">Сохранить</button>
                  </form>
                </div>

              </div>
            </perfect-scrollbar>
          </div>
            </td>
          </tr>
          </tbody>
        </table>

      </perfect-scrollbar>
    </div>
    <!-- /Container: List Items -->

  </div>
