  <!-- Container: List Items -->
  <div class="container">
    <div style="padding-bottom: 5px;">
      <table>
        <tr>
          <td><button (click)="goBack()" title="Вернуться к предыдущей странице">&#8629;</button></td>
          <td><button (click)="pageRefresh()" title="Обновить">&#x21bb;</button></td>
        </tr>
      </table>
    </div>

    <table class="table" border="1" style="width:0;">
      <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
      <tr>
        <th>Роли</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">
              <table>
                <tr>
                  <td>
                    <table width="500" border="0">
                      <tr>
                        <th width="200">Код</th>
                        <th width="200">Описание</th>
                        <th></th>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                      <perfect-scrollbar class="scroll-container" fxFlex="auto">
                        <table class="table table-striped" width="500" border="0">
                          <tbody>
                          <ng-container *ngFor="let userRole of userRoles">
                            <tr class="found" (click)="selectUserRoleCode(userRole)">
                              <div *ngIf="userRole.roleCode === selectedUserRoleCode">
                                <td width="200" style="background: rgba(70, 70, 70, 0.200);">{{ userRole.roleCode }}</td>
                                <td width="200" style="background: rgba(70, 70, 70, 0.200);"><div style="border:0; max-width:140px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ userRole.description }}</div></td>
                                <td width="100" style="background: rgba(70, 70, 70, 0.200);"></td>
                              </div>
                              <div *ngIf="userRole.roleCode != selectedUserRoleCode">
                                <td width="200">{{ userRole.roleCode }}</td>
                                <td width="200"><div style="border:0; max-width:140px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ userRole.description }}</div></td>
                                <td width="100"></td>
                              </div>
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </perfect-scrollbar>
                    </div>
                  </td>
                </tr>
              </table>
            </perfect-scrollbar>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /Container: List Items -->


  <!-- Container: Selected Item (UserRole) -->
  <div class="card text-center" style="position: absolute; margin-left: 573px; height: 707px; margin-top: -723px; border: solid #00275e 1px;" *ngIf="selectedUserRole">
    <div class="card-header card-header">
      <table width="410">
        <tr>
          <td align="left">{{ selectedUserRole.roleCode }}</td>
          <td align="right"><button (click)="closeUserRole()">X</button></td>
        </tr>
      </table>
    </div>

    <div class="content-container-card" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">
        <div class="col-sm-12 offset-sm-2" style="margin-left:0;">
          <div class="info-form">

            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <table width="400" cellpadding="4">
                  <tr><td colspan="2"> &nbsp; </td></tr>
<!--                  <tr *ngIf="selectedUserRole.roleCode != null">-->
<!--                    <td align="right" width="80">-->
<!--                      <label for="roleCode">Код</label>-->
<!--                    </td>-->
<!--                    <td align="left" width="280">-->
<!--                      <span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedUserRole.roleCode }}</span>-->
<!--                    </td>-->
<!--                  </tr>-->
                  <tr>
                    <td width="80" align="right">
                      <label for="description">Описание</label>
                    </td>
                    <td align="left" width="280">
                      <input type="text" formControlName="description" name="description" class="form-control" id="description" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
<!--                  <tr>-->
<!--                    <td align="right">-->
<!--                      <label for="roleAuthorities">Привилегии</label>-->
<!--                    </td>-->
<!--                    <td align="left">-->
<!--                      <ng-multiselect-dropdown [placeholder]="'Не выбрано'"-->
<!--                                               [data]="allUserAuthorities"-->
<!--                                               formControlName="roleAuthorities"-->
<!--                                               [settings]="userAuthoritiesSettings"-->
<!--                                               (onSelect)="onItemSelect($event)"-->
<!--                                               (onSelectAll)="onSelectAll($event)"-->
<!--                                               name="roleAuthorities" id="roleAuthorities">-->
<!--                      </ng-multiselect-dropdown>-->
<!--                    </td>-->
<!--                  </tr>-->
                  <tr><td colspan="2"> &nbsp; </td></tr>
                  <tr>
                    <td colspan="2">
                      <table border="1" class="custom-control custom-checkbox">
                        <tr>
                          <th width="190" nowrap> <font size="4">{{ selectedUserRole.description }}</font> </th>
                          <th width="70" nowrap>View</th>
                          <th width="70" nowrap>Edit</th>
                          <th width="70" nowrap>Create</th>
                        </tr>
                        <tr>
                          <td nowrap> <b>Horizontal menu</b> </td>
                          <td colspan="3"></td>
<!--                          <td>-->
<!--                            <input type="checkbox" id="horizontalMenuView" name="horizontalMenuView" checked>-->
<!--&lt;!&ndash;                            <label>&ndash;&gt;-->
<!--&lt;!&ndash;                              <input type="checkbox" formControlName="selectAll" (change)="onChanges()">all&ndash;&gt;-->
<!--&lt;!&ndash;                            </label>&ndash;&gt;-->
<!--&lt;!&ndash;                            <label formArrayName="musicPreferences" *ngFor="let genre of musicForm.controls['musicPreferences'].controls; let i = index">&ndash;&gt;-->
<!--&lt;!&ndash;                              <input type="checkbox" [formControlName]="i"> {{ musicPreferences[i].genre }}&ndash;&gt;-->
<!--&lt;!&ndash;                            </label>&ndash;&gt;-->
<!--                          </td>-->
<!--                          <td><input type="checkbox" id="horizontalMenuEdit" name="horizontalMenuEdit" checked></td>-->
<!--                          <td><input type="checkbox" id="horizontalMenuCreate" name="horizontalMenuCreate" checked></td>-->
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Payment systems</td>
                          <td *ngFor="let paymentSystem of selectedUserRole.groupGrants.paymentSystems.controls">
                            <input type="checkbox" class="custom-control-input" id="paymentSystems{{ paymentSystem.value.name }}" name="paymentSystems{{ paymentSystem.value.name }}" [checked]="paymentSystem.value.val">
                            <label class="custom-control-label" for="paymentSystems{{ paymentSystem.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; System keys</td>
                          <td *ngFor="let systemKey of selectedUserRole.groupGrants.systemKeys.controls">
                            <input type="checkbox" class="custom-control-input" id="systemKeys{{ systemKey.value.name }}" name="systemKeys{{ systemKey.value.name }}" [checked]="systemKey.value.val">
                            <label class="custom-control-label" for="systemKeys{{ systemKey.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Payment system keys</td>
                          <td *ngFor="let paymentSystemKey of selectedUserRole.groupGrants.paymentSystemKeys.controls">
                            <input type="checkbox" class="custom-control-input" id="paymentSystemKeys{{ paymentSystemKey.value.name }}" name="paymentSystemKeys{{ paymentSystemKey.value.name }}" [checked]="paymentSystemKey.value.val">
                            <label class="custom-control-label" for="paymentSystemKeys{{ paymentSystemKey.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; General settings</td>
                          <td *ngFor="let generalSetting of selectedUserRole.groupGrants.generalSettings.controls">
                            <input type="checkbox" class="custom-control-input" id="generalSettings{{ generalSetting.value.name }}" name="generalSettings{{ generalSetting.value.name }}" [checked]="generalSetting.value.val">
                            <label class="custom-control-label" for="generalSettings{{ generalSetting.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Attestation parameters</td>
                          <td *ngFor="let attestationParameter of selectedUserRole.groupGrants.attestationParameters.controls">
                            <input type="checkbox" class="custom-control-input" id="attestationParameters{{ attestationParameter.value.name }}" name="attestationParameters{{ attestationParameter.value.name }}" [checked]="attestationParameter.value.val">
                            <label class="custom-control-label" for="attestationParameters{{ attestationParameter.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td nowrap> <b>Vertical menu</b> </td>
                          <td colspan="3"></td>
<!--                          <td><input type="checkbox" id="verticalMenuView" name="verticalMenuView" checked></td>-->
<!--                          <td><input type="checkbox" id="verticalMenuEdit" name="verticalMenuEdit" checked></td>-->
<!--                          <td><input type="checkbox" id="verticalMenuCreate" name="verticalMenuCreate" checked></td>-->
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Merchant</td>
                          <td *ngFor="let merchant of selectedUserRole.groupGrants.merchant.controls">
                            <input type="checkbox" class="custom-control-input" id="merchant{{ merchant.value.name }}" name="merchant{{ merchant.value.name }}" [checked]="merchant.value.val">
                            <label class="custom-control-label" for="merchant{{ merchant.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Terminal</td>
                          <td *ngFor="let terminal of selectedUserRole.groupGrants.terminal.controls">
                            <input type="checkbox" class="custom-control-input" id="terminal{{ terminal.value.name }}" name="terminal{{ terminal.value.name }}" [checked]="terminal.value.val">
                            <label class="custom-control-label" for="terminal{{ terminal.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Terminal groups</td>
                          <td *ngFor="let terminalGroup of selectedUserRole.groupGrants.terminalGroups.controls">
                            <input type="checkbox" class="custom-control-input" id="terminalGroups{{ terminalGroup.value.name }}" name="terminalGroups{{ terminalGroup.value.name }}" [checked]="terminalGroup.value.val">
                            <label class="custom-control-label" for="terminalGroups{{ terminalGroup.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Products</td>
                          <td *ngFor="let product of selectedUserRole.groupGrants.products.controls">
                            <input type="checkbox" class="custom-control-input" id="products{{ product.value.name }}" name="products{{ product.value.name }}" [checked]="product.value.val">
                            <label class="custom-control-label" for="products{{ product.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Receipt Template</td>
                          <td *ngFor="let receiptTemplate of selectedUserRole.groupGrants.receiptTemplate.controls">
                            <input type="checkbox" class="custom-control-input" id="receiptTemplate{{ receiptTemplate.value.name }}" name="receiptTemplate{{ receiptTemplate.value.name }}" [checked]="receiptTemplate.value.val">
                            <label class="custom-control-label" for="receiptTemplate{{ receiptTemplate.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Terminal keys</td>
                          <td *ngFor="let terminalKey of selectedUserRole.groupGrants.terminalKeys.controls">
                            <input type="checkbox" class="custom-control-input" id="terminalKeys{{ terminalKey.value.name }}" name="terminalKeys{{ terminalKey.value.name }}" [checked]="terminalKey.value.val">
                            <label class="custom-control-label" for="terminalKeys{{ terminalKey.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Schedule</td>
                          <td *ngFor="let schedule of selectedUserRole.groupGrants.schedule.controls">
                            <input type="checkbox" class="custom-control-input" id="schedule{{ schedule.value.name }}" name="schedule{{ schedule.value.name }}" [checked]="schedule.value.val">
                            <label class="custom-control-label" for="schedule{{ schedule.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Transactions</td>
                          <td *ngFor="let transaction of selectedUserRole.groupGrants.transactions.controls">
                            <input type="checkbox" class="custom-control-input" id="transactions{{ transaction.value.name }}" name="transactions{{ transaction.value.name }}" [checked]="transaction.value.val">
                            <label class="custom-control-label" for="transactions{{ transaction.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Application Languages</td>
                          <td *ngFor="let applicationLanguage of selectedUserRole.groupGrants.applicationLanguages.controls">
                            <input type="checkbox" class="custom-control-input" id="applicationLanguages{{ applicationLanguage.value.name }}" name="applicationLanguages{{ applicationLanguage.value.name }}" [checked]="applicationLanguage.value.val">
                            <label class="custom-control-label" for="applicationLanguages{{ applicationLanguage.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Attestation history</td>
                          <td *ngFor="let attestationHistory of selectedUserRole.groupGrants.attestationHistory.controls">
                            <input type="checkbox" class="custom-control-input" id="attestationHistory{{ attestationHistory.value.name }}" name="attestationHistory{{ attestationHistory.value.name }}" [checked]="attestationHistory.value.val">
                            <label class="custom-control-label" for="attestationHistory{{ attestationHistory.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Receipt requests</td>
                          <td *ngFor="let receiptRequest of selectedUserRole.groupGrants.receiptRequests.controls">
                            <input type="checkbox" class="custom-control-input" id="receiptRequests{{ receiptRequest.value.name }}" name="receiptRequests{{ receiptRequest.value.name }}" [checked]="receiptRequest.value.val">
                            <label class="custom-control-label" for="receiptRequests{{ receiptRequest.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Analytics</td>
                          <td *ngFor="let analytic of selectedUserRole.groupGrants.analytics.controls">
                            <input type="checkbox" class="custom-control-input" id="analytics{{ analytic.value.name }}" name="analytics{{ analytic.value.name }}" [checked]="analytic.value.val">
                            <label class="custom-control-label" for="analytics{{ analytic.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Monitoring</td>
                          <td *ngFor="let monitoring of selectedUserRole.groupGrants.monitoring.controls">
                            <input type="checkbox" class="custom-control-input" id="monitoring{{ monitoring.value.name }}" name="monitoring{{ monitoring.value.name }}" [checked]="monitoring.value.val">
                            <label class="custom-control-label" for="monitoring{{ monitoring.value.name }}"></label>
                          </td>
                        </tr>
                        <tr>
                          <td align="left" nowrap> &nbsp; Create user</td>
                          <td *ngFor="let createUser of selectedUserRole.groupGrants.createUser.controls">
                            <input type="checkbox" class="custom-control-input" id="createUser{{ createUser.value.name }}" name="createUser{{ createUser.value.name }}" [checked]="createUser.value.val">
                            <label class="custom-control-label" for="createUser{{ createUser.value.name }}"></label>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td colspan="2" height="40"> &nbsp; </td></tr>
                  <tr>
                    <td colspan="2">
                      <div style="text-align: center; padding-bottom: 5px;">
                        <button class="btn btn-transenix">Сохранить</button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
  <!-- /Container: Selected Item (UserRole) -->
