  <!-- Container: List Items -->
  <div class="container">
    <div style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button disabled>&#x2714;</button>
      </span>
    </div>


    <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
      <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
      <tr>
        <th class="table-attestation-history">История аттестаций</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">

              <div id="attestation-history-table" stTable #table="stTable" style="margin-top: -7px;">
                <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

                <span style="margin-top: -66px; margin-left: 22px; position: fixed;">
                  <button (click)="pagerRefrash.selectPage(1)" title="Обновить">&#x21bb;</button>
                </span>
                <span stPagination #pagerRefrash="stPagination" style="margin-top: -66px; margin-left: 52px; position: fixed;">
                  <button (click)="pagerRefrash.selectPage(1)" title="Фильтр">&fnof;</button>
                </span>

          <!--      <div>-->
          <!--        <label>-->
          <!--          <span>ID</span>-->
          <!--          <input placeholder="id" type="text" stFilter="id" />-->
          <!--        </label>-->
          <!--        <label>-->
          <!--          <span>First name</span>-->
          <!--          <input placeholder="First name" type="text" stFilter="name.first" />-->
          <!--        </label>-->
          <!--        <label>-->
          <!--          <span>Last name</span>-->
          <!--          <input placeholder="Last name" type="text" stFilter="name.last" />-->
          <!--        </label>-->
          <!--        <label>-->
          <!--          <span>Birth date</span>-->
          <!--          <input type="date" stFilterOperator="gt" stFilterType="date" stFilter="birthDate" />-->
          <!--        </label>-->
          <!--        <label>-->
          <!--          <span>Job</span>-->
          <!--          <select name="job" stFilter="job" stFilterOperator="is">-->
          <!--            <option value="">-</option>-->
          <!--            <option value="dev">DEV</option>-->
          <!--            <option value="manager">MANAGER</option>-->
          <!--            <option value="qa">QA</option>-->
          <!--          </select>-->
          <!--        </label>-->
          <!--        <label>-->
          <!--          <span>Balance</span>-->
          <!--          <input type="number" placeholder="Balance" stFilterOperator="lt" stFilterType="number" stFilter="balance" />-->
          <!--        </label>-->
          <!--      </div>-->

                <table>
                  <thead>
                  <tr>
                    <th stSort="id">Идентификатор</th>
                    <th>Фаза</th>
                    <th>Время отправления</th>
                    <th>Целостность приложения</th>
                    <th>Права приложения</th>
                    <th>Тестирование приложения</th>
                    <th>Эмуляция приложения</th>
                    <th>Гео-позиция</th>
                    <th>Частота транзакций</th>
                    <th>Целостность каналов</th>
                    <th>Статус</th>
                    <th>Устройство</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let attestation of table.items">
<!--                    <td nowrap>{{ attestation.value.id.substring(0, 15) }}</td>-->
                    <td nowrap>{{ attestation.value.id }}</td>
                    <td align="right" nowrap>{{ attestation.value.attestationPhase | uppercase }}</td>
                    <td align="right" nowrap>{{ attestation.value.date | date : 'dd.MM.yyyy' }}</td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.integrity">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.integrity">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.root">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.root">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.debug">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.debug">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.emulator">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.emulator">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.geoPosition">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.geoPosition">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.velocity">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.velocity">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.channelIntegrity">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.channelIntegrity">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.declined">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.declined">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <a routerLink="/terminal">{{ attestation.value.device.deviceName }}</a>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div stPagination #pager="stPagination" style="margin: auto; width: 150px;">
                  <button (click)="pager.selectPage(1)" [disabled]="!pager.isPreviousPageEnabled()" title="В начало">|&#x25C4;</button>
                  <button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Предыдущая">&#x25C4;</button>
                  <p style="margin-top: 15px;"><em>{{pager.page}}</em> из <em>{{(pager.length/pager.size).toPrecision(2)}}</em></p>
                  <button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Следующая">&#x25BA;</button>
                </div>
              </div>

            </perfect-scrollbar>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /Container: List Items -->


  <!-- Container: Selected Item (AttestationHistory) -->
  <div class="card text-center" style="position: absolute; margin-left: 733px; height: 748px; margin-top: -765px; border: solid #00275e 1px;" *ngIf="selectedAttestation">
    <div class="card-header card-header">
      <table width="370">
        <tr>
<!--          <td align="left">{{selectedAttestation.action}}</td>-->
          <td align="right"><button (click)="closeAttestation()">X</button></td>
        </tr>
      </table>
    </div>

    <div class="content-container-card" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">
        <div class="col-sm-12 offset-sm-2" style="margin-left:0;">
          <div class="info-form">

            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <table width="360" cellpadding="4">
<!--                  <tr *ngIf="selectedAttestation.action != null">-->
<!--                    <td align="right" width="140">-->
<!--                      <label for="action">Действие</label>-->
<!--                    </td>-->
<!--                    <td align="left" width="200">-->
<!--                      <span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedAttestation.action }}</span>-->
<!--                    </td>-->
<!--                  </tr>-->
                  <tr>
                    <td align="right" width="140">
                      <label for="action">Действие</label>
                    </td>
                    <td width="200">
                      <input type="text" formControlName="action" name="action" class="form-control" id="action" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right" width="140">
                      <label for="actionWeight">Вес</label>
                    </td>
                    <td width="200">
                      <input type="number" formControlName="actionWeight" name="actionWeight" class="form-control" id="actionWeight" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                </table>
              </div>
              <div style="text-align: center; padding-bottom: 5px;">
                <button class="btn btn-transenix">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
  <!-- /Container: Selected Item (AttestationHistory) -->
