  <!-- Container: List Items -->
  <div class="container">
    <div style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button disabled>&#x2714;</button>
      </span>
      <div class="control-section" style="padding-bottom: 5px;">
        <span stFilter #filt="stFilter" style="margin-top: -26px; margin-left: 30px; position: fixed;">
<!--          <button (click)="pagerRefrash.selectPage(1)" title="Обновить">&#x21bb;</button>-->
          <button (click)="filt.filter('')" title="Обновить">&#x21bb;</button>
        </span>
        <span stPagination #pagerRefrash="stPagination" style="margin-top: -26px; margin-left: 60px; position: fixed;">
          <button ejs-button id='btnOpenFilterMerchant' #btnOpenFilterMerchant (click)="openFilterMerchant()" title="Фильтр">&fnof;</button>
        </span>
<!--        <span style="margin-top: -26px; margin-left: 90px; position: fixed;" title="Очистить фильтр">-->
<!--          <button disabled>&#9940;</button>-->
<!--        </span>-->
        <ejs-dialog #filterMerchant id="filterMerchant"
                    style="display: none;"
                    [isModal]='isModalFilter'
                    [animationSettings]='animationSettings'
                    [showCloseIcon]='showCloseIcon'
                    [target]='".control-section"'
                    [width]='"400px"'
                    (open)="onFilterMerchant()"
                    (close)="offFilterMerchant()">
          <form [formGroup]="filterForm">
            <ng-template #header>
              <div id="dlg-template" class="e-icon-settings"> Фильтр </div>
            </ng-template>
            <ng-template #content>
              <div class="dialogContent">
                <label>
                  <span>Идентификатор устройства</span>
                  <input type="text" placeholder="Не выбрано" stFilterOperator="lt" stFilterType="text" stFilter="deviceSn" style="width: 192px" />
                </label>
                <label>
                  <span>Устройство</span>
                  <input type="text" placeholder="Не выбрано" stFilterOperator="lt" stFilterType="text" stFilter="deviceName" style="width: 192px" />
                </label>
                <label>
                  <span>Фаза</span>
                  <select stFilter="attestationPhase" style="width: 192px">
                    <option selected value="" class="placeholder">Не выбрано</option>
                    <option value="START">START</option>
                    <option value="RANDOM">RANDOM</option>
                    <option value="PURCHASE">PURCHASE</option>
                    <option value="UNKNOWN">UNKNOWN</option>
                  </select>
                </label>
                <label>
                  <span>Дата отправления</span>
                  <input type="date" placeholder="Не выбрано" stFilterOperator="gt" stFilterType="date" stFilter="date" style="width: 192px" />
                </label>
              </div>
            </ng-template>
            <ng-template #footerTemplate>
              <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApply" value="Применить">
              <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancel" value="Сбросить">
            </ng-template>
          </form>
        </ejs-dialog>
      </div>
    </div>


    <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
      <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
      <tr>
        <th class="table-attestation-history">История аттестаций</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">

              <div id="attestation-history-table" stTable #table="stTable" style="margin-top: -7px;">
                <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

                <table>
                  <thead>
                  <tr>
                    <th>Идентификатор устройства</th>
                    <th>Устройство</th>
                    <th stSort="attestationPhase">Фаза</th>
                    <th stSort="declined">Статус</th>
<!--                    <th stSort="date">Дата и время отправления</th>-->
                    <th stSort="date">Дата отправления</th>
                    <th>Время отправления</th>
                    <th>Целостность приложения</th>
                    <th>Права приложения</th>
                    <th>Тестирование приложения</th>
                    <th>Эмуляция приложения</th>
                    <th>Гео-позиция</th>
                    <th>Частота транзакций</th>
                    <th>Целостность каналов</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let attestation of table.items">
                    <td align="center" nowrap>
                      <div stFilter #filt="stFilter">
                        <a routerLink="/attestation-history" (click)="filt.filter(attestation.value.device.deviceSn)">{{ attestation.value.device.deviceSn }}</a>
                      </div>
                    </td>
                    <td align="center" nowrap>
                      <a routerLink="/terminal">{{ attestation.value.device.deviceName }}</a>
                    </td>
                    <td align="right" nowrap>{{ attestation.value.attestationPhase | uppercase }}</td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.declined">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.declined">&#x2718;</div>
                    </td>
<!--                    <td align="center" style="font-size:12px; line-height:10px;">-->
<!--                      <span style="margin-left: auto;">{{ attestation.value.date | date : 'dd.MM.yyyy' }}<br>{{ attestation.value.date | date : 'hh:mm:ss' }}</span>-->
<!--                    </td>-->
                    <td align="right" nowrap>{{ attestation.value.date | date : 'dd.MM.yyyy' }}</td>
                    <td align="right" nowrap>{{ attestation.value.date | date : 'hh:mm:ss' }}</td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.integrity">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.integrity">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.root">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.root">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.debug">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.debug">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.emulator">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.emulator">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.geoPosition">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.geoPosition">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.velocity">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.velocity">&#x2718;</div>
                    </td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === attestation.value.channelIntegrity">&#x2714;</div>
                      <div *ngIf="'N' === attestation.value.channelIntegrity">&#x2718;</div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div stPagination #pager="stPagination" style="margin: auto; width: 150px;">
                  <button (click)="pager.selectPage(1)" [disabled]="!pager.isPreviousPageEnabled()" title="В начало">|&#x25C4;</button>
                  <button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Предыдущая">&#x25C4;</button>
                  <p style="margin-top: 15px;"><em>{{pager.page}}</em> из <em>{{(pager.length/pager.size).toPrecision(2)}}</em></p>
                  <button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Следующая">&#x25BA;</button>
                </div>
              </div>

            </perfect-scrollbar>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /Container: List Items -->
