<!-- Container: List Items -->
<div class="container">
  <table class="table" border="1" style="width:0;">
    <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
    <tr>
      <th> Шаблон чека </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
          <perfect-scrollbar class="scroll-container" fxFlex="auto">
            <table>
              <tr>
                <td>
                  <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                    <perfect-scrollbar class="scroll-container" fxFlex="auto">

                      <table width="650">
                        <tr>
                          <td>

                            <!DOCTYPE html>
                            <html lang="en">
                            <head>
                              <meta charset="UTF-8">
                              <meta name="viewport" content="width=device-width, initial-scale=1.0">
                              <meta http-equiv="X-UA-Compatible" content="ie=edge">
                              <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
                              <title>bill</title>
                            </head>
                            <body>
                            <div class="bill-block">
                              <div>
                                <span>parameters: m_name</span>
                                <span class="bill-block__text--borderBig">г. Киев, вул. Гарматна, 51 А</span>
                                <p>
                                  <span>Касир:</span>
                                  <span></span>
                                </p>
                                <p>
                                  <span>ID термінал:</span>
                                  <code>parameters: term_id</code>
                                </p>
                                <p>
                                  <span>ID точки:</span>
                                  <code>parameters: merch_id</code>
                                </p>
                                <code class="bill-block__text--bold">ЧЕК parameters: rec_num</code>
                                <span class="bill-block__text--bold">оплата</span>
                                <p class="bill-block__text--borderSmall">
                                  <span>сума:</span>
                                  <code class="bill-block__text--bold">"parameters: amount" UAH</code>
                                </p>
                                <p>
                                  <span>Master Sale</span>
                                  <span>0</span>
                                </p>
                                <p>
                                  <code>**** **** **** ****</code>
                                  <span>**/**</span>
                                </p>

                                <span class="bill-block__text--result bill-block__text--bold">Успішно</span>

                                <p>
                                  <span>КОД ВІДПОВІДІ</span>
                                  <code>parameters: resp_code</code>
                                </p>
                                <p>
                                  <span>КОД АВТОРИЗАЦІЇ</span>
                                  <code>parameters: auth_code</code>
                                </p>
                                <p>
                                  <span>НОМЕР ПОСИЛАННЯ</span>
                                  <code>parameters: rrn</code>
                                </p>
                                <p>
                                  <span>ПОРЯД. НОМЕР</span>
                                  <code>parameters: seq_num</code>
                                </p>
                                <p class="bill-block__text--borderBig">
                                  <code>дата **/**/****</code>
                                  <code>Час **:**:**</code>
                                </p>
                                <span>клієнт ____________________________________________</span>
                                <span  class="bill-block__text--borderBig bill-block__text--right">name/ parameters: client_name</span>
                                <span class="bill-block__text--bold">Дякуємо</span>
                              </div>
                            </div>
                            </body>
                            </html>

                          </td>
                        </tr>
                      </table>

                    </perfect-scrollbar>
                  </div>
                </td>
              </tr>
            </table>
          </perfect-scrollbar>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Container: List Items -->
