  <!-- Container: List Items -->
  <div class="container">
    <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button (click)="goBack()" title="Вернуться к предыдущей странице">&#8629;</button>
      </span>
      <span stFilter #stFilter="stFilter" style="padding-right: 3px;">
        <button routerLink="/terminal" [queryParams]="{}" (click)="stFilter.filter(btnFilter('terminalId=&groupNumber=&dateTimeInit=&merchantName=&legalName=&status='))" title="Обновить">&#x21bb;</button>
      </span>
      <button ejs-button id='btnOpenFilter' #btnOpenFilter (click)="openFilter()" title="Фильтр">&fnof;</button>
      <span style="position: absolute; padding-left: 3px;">
        <div *ngIf="selectedTerminalDeviceSn!=null">
          <button routerLink="/attestation-history" [queryParams]="{deviceSn:selectedTerminalDeviceSn}" title="Показать историю аттестаций">A</button>
        </div>
        <div *ngIf="selectedTerminalDeviceSn==null">
          <button title="История аттестаций" disabled>A</button>
        </div>
      </span>

      <ejs-dialog #filter id="filter"
                  style="display: none;"
                  [isModal]='isModalFilter'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"415px"'
                  (open)="onFilter()"
                  (close)="offFilter()">
        <form [formGroup]="filterForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings">{{ dataService.translate('terminal.filter.title') | translate }} {{ title }}</div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent">
<!--              <label class="checkbox">-->
<!--                <span>Угрозы</span>-->
<!--                <input type="checkbox"/>-->
<!--                <span class="overlay">-->
<!--                  <svg-->
<!--                    xmlns="http://www.w3.org/2000/svg"-->
<!--                    width="26"-->
<!--                    height="26"-->
<!--                    viewBox="0 0 26 26"-->
<!--                    fill="none"-->
<!--                    stroke="currentColor"-->
<!--                    stroke-width="2"-->
<!--                    stroke-linecap="round"-->
<!--                    stroke-linejoin="round"-->
<!--                    class="icon">-->
<!--                    <polyline points="20 6 9 17 4 12"/>-->
<!--                  </svg>-->
<!--                </span>-->
<!--              </label>-->

              <label>
                <span>Номер терминала</span>
                <input type="text" formControlName="terminalId" stFilterOperator="lt" stFilterType="text" stFilter="terminalId" style="width: 255px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Номер группы</span>
                <input type="text" formControlName="groupNumber" stFilterOperator="lt" stFilterType="text" stFilter="groupNumber" style="width: 255px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Дата регистрации</span>
                <input type="date" formControlName="dateTimeInit" stFilterOperator="gt" stFilterType="date" stFilter="dateTimeInit" style="width: 255px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Наименование торговца</span>
                <input type="text" formControlName="merchantName" stFilterOperator="lt" stFilterType="text" stFilter="merchantName" style="width: 255px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Торговец</span>
                <input type="text" formControlName="legalName" stFilterOperator="lt" stFilterType="text" stFilter="legalName" style="width: 255px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Статус</span>
              </label>
              <p style="margin-top: -20px; margin-bottom: 0; margin-left: 161px;">
                <select formControlName="status" stFilter="status" style="width: 210px !important; height: 28px;">
                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                  <option *ngFor="let status of takeTerminalStatuses" [ngValue]="status.key">{{status.value}}</option>
                </select>
              </p>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <div stFilter #stFilter="stFilter">
              <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApply" value="Ok">
              <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancel" (click)="stFilter.filter(btnFilter('terminalId=&groupNumber=&dateTimeInit=&merchantName=&legalName=&status='))" value="Сбросить">
            </div>
          </ng-template>
        </form>
      </ejs-dialog>
    </div>

    <div class="control-section" style="padding-bottom: 5px;">
      <ejs-dialog #edit id="edit"
                  style="display: none;"
                  [isModal]='isModalEdit'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"560px"'
                  (open)="onEdit()"
                  (close)="offEdit()">
        <form [formGroup]="editForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings" *ngIf="selectedTerminal!=null"> {{ selectedTerminal.terminalId }} </div>
            <div id="dlg-template" class="e-icon-settings" *ngIf="selectedTerminal==null"> </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent dialog-content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
              <perfect-scrollbar class="scroll-container" fxFlex="auto">
                <label>
                  <span>Номер группы</span>
                </label>
                <div *ngIf="selectedTerminal!=null">
                  <p style="margin-top: -19px; margin-left: 297px;"><a routerLink="/terminal" (click)="selectServiceGroupByNumber(selectedTerminal.groupNumber)">{{ selectedTerminal.groupNumber }}</a></p>
                </div>
                <label>
                  <span>Дата регистрации</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.dateTimeInit | date : 'dd.MM.yyyy' }}" name="dateTimeInit" class="form-control" id="dateTimeInit" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>Торговец</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.legalName }}" name="legalName" class="form-control" id="legalName" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>ИНН</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.taxId }}" name="taxId" class="form-control" id="taxId" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>Банк</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.bankName }}" name="bankName" class="form-control" id="bankName" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>Валюта</span>
                  <select formControlName="currencyCode" name="currencyCode" class="custom-select" id="currencyCode" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let currencyCode of takeCurrencies" [ngValue]="currencyCode.code">{{currencyCode.letterCode}}</option>
                  </select>
                </label>
                <label>
                  <span>Наименование торговца</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.merchantName }}" name="merchantName" class="form-control" id="merchantName" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>Дополнительная строка на чеке</span>
                  <input type="text" formControlName="addData" name="addData" class="form-control" id="addData" style="max-width: 231px;" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>MCC</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.mcc }}" name="mcc" class="form-control" id="mcc" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
<!--                <label>-->
<!--                  <span style="padding-top: 10px; padding-bottom: 10px;">Язык</span>-->
<!--                </label>-->
<!--                <p style="margin-top: -39px; margin-bottom: 0; margin-left: 285px; width: 231px;">-->
<!--                  <ng-multiselect-dropdown [placeholder]="'Не выбрано'"-->
<!--                                           [data]="allAllowedLanguages"-->
<!--                                           formControlName="allowedLanguages"-->
<!--                                           [settings]="allowedLanguagesSettings"-->
<!--                                           (onSelect)="onItemSelect($event)"-->
<!--                                           (onSelectAll)="onSelectAll($event)"-->
<!--                                           name="allowedLanguages" id="allowedLanguages">-->
<!--                  </ng-multiselect-dropdown>-->
<!--                </p>-->
                <label>
                  <span>Операция Pay-QR</span>
                  <select formControlName="opQr" name="opQr" class="custom-select" id="opQr" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opQr of takeChoices" [ngValue]="opQr.key">{{opQr.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Операция Pay-NFS</span>
                  <select formControlName="opPurchase" name="opPurchase" class="custom-select" id="opPurchase" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opPurchase of takeChoices" [ngValue]="opPurchase.key">{{opPurchase.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Операция Entry-Mode</span>
                  <select formControlName="opManual" name="opManual" class="custom-select" id="opManual" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opManual of takeChoices" [ngValue]="opManual.key">{{opManual.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Отмена операции</span>
                  <select formControlName="opReversal" name="opReversal" class="custom-select" id="opReversal" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opReversal of takeChoices" [ngValue]="opReversal.key">{{opReversal.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Возврат операции</span>
                  <select formControlName="opRefund" name="opRefund" class="custom-select" id="opRefund" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opRefund of takeChoices" [ngValue]="opRefund.key">{{opRefund.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Ввод пин-кода</span>
                  <select formControlName="opPin" name="opPin" class="custom-select" id="opPin" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opPin of takeChoices" [ngValue]="opPin.key">{{opPin.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Определение геопозиции</span>
                  <select formControlName="geoPosition" name="geoPosition" class="custom-select" id="geoPosition" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let geoPosition of takeChoices" [ngValue]="geoPosition.key">{{geoPosition.value}}</option>
                  </select>
                </label>
                <label>
                  <span style="padding-top: 10px; padding-bottom: 10px;">Каналы отправки</span>
                </label>
                <p style="margin-top: -39px; margin-bottom: 0; margin-left: 285px; width: 231px;">
                  <ng-multiselect-dropdown [placeholder]="'Не выбрано'"
                                           [data]="allReceiptSendChannels"
                                           formControlName="receiptSendChannels"
                                           [settings]="receiptSendChannelsSettings"
                                           (onSelect)="onSelectReceiptSendChannels($event)"
                                           (onSelectAll)="onSelectAllReceiptSendChannels($event)"
                                           (onDeSelect)="onDeSelectReceiptSendChannels($event)"
                                           (onDeSelectAll)="onDeSelectAllReceiptSendChannels($event)"
                                           (onDropDownClose)="onDropDownCloseReceiptSendChannels()"
                                           name="receiptSendChannels" id="receiptSendChannels">
                  </ng-multiselect-dropdown>
                </p>
                <label>
                  <span style="padding-top: 10px; padding-bottom: 10px;">Прием карт</span>
                </label>
                <p style="margin-top: -39px; margin-bottom: 0; margin-left: 285px; width: 231px;">
                  <ng-multiselect-dropdown [placeholder]="'Не выбрано'"
                                           [data]="allIpsNames"
                                           formControlName="ipsNames"
                                           [settings]="ipsNamesSettings"
                                           (onSelect)="onItemSelect($event)"
                                           (onSelectAll)="onSelectAll($event)"
                                           name="ipsNames" id="ipsNames">
                  </ng-multiselect-dropdown>
                </p>
                <label>
                  <span style="padding-top: 10px; padding-bottom: 10px;">Идентификатор продукта</span>
                </label>
                <p style="margin-top: -39px; margin-bottom: 0; margin-left: 285px; width: 231px;">
                  <ng-multiselect-dropdown [placeholder]="'Не выбрано'"
                                           [data]="allProductIds"
                                           formControlName="productIds"
                                           [settings]="productIdsSettings"
                                           (onSelect)="onItemSelect($event)"
                                           (onSelectAll)="onSelectAll($event)"
                                           name="productIds" id="productIds">
                  </ng-multiselect-dropdown>
                </p>
                <label>
                  <span>Шаблон чека</span>
                  <div *ngIf="selectedTerminal!=null">
                    <select formControlName="receiptTemplateId" name="receiptTemplateId" class="custom-select" id="receiptTemplateId" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let receiptTemplate of receiptTemplates" [ngValue]="receiptTemplate.id" [selected]="receiptTemplate.id === selectedTerminal.receiptTemplateId">{{receiptTemplate.id}}</option>
                    </select>
                  </div>
                </label>
                <label>
                  <span>Лимит на одну транзакцию (копейки)</span>
                  <input type="number" formControlName="oneTransactionLimit" name="oneTransactionLimit" class="form-control" id="oneTransactionLimit" style="max-width: 231px;" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Лимит без ПИНа (копейки)</span>
                  <input type="number" formControlName="noPinLimit" name="noPinLimit" class="form-control" id="noPinLimit" style="max-width: 231px;" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Лимит на общую сумму терминала (копейки)</span>
                  <input type="number" formControlName="totalAmountTerminalLimit" name="totalAmountTerminalLimit" class="form-control" id="totalAmountTerminalLimit" style="max-width: 231px;" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Общий лимит по терминалу (копейки)</span>
                  <input type="number" formControlName="totalAmountLimit" name="totalAmountLimit" class="form-control" id="totalAmountLimit" style="max-width: 231px;" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Количество операций</span>
                  <input type="number" formControlName="totalCountLimit" name="totalCountLimit" class="form-control" id="totalCountLimit" style="max-width: 231px;" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Период лимита в днях</span>
                  <input type="number" formControlName="totalLimitPeriod" name="totalLimitPeriod" class="form-control" id="totalLimitPeriod" style="max-width: 231px;" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Устройство</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.deviceName }}" name="deviceName" class="form-control" id="deviceName" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span style="padding-top: 10px; padding-bottom: 10px;">Авто Z-отчет</span>
                </label>
                <div *ngIf="selectedTerminal!=null">
                  <div *ngIf="selectedTerminal.zreportEnabledAll" style="padding-left: 299px; margin-top: -28px; padding-bottom: 10px;">
                    <a routerLink="/terminal" (click)="selectZreportTime(selectedTerminal)">Установлен</a>
                  </div>
                  <div *ngIf="!selectedTerminal.zreportEnabledAll" style="padding-left: 299px; margin-top: -28px; padding-bottom: 10px;">Не установлен</div>
                </div>
                <label>
                  <span>NFC</span>
                  <select formControlName="opNfc" name="opNfc" class="custom-select" id="opNfc" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opNfc of takeChoices" [ngValue]="opNfc.key">{{opNfc.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Статус</span>
                  <select formControlName="status" name="status" class="custom-select" id="status" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let status of takeTerminalStatuses" [ngValue]="status.key">{{status.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Дата последней транзакции</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.lastTransactionDate | date : 'dd.MM.yyyy' }}" name="lastTransactionDate" class="form-control" id="lastTransactionDate" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>Дата последнего обновления</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.lastUpdateDate | date : 'dd.MM.yyyy' }}" name="lastUpdateDate" class="form-control" id="lastUpdateDate" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>Скорость проведения транзакций</span>
                  <input type="number" formControlName="velocityCount" name="velocityCount" class="form-control" id="velocityCount" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>velocityPeriod</span>
                  <input type="number" formControlName="velocityPeriod" name="velocityPeriod" class="form-control" id="velocityPeriod" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>velocityTimeUnit</span>
                  <select formControlName="velocityTimeUnit" name="velocityTimeUnit" class="custom-select" id="velocityTimeUnit" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let velocityTimeUnit of takeVelocityTimeUnits" [ngValue]="velocityTimeUnit.key">{{velocityTimeUnit.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Повторная регистрация</span>
                  <select formControlName="repeatRegistration" name="repeatRegistration" class="custom-select" id="repeatRegistration" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let repeatRegistration of takeChoices" [ngValue]="repeatRegistration.key">{{repeatRegistration.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Долгота</span>
                  <input type="number" formControlName="latitude" name="latitude" class="form-control" id="latitude" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Широта</span>
                  <input type="number" formControlName="longitude" name="longitude" class="form-control" id="longitude" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Радиус (км)</span>
                  <input type="number" formControlName="radius" name="radius" class="form-control" id="radius" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Чаевые</span>
                  <select formControlName="opTips" name="opTips" class="custom-select" id="opTips" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opTips of takeChoices" [ngValue]="opTips.key">{{opTips.value}}</option>
                  </select>
                </label>
              </perfect-scrollbar>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyEdit" (click)="stFilter.filter(btnFilter('terminalId=&groupNumber=&dateTimeInit=&merchantName=&legalName=&status='))" value="Сохранить" [disabled]="!isButtonSave">
            <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancelEdit" value="Отменить">
          </ng-template>
        </form>
      </ejs-dialog>
    </div>

    <div class="preview-section">
      <ejs-dialog #viewTerminalGroup id="viewTerminalGroup"
                  style="display: none;"
                  [isModal]='isModalView'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".preview-section"'
                  [width]='"350px"'
                  (open)="onServiceGroupByNumber()"
                  (close)="offServiceGroupByNumber()">
        <ng-template #header>
          <div id="dlg-template" class="e-icon-settings"> {{ dataService.translate('terminal.confirm-1.title') | translate }} </div>
        </ng-template>
        <ng-template #content>
          <div class="dialogContent">
            <div *ngIf="selectedServiceGroup">
              <label>
                <span>Номер группы</span>
                {{ selectedServiceGroup.groupNumber }}
              </label>
              <label>
                <span>Наименование группы</span>
                {{ selectedServiceGroup.groupName }}
              </label>
<!--              <label>-->
<!--                <span>Язык</span>-->
<!--                {{selectedServiceGroup.allowedLanguageIds}}-->
<!--              </label>-->
              <label>
                <span>Операция Pay-NFS</span>
                {{selectedServiceGroup.opPurchase}}
              </label>
              <label>
                <span>Операция Entry-Mode</span>
                {{selectedServiceGroup.opManual}}
              </label>
              <label>
                <span>Отмена операции</span>
                {{selectedServiceGroup.opReversal}}
              </label>
              <label>
                <span>Возврат операции</span>
                {{selectedServiceGroup.opRefund}}
              </label>
              <label>
                <span>Ввод пин-кода</span>
                {{selectedServiceGroup.opPin}}
              </label>
              <label>
                <span>Геопозиция</span>
                {{selectedServiceGroup.geoPosition}}
              </label>
              <label>
                <span>Шаблон чека</span>
                {{ selectedServiceGroup.receiptTemplate.id }}
              </label>
              <label>
                <span>Лимит на одну транзакцию</span>
                {{ selectedServiceGroup.oneTransactionLimit }}
              </label>
              <label>
                <span>Лимит без ПИНа</span>
                {{ selectedServiceGroup.noPinLimit }}
              </label>
            </div>
          </div>
        </ng-template>
        <ng-template #footerTemplate>
          <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyViewTerminalGroup" value="Ok">
        </ng-template>
      </ejs-dialog>

      <ejs-dialog #viewViewZreportTime id="viewViewZreportTime"
                  style="display: none;"
                  [isModal]='isModalViewZreportTime'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".preview-section"'
                  [width]='"100px"'
                  (open)="onZreportTime()"
                  (close)="offZreportTime()">
        <ng-template #header>
          <div id="dlg-template" class="e-icon-settings"> {{ dataService.translate('terminal.confirm-2.title') | translate }} </div>
        </ng-template>
        <ng-template #content>
          <div class="dialogContent">
            <ng-container *ngFor="let terminalZreportTime of selectedTerminalZreportTime">
              <label>{{terminalZreportTime}}</label>
            </ng-container>
          </div>
        </ng-template>
        <ng-template #footerTemplate>
          <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyViewZreportTime" value="Ok">
        </ng-template>
      </ejs-dialog>
    </div>

    <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">

        <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
          <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
          <tr>
            <th class="table-attestation-history">{{ dataService.translate('terminal.list.title') | translate }} {{ title }}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div stTable #table="stTable" style="margin-top: -7px;">
                <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

                <table class="found">
                  <thead>
                  <tr>
                    <th stSort="terminalId">Номер терминала</th>
                    <th stSort="groupNumber">Номер группы</th>
                    <th stSort="dateTimeInit">Дата регистрации</th>
                    <th>Время регистрации</th>
                    <th stSort="merchant.merchantName">Наименование торговца</th>
                    <th stSort="merchant.merchantLegalName">Торговец</th>
                    <th stSort="merchant.bank.name">Банк</th>
                    <th>Валюта</th>
                    <th>Устройство</th>
                    <th>Авто Z-отчет</th>
                    <th>Дата операции</th>
                    <th>Дата обновления</th>
                    <th stSort="status">Статус</th>
                  </tr>
                  </thead>
                  <!-- http://www.unicode.org/cldr/charts/29/delta/ru.html -->
                  <!-- https://seo-studio.pro/blog/special-characters-html5-and-css3 -->
                  <tbody>
                  <ng-container *ngFor="let terminal of table.items">
                  <tr (click)="selectTerminalId(terminal)" *ngIf="terminal.terminalId === selectedTerminalId">
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.terminalId }}</td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap><a routerLink="/terminal" (click)="selectServiceGroupByNumber(terminal.groupNumber)">{{ terminal.groupNumber }}</a></td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}</td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.dateTimeInit | date : 'HH:mm.ss' }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.merchantName | uppercase }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.legalName | uppercase }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.bankName | uppercase }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);">
                      <div *ngFor="let takeCurrency of takeCurrencies">
                        <div *ngIf="takeCurrency.code === terminal.currencyCode"> {{ takeCurrency.letterCode }} </div>
                      </div>
                    </td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.deviceName }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>
                      <div *ngIf="terminal.zreportEnabledAll"><a routerLink="/terminal" (click)="selectZreportTime(terminal)" class="transaction">Установлен</a></div>
                      <div *ngIf="!terminal.zreportEnabledAll">Не установлен</div>
                    </td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.lastTransactionDate | date : 'dd.MM.yyyy' }}</td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.lastUpdateDate | date : 'dd.MM.yyyy' }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>
                      <div *ngFor="let takeTerminalStatus of takeTerminalStatuses">
                        <div *ngIf="takeTerminalStatus.key === terminal.status"> <font color="{{terminal.color}}"><b>{{ takeTerminalStatus.value }}</b></font> </div>
                      </div>
                    </td>
                  </tr>
                  <tr (click)="selectTerminalId(terminal)" *ngIf="terminal.terminalId != selectedTerminalId">
                    <td align="center" nowrap>{{ terminal.terminalId }}</td>
                    <td align="center" nowrap><a routerLink="/terminal" (click)="selectServiceGroupByNumber(terminal.groupNumber)">{{ terminal.groupNumber }}</a></td>
                    <td align="center" nowrap>{{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}</td>
                    <td align="center" nowrap>{{ terminal.dateTimeInit | date : 'HH:mm.ss' }}</td>
                    <td align="left" nowrap>{{ terminal.merchantName | uppercase }}</td>
                    <td align="left" nowrap>{{ terminal.legalName | uppercase }}</td>
                    <td align="left" nowrap>{{ terminal.bankName | uppercase }}</td>
                    <td align="left">
                      <div *ngFor="let takeCurrency of takeCurrencies">
                        <div *ngIf="takeCurrency.code === terminal.currencyCode"> {{ takeCurrency.letterCode }} </div>
                      </div>
                    </td>
                    <td align="left" nowrap>{{ terminal.deviceName }}</td>
                    <td align="left" nowrap>
                      <div *ngIf="terminal.zreportEnabledAll"><a routerLink="/terminal" (click)="selectZreportTime(terminal)" class="transaction">Установлен</a></div>
                      <div *ngIf="!terminal.zreportEnabledAll">Не установлен</div>
                    </td>
                    <td align="center" nowrap>{{ terminal.lastTransactionDate | date : 'dd.MM.yyyy' }}</td>
                    <td align="center" nowrap>{{ terminal.lastUpdateDate | date : 'dd.MM.yyyy' }}</td>
                    <td align="left" nowrap>
                      <div *ngFor="let takeTerminalStatus of takeTerminalStatuses">
                        <div *ngIf="takeTerminalStatus.key === terminal.status"> <font color="{{terminal.color}}"><b>{{ takeTerminalStatus.value }}</b></font> </div>
                      </div>
                    </td>
                  </tr>
                  </ng-container>
                  </tbody>
                </table>

                <div stPagination #pager="stPagination" style="margin: auto; width: 200px;">
                  <button (click)="pager.selectPage(1)" [disabled]="!pager.isPreviousPageEnabled()" title="В начало">1</button>
                  <button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Предыдущая">&#x25C4;</button>
                  <p style="margin-top: 17px;"><input type="text" value="{{pager.page}}" (input)="pager.selectPage(selectPage($event.target.value))" style="width: 75px; color: #00275e; border-color: #00275e; border-radius: 0.2em; padding-top: 0.1em; padding-bottom: 0.2em;"></p>
                  <button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Следующая">&#x25BA;</button>
                  <button (click)="pager.selectPage(selectLastPage(pager.length, pager.size))" [disabled]="!pager.isNextPageEnabled()" title="В конец">{{ selectLastPage(pager.length, pager.size) }}</button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </perfect-scrollbar>
    </div>

  </div>
  <!-- /Container: List Items -->
