<!-- Container: List Items -->
<div class="container">
  <div class="control-section" style="padding-bottom: 5px;">
    <table>
      <tr>
        <td><button disabled>&#x2714;</button></td>
        <td><button (click)="pageRefresh()" title="Обновить">&#x21bb;</button></td>
        <td><button ejs-button id='btnOpenFilterTerminal' #btnOpenFilterTerminal (click)="openFilterTerminal()" title="Фильтр">&fnof;</button></td>
      </tr>
    </table>
    <ejs-dialog #filterTerminal id="filterTerminal"
                style="display: none;"
                [isModal]='isModalFilter'
                [animationSettings]='animationSettings'
                [showCloseIcon]='showCloseIcon'
                [target]='targetFilter'
                [width]='"400px"'
                (open)="onFilterTerminal()"
                (close)="offFilterTerminal()">
      <form [formGroup]="filterForm">
        <ng-template #header>
          <div id="dlg-template" class="e-icon-settings"> Фильтр </div>
        </ng-template>
        <ng-template #content>
          <div class="dialogContent">
            <table width="360" cellpadding="4">
              <tr>
                <td align="right" width="200">
                  <label for="terminalId">Номер терминала</label>
                </td>
                <td width="160">
                  <input type="text" formControlName="terminalId" name="terminalId" class="form-control" id="terminalId" aria-describedby="idHelp" placeholder="Не выбрано">
                </td>
              </tr>
              <tr>
                <td align="right">
                  <label for="groupNumber">Номер группы</label>
                </td>
                <td>
                  <input type="text" formControlName="groupNumber" name="groupNumber" class="form-control" id="groupNumber" aria-describedby="idHelp" placeholder="Не выбрано">
                </td>
              </tr>
              <tr>
                <td align="right">
                  <label for="dateTimeInit">Дата регистрации</label>
                </td>
                <td>
                  <my-date-picker formControlName="dateTimeInit"
                                  name="dateTimeInit"
                                  id="dateTimeInit"
                                  [options]="filterDatePickerOptions"
                                  placeholder="Не выбрано">
                  </my-date-picker>
                </td>
              </tr>
              <tr>
                <td align="right">
                  <label for="merchantName">Наименование торговца</label>
                </td>
                <td>
                  <input type="text" formControlName="merchantName" name="merchantName" class="form-control" id="merchantName" aria-describedby="idHelp" placeholder="Не выбрано">
                </td>
              </tr>
              <tr>
                <td align="right">
                  <label for="legalName">Организация</label>
                </td>
                <td>
                  <input type="text" formControlName="legalName" name="legalName" class="form-control" id="legalName" aria-describedby="idHelp" placeholder="Не выбрано">
                </td>
              </tr>
            </table>
          </div>
        </ng-template>
        <ng-template #footerTemplate>
          <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApply" value="Применить">
          <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancel" value="Сбросить">
        </ng-template>
      </form>
    </ejs-dialog>
  </div>

  <div class="preview-section">
    <ejs-dialog #viewTerminalGroup id="viewTerminalGroup"
                style="display: none;"
                [isModal]='isModalView'
                [animationSettings]='animationSettings'
                [showCloseIcon]='showCloseIcon'
                [target]='targetView'
                [width]='"370px"'
                (open)="onServiceGroupByNumber()"
                (close)="offServiceGroupByNumber()">
        <ng-template #header>
          <div id="dlg-template" class="e-icon-settings"> Группа терминала </div>
        </ng-template>
        <ng-template #content>
          <div class="dialogContent">
            <table width="340" cellpadding="2" *ngIf="selectedServiceGroup">
              <tr bgcolor="#efefef">
                <td align="right" width="180"><label>Номер группы</label></td>
                <td align="left" width="160"><span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedServiceGroup.groupNumber }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Наименование группы</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedServiceGroup.groupName }}</span></td>
              </tr>
              <tr bgcolor="#efefef">
                <td align="right">
                  <label>Язык</label>
                </td>
                <td align="left">
              <span style="padding-left:10px; margin-top:-13px; position:absolute;">
                <span *ngFor="let allowedLanguage of selectedServiceGroup.allowedLanguages">{{ allowedLanguage.languageId }}&nbsp;</span>
              </span>
                </td>
              </tr>
              <tr>
                <td align="right"><label>Операция Pay-NFS</label></td>
                <td align="left">
                  <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">
                    <div *ngIf="takeChoice.key === selectedServiceGroup.opPurchase"> {{ takeChoice.value }} </div>
                  </div>
                </td>
              </tr>
              <tr bgcolor="#efefef">
                <td align="right">
                  <label>Операция Entry-Mode</label>
                </td>
                <td align="left">
                  <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">
                    <div *ngIf="takeChoice.key === selectedServiceGroup.manual"> {{ takeChoice.value }} </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="right"><label>Отмена операции</label></td>
                <td align="left">
                  <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">
                    <div *ngIf="takeChoice.key === selectedServiceGroup.opReversal"> {{ takeChoice.value }} </div>
                  </div>
                </td>
              </tr>
              <tr bgcolor="#efefef">
                <td align="right"><label>Возврат операции</label></td>
                <td align="left">
                  <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">
                    <div *ngIf="takeChoice.key === selectedServiceGroup.opRefund"> {{ takeChoice.value }} </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="right">
                  <label>Ввод Пин-кода</label>
                </td>
                <td align="left">
                  <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">
                    <div *ngIf="takeChoice.key === selectedServiceGroup.pin"> {{ takeChoice.value }} </div>
                  </div>
                </td>
              </tr>
              <tr bgcolor="#efefef">
                <td align="right">
                  <label>Геопозиция</label>
                </td>
                <td align="left">
                  <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">
                    <div *ngIf="takeChoice.key === selectedServiceGroup.geoPosition"> {{ takeChoice.value }} </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="right">
                  <label>Шаблон чека</label>
                </td>
                <td align="left"><span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedServiceGroup.receiptTemplate.id }}</span></td>
              </tr>
              <tr bgcolor="#efefef">
                <td align="right">
                  <label>Лимит на одну транзакцию</label>
                </td>
                <td align="left"><span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedServiceGroup.oneTransactionLimit }}</span></td>
              </tr>
              <tr>
                <td align="right">
                  <label>Лимит без ПИНа</label>
                </td>
                <td align="left"><span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedServiceGroup.noPinLimit }}</span></td>
              </tr>
            </table>
          </div>
        </ng-template>
    </ejs-dialog>
  </div>

  <table class="table" border="1" style="width:0;">
    <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
    <tr>
      <th>Терминалы</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
          <perfect-scrollbar class="scroll-container" fxFlex="auto">
            <table>
              <tr>
                <td>
                  <table width="1050" border="0">
                    <tr>
                      <th width="100">Номер терминала</th>
                      <th width="85">Номер группы</th>
                      <th width="110">Дата регистрации</th>
                      <th width="190">Наименование торговца</th>
                      <th width="155">Организация</th>
                      <th width="90">Банк</th>
                      <th width="100">Девайс</th>
                      <th width="110">Дата последней транзакции</th>
                      <th width="110">Дата последнего обновления</th>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                    <perfect-scrollbar class="scroll-container" fxFlex="auto">
                      <table class="table table-striped" width="1050" border="0">
                        <tbody>
                        <ng-container *ngFor="let terminal of terminals">
                          <tr class="found" (click)="selectTerminalId(terminal)">
                            <div *ngIf="terminal.terminalId === selectedTerminalId">
                              <td width="100" style="background: rgba(70, 70, 70, 0.200);">{{ terminal.terminalId }}</td>
                              <td width="85" style="background: rgba(70, 70, 70, 0.200);">{{ terminal.groupNumber }}</td>
                              <td width="110" align="center" style="background: rgba(70, 70, 70, 0.200); font-size:12px; line-height:10px;">
                                <span style="margin-left: -25px; padding-right: 21px;">{{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}<br>{{ terminal.dateTimeInit | date : 'hh:mm' }}</span>
                              </td>
                              <td width="190" style="background: rgba(70, 70, 70, 0.200);">
                                <div style="margin-top:5px; max-width:190px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ terminal.merchant.merchantName }}</div>
                              </td>
                              <td width="155" style="background: rgba(70, 70, 70, 0.200);">{{ terminal.merchant.merchantLegalName }}</td>
                              <td width="90" style="background: rgba(70, 70, 70, 0.200);">{{ terminal.merchant.bank.name }}</td>
                              <td width="100" style="background: rgba(70, 70, 70, 0.200);">{{ terminal.deviceName }}</td>
                              <td width="110" align="center" style="background: rgba(70, 70, 70, 0.200); font-size:12px; line-height:10px;">
                                <span style="margin-left: -25px; padding-right: 21px;">
<!--                                  {{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}<br>{{ terminal.dateTimeInit | date : 'hh:mm' }}-->
                                </span>
                              </td>
                              <td width="110" align="center" style="background: rgba(70, 70, 70, 0.200); font-size:12px; line-height:10px;">
                                <span style="margin-left: -25px; padding-right: 21px;">
<!--                                  {{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}<br>{{ terminal.dateTimeInit | date : 'hh:mm' }}-->
                                </span>
                              </td>
                            </div>
                            <div *ngIf="terminal.terminalId != selectedTerminalId">
                              <td width="100">{{ terminal.terminalId }}</td>
                              <td width="85">{{ terminal.groupNumber }}</td>
                              <td width="110" align="center" style="font-size:12px; line-height:10px;">
                                <span style="margin-left: -25px; padding-right: 21px;">{{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}<br>{{ terminal.dateTimeInit | date : 'hh:mm' }}</span>
                              </td>
                              <td width="190">
                                <div style="margin-top:5px; max-width:190px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ terminal.merchant.merchantName }}</div>
                              </td>
                              <td width="155">{{ terminal.merchant.merchantLegalName }}</td>
                              <td width="90">{{ terminal.merchant.bank.name }}</td>
                              <td width="100">{{ terminal.deviceName }}</td>
                              <td width="110" align="center" style="font-size:12px; line-height:10px;">
                                <span style="margin-left: -25px; padding-right: 21px;">
<!--                                  {{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}<br>{{ terminal.dateTimeInit | date : 'hh:mm' }}-->
                                </span>
                              </td>
                              <td width="110" align="center" style="font-size:12px; line-height:10px;">
                                <span style="margin-left: -25px; padding-right: 21px;">
<!--                                  {{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}<br>{{ terminal.dateTimeInit | date : 'hh:mm' }}-->
                                </span>
                              </td>
                            </div>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </perfect-scrollbar>
                  </div>
                </td>
              </tr>
            </table>
          </perfect-scrollbar>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Container: List Items -->

<!-- Container: Selected Item (Terminal) -->
<div class="card text-center" style="position: absolute; margin-left: 973px; height: 749px; margin-top: -765px; border: solid #00275e 1px;" *ngIf="selectedTerminal">
  <div class="card-header card-header">
    <table width="400">
      <tr>
        <td align="left">
          Терминал
        </td>
        <td align="right"><button (click)="closeTerminal()">X</button></td>
      </tr>
    </table>
  </div>

  <div class="content-container-card" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
    <perfect-scrollbar class="scroll-container" fxFlex="auto">
      <div class="col-sm-12 offset-sm-2" style="margin-left:0;">
        <div class="info-form">

          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <table width="390" cellpadding="4">
                <tr>
                  <td align="right" width="180">
                    <label for="terminalId">Номер терминала</label>
                  </td>
                  <td width="210" align="left">
                    <!--<input type="text" formControlName="terminalId" name="terminalId" class="form-control" id="terminalId" aria-describedby="idHelp" placeholder="Enter your terminal's">-->
                    <!--<input type="text" formControlName="terminalId" name="terminalId" class="form-control" id="terminalId" aria-describedby="idHelp" readonly="true">-->
                    <span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedTerminal.terminalId }}</span>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="groupNumber">Номер группы</label>
                  </td>
                  <td align="left">
                    <!--<select formControlName="groupNumber" name="groupNumber" class="custom-select" id="groupNumber" aria-describedby="idHelp" style="width: 100%; padding: 8px;">-->
                      <!--<option [ngValue]="null" disabled>Не выбрано</option>-->
                      <!--<option *ngFor="let groupNumber of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="groupNumber">{{groupNumber}}</option>-->
                    <!--</select>-->
<!--                    <a routerLink="/terminal" (click)="selectServiceGroupByNumber(selectedTerminal.groupNumber)" style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedTerminal.groupNumber }}</a>-->
                    <a routerLink="/terminal" (click)="selectServiceGroupByNumber(selectedTerminal.groupNumber)" style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedTerminal.groupNumber }}</a>
                  </td>
                  <!--<td align="right">-->
                    <!--<a routerLink="/terminal" (click)="selectServiceGroupByNumber(selectedTerminal.groupNumber)" style="border: solid #00275e 1px; border-radius: 3px; padding: 5px;">&rArr;</a>-->
                  <!--</td>-->
                </tr>
                <tr>
                  <td align="right">
                    <label for="dateTimeInit">Дата регистрации</label>
                  </td>
                  <!--<td>-->
                  <!--&lt;!&ndash;<input type="text" formControlName="dateTimeInit" name="dateTimeInit" class="form-control" id="dateTimeInit" aria-describedby="idHelp">&ndash;&gt;-->
                  <!--<input type="text" value="{{selectedTerminal.dateTimeInit | date :'medium'}}" name="dateTimeInit" class="form-control" id="dateTimeInit" aria-describedby="idHelp" readonly="true">-->
                  <!--</td>-->
                  <td>
                    <my-date-picker formControlName="dateTimeInit"
                                    [(ngModel)]="dateTimeInit"
                                    name="dateTimeInit"
                                    id="dateTimeInit"
                                    [options]="myDatePickerOptions"
                                    placeholder="Не выбрано">
                    </my-date-picker>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="merchantName">Наименование торговца</label>
                  </td>
                  <td>
                    <input type="text" formControlName="merchantName" name="merchantName" class="form-control" id="merchantName" aria-describedby="idHelp" placeholder="Не выбрано">
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="legalName">Организация</label>
                  </td>
                  <td>
                    <input type="text" formControlName="legalName" name="legalName" class="form-control" id="legalName" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true">
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="addData">Дополнительная строка на чеке</label>
                  </td>
                  <td>
                    <input type="text" formControlName="addData" name="addData" class="form-control" id="addData" aria-describedby="idHelp" placeholder="Не выбрано">
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="taxId">ИНН</label>
                  </td>
                  <td>
                    <input type="text" formControlName="taxId" name="taxId" class="form-control" id="taxId" aria-describedby="idHelp" placeholder="Не выбрано">
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="bankName">Банк</label>
                  </td>
                  <td>
                    <input type="text" formControlName="bankName" name="bankName" class="form-control" id="bankName" aria-describedby="idHelp" placeholder="Не выбрано">
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="mcc">MCC</label>
                  </td>
                  <td>
                    <input type="text" formControlName="mcc" name="mcc" class="form-control" id="mcc" aria-describedby="idHelp" placeholder="Не выбрано">
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="allowedLanguages">Язык</label>
                  </td>
                  <td>
                    <ng-multiselect-dropdown [placeholder]="'Не выбрано'"
                                             [data]="allAllowedLanguages"
                                             formControlName="allowedLanguages"
                                             [settings]="allowedLanguagesSettings"
                                             (onSelect)="onItemSelect($event)"
                                             (onSelectAll)="onSelectAll($event)"
                                             name="allowedLanguages" id="allowedLanguages">
                    </ng-multiselect-dropdown>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="opQr">Операция Pay-QR</label>
                  </td>
                  <td>
                    <select formControlName="opQr" name="opQr" class="custom-select" id="opQr" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let opQr of takeChoices" [ngValue]="opQr.key">{{opQr.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="opPurchase">Операция Pay-NFS</label>
                  </td>
                  <td>
                    <select formControlName="opPurchase" name="opPurchase" class="custom-select" id="opPurchase" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let opPurchase of takeChoices" [ngValue]="opPurchase.key">{{opPurchase.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="manual">Операция Entry-Mode</label>
                  </td>
                  <td>
                    <select formControlName="manual" name="manual" class="custom-select" id="manual" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let manual of takeChoices" [ngValue]="manual.key">{{manual.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="opReversal">Отмена операции</label>
                  </td>
                  <td>
                    <select formControlName="opReversal" name="opReversal" class="custom-select" id="opReversal" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let opReversal of takeChoices" [ngValue]="opReversal.key">{{opReversal.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="opRefund">Возврат операции</label>
                  </td>
                  <td>
                    <select formControlName="opRefund" name="opRefund" class="custom-select" id="opRefund" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let opRefund of takeChoices" [ngValue]="opRefund.key">{{opRefund.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="pin">Ввод Пин-кода</label>
                  </td>
                  <td>
                    <select formControlName="pin" name="pin" class="custom-select" id="pin" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let pin of takeChoices" [ngValue]="pin.key">{{pin.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="geoPosition">Определение геопозиции</label>
                  </td>
                  <td>
                    <select formControlName="geoPosition" name="geoPosition" class="custom-select" id="geoPosition" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let geoPosition of takeChoices" [ngValue]="geoPosition.key">{{geoPosition.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="receiptSendChannels">Каналы отправки</label>
                  </td>
                  <td>
                    <ng-multiselect-dropdown [placeholder]="'Не выбрано'"
                                             [data]="allReceiptSendChannels"
                                             formControlName="receiptSendChannels"
                                             [settings]="receiptSendChannelsSettings"
                                             (onSelect)="onItemSelect($event)"
                                             (onSelectAll)="onSelectAll($event)"
                                             name="receiptSendChannels" id="receiptSendChannels">
                    </ng-multiselect-dropdown>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="ipsNames">Прием карт</label>
                  </td>
                  <td>
                    <ng-multiselect-dropdown [placeholder]="'Не выбрано'"
                                             [data]="allIpsNames"
                                             formControlName="ipsNames"
                                             [settings]="ipsNamesSettings"
                                             (onSelect)="onItemSelect($event)"
                                             (onSelectAll)="onSelectAll($event)"
                                             name="ipsNames" id="ipsNames">
                    </ng-multiselect-dropdown>
<!--                    <select formControlName="ipsNames" name="ipsNames" class="custom-select" id="ipsNames" aria-describedby="idHelp" style="width: 100%; padding: 8px;">-->
<!--                      <option selected disabled value="" class="placeholder">Выбранные</option>-->
<!--                      <option *ngFor="let ipsName of selectedTerminal.ipsNames" [ngValue]="ipsName" disabled="true">{{ipsName}}</option>-->
<!--                    </select>-->
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="productNames">Продукты</label>
                  </td>
                  <td>
                    <ng-multiselect-dropdown [placeholder]="'Не выбрано'"
                                             [data]="allProductNames"
                                             formControlName="productNames"
                                             [settings]="productNamesSettings"
                                             (onSelect)="onItemSelect($event)"
                                             (onSelectAll)="onSelectAll($event)"
                                             name="productNames" id="productNames">
                    </ng-multiselect-dropdown>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="receiptTemplateId">Шаблон чека</label>
                  </td>
                  <td>
<!--                    <select formControlName="receiptTemplateId" name="receiptTemplateId" class="custom-select" id="receiptTemplateId" aria-describedby="idHelp" style="width: 100%; padding: 8px;">-->
<!--                      <option selected disabled value="" class="placeholder">Не выбрано</option>-->
<!--                      <option *ngFor="let receiptTemplateId of [1,2,3,4,5,6,7,8,9,10]" [ngValue]="receiptTemplateId">{{receiptTemplateId}}</option>-->
<!--                    </select>-->
                    <select formControlName="receiptTemplateId" name="receiptTemplateId" class="custom-select" id="receiptTemplateId" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let receiptTemplate of receiptTemplates" [ngValue]="receiptTemplate.id" [selected]="receiptTemplate.id === selectedTerminal.receiptTemplateId">{{receiptTemplate.id}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="oneTransactionLimit">Лимит на одну транзакцию</label>
                  </td>
                  <td>
                    <input type="number" formControlName="oneTransactionLimit" name="oneTransactionLimit" class="form-control" id="oneTransactionLimit" aria-describedby="idHelp" placeholder="Не выбрано">
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="noPinLimit">Лимит без ПИНа</label>
                  </td>
                  <td>
                    <input type="number" formControlName="noPinLimit" name="noPinLimit" class="form-control" id="noPinLimit" aria-describedby="idHelp" placeholder="Не выбрано">
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="configChanged">Смена настроек</label>
                  </td>
                  <td>
                    <!--<input type="text" formControlName="configChanged" name="configChanged" class="form-control" id="configChanged" aria-describedby="idHelp" readonly="true">-->
                    <select formControlName="configChanged" name="configChanged" class="custom-select" id="configChanged" aria-describedby="idHelp" style="width: 100%; padding: 8px;" disabled="true">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let configChanged of takeChoices" [ngValue]="configChanged.key">{{configChanged.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="deviceName">Девайс</label>
                  </td>
                  <td>
                    <input type="text" formControlName="deviceName" name="deviceName" class="form-control" id="deviceName" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true">
                  </td>
                </tr>
              </table>
            </div>
            <div style="text-align: center; padding-bottom: 5px;">
              <button class="btn btn-transenix">Сохранить</button>
            </div>
          </form>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
<!-- /Container: Selected Item (Terminal) -->

<!-- Container: Selected Item (ServiceGroup) -->
<!--<div class="card text-center" style="position: absolute; margin-left: 1415px; height: 748px; margin-top: -765px; border: solid #00275e 1px;" *ngIf="selectedServiceGroup">-->
<!--  <div class="card-header card-header">-->
<!--    <table width="350">-->
<!--      <tr>-->
<!--        <td align="left">-->
<!--          Группа терминала-->
<!--        </td>-->
<!--        <td align="right"><button (click)="closeServiceGroupByNumber()">X</button></td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->

<!--  <div class="content-container-card" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">-->
<!--    <perfect-scrollbar class="scroll-container" fxFlex="auto">-->
<!--      <div class="col-sm-12 offset-sm-2" style="margin-left:0;">-->
<!--        <table width="340" cellpadding="2">-->
<!--          <tr bgcolor="#efefef">-->
<!--            <td align="right" width="180"><label>Номер группы</label></td>-->
<!--            <td align="left" width="160"><span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedServiceGroup.groupNumber }}</span></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td align="right"><label>Наименование группы</label></td>-->
<!--            <td align="left"><span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedServiceGroup.groupName }}</span></td>-->
<!--          </tr>-->
<!--          <tr bgcolor="#efefef">-->
<!--            <td align="right">-->
<!--              <label>Язык</label>-->
<!--            </td>-->
<!--            <td align="left">-->
<!--              <span style="padding-left:10px; margin-top:-13px; position:absolute;">-->
<!--                <span *ngFor="let allowedLanguage of selectedServiceGroup.allowedLanguages">{{ allowedLanguage.languageId }}&nbsp;</span>-->
<!--              </span>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td align="right"><label>Операция Pay-NFS</label></td>-->
<!--            <td align="left">-->
<!--              <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">-->
<!--                <div *ngIf="takeChoice.key === selectedServiceGroup.opPurchase"> {{ takeChoice.value }} </div>-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr bgcolor="#efefef">-->
<!--            <td align="right">-->
<!--              <label>Операция Entry-Mode</label>-->
<!--            </td>-->
<!--            <td align="left">-->
<!--              <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">-->
<!--                <div *ngIf="takeChoice.key === selectedServiceGroup.manual"> {{ takeChoice.value }} </div>-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td align="right"><label>Отмена операции</label></td>-->
<!--            <td align="left">-->
<!--              <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">-->
<!--                <div *ngIf="takeChoice.key === selectedServiceGroup.opReversal"> {{ takeChoice.value }} </div>-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr bgcolor="#efefef">-->
<!--            <td align="right"><label>Возврат операции</label></td>-->
<!--            <td align="left">-->
<!--              <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">-->
<!--                <div *ngIf="takeChoice.key === selectedServiceGroup.opRefund"> {{ takeChoice.value }} </div>-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td align="right">-->
<!--              <label>Ввод Пин-кода</label>-->
<!--            </td>-->
<!--            <td align="left">-->
<!--              <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">-->
<!--                <div *ngIf="takeChoice.key === selectedServiceGroup.pin"> {{ takeChoice.value }} </div>-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr bgcolor="#efefef">-->
<!--            <td align="right">-->
<!--              <label>Геопозиция</label>-->
<!--            </td>-->
<!--            <td align="left">-->
<!--              <div *ngFor="let takeChoice of takeChoices" style="padding-left:10px; margin-top:-13px; position:absolute;">-->
<!--                <div *ngIf="takeChoice.key === selectedServiceGroup.geoPosition"> {{ takeChoice.value }} </div>-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td align="right">-->
<!--              <label>Шаблон чека</label>-->
<!--            </td>-->
<!--            <td align="left"><span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedServiceGroup.receiptTemplate.id }}</span></td>-->
<!--          </tr>-->
<!--          <tr bgcolor="#efefef">-->
<!--            <td align="right">-->
<!--              <label>Лимит на одну транзакцию</label>-->
<!--            </td>-->
<!--            <td align="left"><span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedServiceGroup.oneTransactionLimit }}</span></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td align="right">-->
<!--              <label>Лимит без ПИНа</label>-->
<!--            </td>-->
<!--            <td align="left"><span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedServiceGroup.noPinLimit }}</span></td>-->
<!--          </tr>-->
<!--        </table>-->
<!--      </div>-->
<!--    </perfect-scrollbar>-->
<!--  </div>-->
<!--</div>-->
<!-- /Container: Selected Item (ServiceGroup) -->
