.list-group-item-primary {
  background-color: #fff !important;
  list-style-type:none !important;
}

.table thead th {
   border-bottom: 0;
}

.table td, .table th {
  padding: 8px 10px 8px 10px;
  vertical-align: top;
  border-top: 0;
}

/*.table .table-striped tr.found:hover {*/
.table .table-striped tr:hover {
  background-color: rgba(121, 154, 200, 0.24) !important;
  cursor: pointer;
}


.horizontal-container {
  width: 670px;
}

.vertical-container {
  height: 607px;
}

.vertical-container,
.horizontal-container {
  min-width: 0 !important;
  min-height: 0 !important;
}

@media (min-width: 650px) {
  .container {
    max-width: 100%;
  }
}


.content-container-card {
  position: relative;
  min-height: 0;
  /*padding: 8px;*/
}

.action-container,
.content-container-card {
  position: relative;
  overflow: auto;
  height: 720px;
  min-height: 0;
  background-color: transparent;
}

.card,
.card-header {
  border-radius: 0;
}

.card-header {
  padding: .25rem 0.75rem;
  height: 39px;
}

.form-control {
  height: calc(1.0em + .75rem + 2px);
  font-size: 0.8rem;
}

.custom-select {
  height: 30px;
  line-height: 0.8;
  font-size: 0.8rem;
}
