  <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
    <perfect-scrollbar class="scroll-container" fxFlex="auto">

      <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
        <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
        <tr>
          <th class="table-attestation-history"> Шаблоны уведомлений </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div stTable #table="stTable" style="margin-top: -7px;">
              <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

              <table class="found">
                <thead>
                <tr>
<!--                  <th stSort="id">Ид-ор шаблона</th>-->
<!--                  <th>Текст уведомления</th>-->
                  <td colspan="3">
                    <textarea rows="10" name="text" class="form-control" id="text" aria-describedby="idHelp" placeholder="Текст уведомления" style="height: 240px; width: 300px; font-size: 12px;"></textarea>
                  </td>
                </tr>
                </thead>
                <!-- http://www.unicode.org/cldr/charts/29/delta/ru.html -->
                <!-- https://seo-studio.pro/blog/special-characters-html5-and-css3 -->
                <tbody>
                <ng-container *ngFor="let messageTemplate of table.items">
                  <tr>
                    <td align="center" nowrap>{{ messageTemplate.id }}</td>
                    <td align="left" nowrap>{{ messageTemplate.shortText }}</td>
                    <td align="center"> <a href="#" title="Удалить">🗑</a> </td> <!-- https://calcsbox.com/post/specialnye-simvoly-html.html -->
                  </tr>
                </ng-container>
                </tbody>
              </table>

              <div stPagination #pager="stPagination" style="margin: auto; width: 200px;">
                <button (click)="pager.selectPage(1)" [disabled]="!pager.isPreviousPageEnabled()" title="В начало">1</button>
                <button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Предыдущая">&#x25C4;</button>
                <p style="margin-top: 17px;"><input type="text" value="{{pager.page}}" (input)="pager.selectPage(selectPage($event.target.value))" style="width: 75px; color: #00275e; border-color: #00275e; border-radius: 0.2em; padding-top: 0.1em; padding-bottom: 0.2em;"></p>
                <button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Следующая">&#x25BA;</button>
                <button (click)="pager.selectPage(selectLastPage(pager.length, pager.size))" [disabled]="!pager.isNextPageEnabled()" title="В конец">{{ selectLastPage(pager.length, pager.size) }}</button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </perfect-scrollbar>
  </div>
