  <div class="container">
    <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button (click)="goBack()" title="Вернуться к предыдущей странице">&#8629;</button>
      </span>
      <span style="padding-right: 3px;">
        <button (click)="pageRefresh()" title="Обновить">&#x21bb;</button>
      </span>

      <!-- Container: Selected Item (Bank) -->
      <ejs-dialog #bank id="bank"
                  style="display: none;"
                  [isModal]='isModalBank'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"470px"'
                  (open)="onBank()"
                  (close)="offBank()">
        <form [formGroup]="bankForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings"> </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent">
              <div *ngIf="selectedBankId">
                <label>
                  <span>Код</span>
                  <p style="margin-left: 0px; width: 430px; margin-top: 8px; margin-bottom: 8px; padding-bottom: 8px;">{{ selectedBankId }}</p>
                </label>
              </div>
              <label>
                <span>Название</span>
                <input type="text" formControlName="name" name="name" class="form-control" id="name" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>Адрес</span>
                <input type="text" formControlName="address" name="address" class="form-control" id="address" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>Email</span>
                <input type="text" formControlName="email" name="email" class="form-control" id="email" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>Телефон</span>
                <input type="text" formControlName="phone" name="phone" class="form-control" id="phone" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>ОКПО</span>
                <input type="text" formControlName="taxId" name="taxId" class="form-control" id="taxId" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>mfo</span>
                <input type="text" formControlName="mfo" name="mfo" class="form-control" id="mfo" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>Сайт банка</span>
                <input type="text" formControlName="instructions" name="instructions" class="form-control" id="instructions" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApply" value="{{ dataService.translate('button.save') | translate }}" *ngIf="permission.saveBank()">
            <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancel" value="{{ dataService.translate('button.cancel') | translate }}">
          </ng-template>
        </form>
      </ejs-dialog>
      <!-- /Container: Selected Item (Bank) -->
    </div>

    <!-- Container: List Items -->
    <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">

        <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0; height: 739px;">
          <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
          <tr>
            <th class="table-bank">{{ dataService.translate('bank.list.title') | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <table class="found">
                <thead>
                <tr>
                  <th>Код</th>
                  <th>Название</th>
                  <th>Адрес</th>
                  <th>Email</th>
                  <th>Телефон</th>
                  <th>ОКПО</th>
                  <th>MFO</th>
                  <th>Сайт банка</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let bank of banks">
                  <tr (click)="selectBankId(bank)" *ngIf="bank.id === selectedBankId">
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap> {{ bank.id }} </td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ bank.name }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);">{{ bank.address }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ bank.email }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ bank.phone }}</td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ bank.taxId }}</td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ bank.mfo }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap><a href="{{ bank.instructions }}" target="_blank">{{ bank.instructions }}</a></td>
                  </tr>
                  <tr (click)="selectBankId(bank)" *ngIf="bank.id != selectedBankId">
                    <td align="center" nowrap> {{ bank.id }} </td>
                    <td align="left" nowrap>{{ bank.name }}</td>
                    <td align="left">{{ bank.address }}</td>
                    <td align="left" nowrap>{{ bank.email }}</td>
                    <td align="left" nowrap>{{ bank.phone }}</td>
                    <td align="center" nowrap>{{ bank.taxId }}</td>
                    <td align="center" nowrap>{{ bank.mfo }}</td>
                    <td align="left" nowrap><a href="{{ bank.instructions }}" target="_blank">{{ bank.instructions }}</a></td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>

      </perfect-scrollbar>
    </div>
    <!-- /Container: List Items -->

  </div>
