  <!-- Container: List Items -->
  <div class="container">
    <div style="padding-bottom: 5px;">
      <table>
        <tr>
          <td><button disabled>&#x2714;</button></td>
          <td><button (click)="pageRefresh()" title="Обновить">&#x21bb;</button></td>
          <td><button (click)="selectPanMasked(null)" title="Отфильтровать">&fnof;</button></td>
          <td><button (click)="createPanMasked()" title="Создать">+</button></td>
        </tr>
      </table>
    </div>

    <table class="table" border="1" style="width:0;">
      <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
      <tr>
        <th>Шаблон карты</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">
              <table>
                <tr>
                  <td>
                    <table width="650" border="0">
                      <tr>
                        <th width="70">Шаблон</th>
                        <th width="110">Количество символов в начале</th>
                        <th width="110">Количество символов в конце</th>
                        <th width="110">Символ маски</th>
                        <th width="270"></th>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                      <perfect-scrollbar class="scroll-container" fxFlex="auto">
                        <table class="table table-striped" width="650" border="0">
                          <tbody>
                          <ng-container *ngFor="let panMasked of panMaskeds">
                            <tr class="found" (click)="selectPanMaskedId(panMasked)">
                              <div *ngIf="panMasked.id === selectedPanMaskedId">
                                <td width="70" style="background: rgba(70, 70, 70, 0.200);">{{ panMasked.id }}</td>
                                <td width="110" style="background: rgba(70, 70, 70, 0.200);">{{ panMasked.beginMask }}</td>
                                <td width="110" style="background: rgba(70, 70, 70, 0.200);">{{ panMasked.endMask }}</td>
                                <td width="110" style="background: rgba(70, 70, 70, 0.200);">{{ panMasked.maskSymbol }}</td>
                                <td width="270" style="background: rgba(70, 70, 70, 0.200);"></td>
                              </div>
                              <div *ngIf="panMasked.id != selectedPanMaskedId">
                                <td width="70">{{ panMasked.id }}</td>
                                <td width="110">{{ panMasked.beginMask }}</td>
                                <td width="110">{{ panMasked.endMask }}</td>
                                <td width="110">{{ panMasked.maskSymbol }}</td>
                                <td width="270"></td>
                              </div>
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </perfect-scrollbar>
                    </div>
                  </td>
                </tr>
              </table>
            </perfect-scrollbar>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /Container: List Items -->


  <!-- Container: Selected Item (PanMasked) -->
  <div class="card text-center" style="position: absolute; margin-left: 723px; height: 748px; margin-top: -765px; border: solid #00275e 1px;" *ngIf="selectedPanMasked">
    <div class="card-header card-header">
      <table width="350">
        <tr>
          <td align="left">{{selectedPanMasked.id}}</td>
          <td align="right"><button (click)="closePanMasked()">X</button></td>
        </tr>
      </table>
    </div>

    <div class="content-container-card" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">
        <div class="col-sm-8 offset-sm-2" style="margin-left:0;">
          <div class="info-form">

            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <table width="340" cellpadding="2">
                  <tr>
                    <td align="right" width="160">
                      <label for="id">Шаблон</label>
                    </td>
                    <td width="140">
                      <input type="text" formControlName="id" name="id" class="form-control" id="id" aria-describedby="idHelp" readonly="true">
                    </td>
                  </tr>
                  <tr>
                    <td align="right" width="160">
                      <label for="beginMask">Количество символов в начале</label>
                    </td>
                    <td width="140">
                      <input type="number" formControlName="beginMask" name="beginMask" class="form-control" id="beginMask" aria-describedby="idHelp" placeholder="Enter your Pan-Masked's">
                    </td>
                  </tr>
                  <tr>
                    <td align="right" width="160">
                      <label for="endMask">Количество символов в конце</label>
                    </td>
                    <td width="140">
                      <input type="number" formControlName="endMask" name="endMask" class="form-control" id="endMask" aria-describedby="idHelp" placeholder="Enter your Pan-Masked's">
                    </td>
                  </tr>
                  <tr>
                    <td align="right" width="160">
                      <label for="maskSymbol">Символ маски</label>
                    </td>
                    <td width="140">
                      <input type="text" formControlName="maskSymbol" name="endMask" class="form-control" id="maskSymbol" aria-describedby="idHelp" placeholder="Enter your Pan-Masked's">
                    </td>
                  </tr>
                </table>
              </div>
              <div style="text-align: right; padding-bottom: 5px;">
                <button class="btn btn-transenix">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
  <!-- /Container: Selected Item (Terminal) -->
