<!-- Container: List Items -->
  <div class="container">
    <div style="padding-bottom: 5px;">
      <table>
        <tr>
          <td><button disabled>&#x2714;</button></td>
          <td><button (click)="pageRefresh()" title="Обновить">&#x21bb;</button></td>
          <td><button (click)="createAttestationThreadlog()" title="Создать">+</button></td>
        </tr>
      </table>
    </div>

    <table width="960">
      <tr>
        <td align="left">
          <div class="tabs">
            <div class="tab">
              <input type="radio" id="tab1" name="tab-group" checked>
              <label for="tab1" class="tab-title">Действия / Угрозы</label>
              <section class="tab-content">
                <div class="vertical-container2" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                  <perfect-scrollbar class="scroll-container" fxFlex="auto">
                    <div class="col-sm-12 offset-sm-2" style="margin-left:0;">

                      <div class="attestation">
                        <form [formGroup]="editFormAttestationThreads" (ngSubmit)="onSubmitAttestationThreads()">
                          <h4>Угроза</h4>
                          <table class="tbl-attestation">
                            <tr class="tbl-attestation-head">
                              <th>Угроза</th>
                              <th>Действие</th>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">Тестирование приложения</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="debug" name="debug" class="custom-select" id="debug" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let debug of allAttestationActions" [ngValue]="debug.key">{{debug.value}}</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">Эмуляция приложения</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="emulator" name="emulator" class="custom-select" id="emulator" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let emulator of allAttestationActions" [ngValue]="emulator.key">{{emulator.value}}</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">Права приложения</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="root" name="root" class="custom-select" id="root" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let root of allAttestationActions" [ngValue]="root.key">{{root.value}}</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">Целостность каналов</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="channelIntegrity" name="channelIntegrity" class="custom-select" id="channelIntegrity" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let channelIntegrity of allAttestationActions" [ngValue]="channelIntegrity.key">{{channelIntegrity.value}}</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">Гео-позиция</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="geoPosition" name="geoPosition" class="custom-select" id="geoPosition" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let geoPosition of allAttestationActions" [ngValue]="geoPosition.key">{{geoPosition.value}}</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">Частота транзакций</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="velocity" name="velocity" class="custom-select" id="velocity" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let velocity of allAttestationActions" [ngValue]="velocity.key">{{velocity.value}}</option>
                                </select>
                              </td>
                            </tr>
                          </table>
                          <br>
                          <button class="btn btn-transenix">Сохранить</button>
                        </form>

                        <hr>

                        <form [formGroup]="editFormAttestationActions" (ngSubmit)="onSubmitAttestationActions()">
                          <h4>Действие</h4>
                          <table class="tbl-attestation">
                            <tr class="tbl-attestation-head">
                              <th>Действие</th>
                              <th>Вес</th>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">Блокировка на устройство</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="deviceBlock" name="deviceBlock" class="custom-select" id="deviceBlock" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let deviceBlock of [0,1,2,3,4,5]" [ngValue]="deviceBlock">{{ deviceBlock }}</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">Блокировка на транзакцию</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="transactionBlock" name="transactionBlock" class="custom-select" id="transactionBlock" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let transactionBlock of [0,1,2,3,4,5]" [ngValue]="transactionBlock">{{ transactionBlock }}</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">PIN блокировка</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="pinBlock" name="pinBlock" class="custom-select" id="pinBlock" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let pinBlock of [0,1,2,3,4,5]" [ngValue]="pinBlock">{{ pinBlock }}</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">Manual блокировка</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="manualBlock" name="manualBlock" class="custom-select" id="manualBlock" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let manualBlock of [0,1,2,3,4,5]" [ngValue]="manualBlock">{{ manualBlock }}</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">QR блокировка</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="qrBlock" name="qrBlock" class="custom-select" id="qrBlock" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let qrBlock of [0,1,2,3,4,5]" [ngValue]="qrBlock">{{ qrBlock }}</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">NFC блокировка</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="nfcBlock" name="nfcBlock" class="custom-select" id="nfcBlock" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let nfcBlock of [0,1,2,3,4,5]" [ngValue]="nfcBlock">{{ nfcBlock }}</option>
                                </select>
                              </td>
                            </tr>
                            <tr>
                              <td class="tbl-attestation-title">Нет блокировки</td>
                              <td class="tbl-attestation-val">
                                <select formControlName="noBlock" name="noBlock" class="custom-select" id="noBlock" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                                  <option *ngFor="let noBlock of [0,1,2,3,4,5]" [ngValue]="noBlock">{{ noBlock }}</option>
                                </select>
                              </td>
                            </tr>
                          </table>
                          <br>
                          <button class="btn btn-transenix">Сохранить</button>
                        </form>
                      </div>

                    </div>
                  </perfect-scrollbar>
                </div>
              </section>
            </div>
            <div class="tab">
              <input type="radio" id="tab3" name="tab-group">
              <label for="tab3" class="tab-title">Последовательность угроз</label>
              <section class="tab-content">
                <div class="vertical-container2" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                  <perfect-scrollbar class="scroll-container" fxFlex="auto">
                    <table>
                      <tr>
                        <td>
                          <table width="1050" border="0">
                            <tr>
                              <th width="130">Идентификатор</th>
                              <th width="220">Действия</th>
                              <th width="100">Тестирование приложения</th>
                              <th width="100">Эмуляция приложения</th>
                              <th width="100">Права приложения</th>
                              <th width="100">Целостность каналов</th>
                              <th width="100">Гео-позиция</th>
                              <th width="100">Частота транзакций</th>
                              <th width="100">Статус</th>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                            <perfect-scrollbar class="scroll-container" fxFlex="auto">
                              <table class="table table-striped" width="1050" border="0">
                                <tbody>
                                <ng-container *ngFor="let attestationThreadlog of attestationThreadlogs">
                                  <tr class="found" (click)="selectAttestationThreadlogId(attestationThreadlog)">
                                    <div *ngIf="attestationThreadlog.id === selectedAttestationThreadlogId">
                                      <td width="130" style="background: rgba(70, 70, 70, 0.200);"> {{ attestationThreadlog.id }} </td>
                                      <td width="220" style="background: rgba(70, 70, 70, 0.200);">{{ attestationThreadlog.attestationActionShortNames }}</td>
                                      <td width="100" style="background: rgba(70, 70, 70, 0.200);">
                                        <div *ngIf="'Y' === attestationThreadlog.debug"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.debug"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100" style="background: rgba(70, 70, 70, 0.200);">
                                        <div *ngIf="'Y' === attestationThreadlog.emulator"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.emulator"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100" style="background: rgba(70, 70, 70, 0.200);">
                                        <div *ngIf="'Y' === attestationThreadlog.root"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.root"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100" style="background: rgba(70, 70, 70, 0.200);">
                                        <div *ngIf="'Y' === attestationThreadlog.channelIntegrity"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.channelIntegrity"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100" style="background: rgba(70, 70, 70, 0.200);">
                                        <div *ngIf="'Y' === attestationThreadlog.geoPosition"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.geoPosition"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100" style="background: rgba(70, 70, 70, 0.200);">
                                        <div *ngIf="'Y' === attestationThreadlog.velocity"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.velocity"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100" style="background: rgba(70, 70, 70, 0.200);">
                                        <div *ngFor="let statusChoice of statusChoices">
                                          <div *ngIf="statusChoice.key === attestationThreadlog.enabled"> <font color="{{attestationThreadlog.color}}">{{ statusChoice.value }}</font> </div>
                                        </div>
                                      </td>
                                    </div>
                                    <div *ngIf="attestationThreadlog.id != selectedAttestationThreadlogId">
                                      <td width="130"> {{ attestationThreadlog.id }} </td>
                                      <td width="220">{{ attestationThreadlog.attestationActionShortNames }}</td>
                                      <td width="100">
                                        <div *ngIf="'Y' === attestationThreadlog.debug"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.debug"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100">
                                        <div *ngIf="'Y' === attestationThreadlog.emulator"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.emulator"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100">
                                        <div *ngIf="'Y' === attestationThreadlog.root"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.root"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100">
                                        <div *ngIf="'Y' === attestationThreadlog.channelIntegrity"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.channelIntegrity"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100">
                                        <div *ngIf="'Y' === attestationThreadlog.geoPosition"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.geoPosition"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100">
                                        <div *ngIf="'Y' === attestationThreadlog.velocity"><font color="darkgreen"><b>&#x2713;</b></font></div>
                                        <div *ngIf="'N' === attestationThreadlog.velocity"><font color="brown"><b>&#x2717;</b></font></div>
                                      </td>
                                      <td width="100">
                                        <div *ngFor="let statusChoice of statusChoices">
                                          <div *ngIf="statusChoice.key === attestationThreadlog.enabled"> <font color="{{attestationThreadlog.color}}"><b>{{ statusChoice.value }}</b></font> </div>
                                        </div>
                                      </td>
                                    </div>
                                  </tr>
                                </ng-container>
                                </tbody>
                              </table>
                            </perfect-scrollbar>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </perfect-scrollbar>
                </div>
              </section>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
<!-- /Container: List Items -->


<!-- Container: Selected Item (Attestation) -->
<div class="card text-center" style="position: absolute; margin-left: 970px; height: 749px; margin-top: -47px; border: solid #00275e 1px;" *ngIf="selectedAttestationThreadlog">
  <div class="card-header card-header">
    <table width="450">
      <tr>
        <td align="left"></td>
        <td align="right"><button (click)="closeAttestationThreadlog()">X</button></td>
      </tr>
    </table>
  </div>

  <div class="content-container-card" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
    <perfect-scrollbar class="scroll-container" fxFlex="auto">
      <div class="col-sm-12 offset-sm-2" style="margin-left:0;">
        <div class="info-form">
          <form [formGroup]="editFormAttestationThreadlogs" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <table width="440" cellpadding="4">
                <tr *ngIf="selectedAttestationThreadlog.id != null">
                  <td align="right" width="140">
                    <label for="id">Идентификатор</label>
                  </td>
                  <td align="left" width="280">
                    <span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedAttestationThreadlog.id }}</span>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="attestationActions">Действия</label>
                  </td>
                  <td>
                    <ng-multiselect-dropdown [placeholder]="'Не выбрано'"
                                             [data]="allAttestationActionNames"
                                             formControlName="attestationActions"
                                             [settings]="attestationActionNamesSettings"
                                             (onSelect)="onItemSelect($event)"
                                             (onSelectAll)="onSelectAll($event)"
                                             name="attestationActions" id="attestationActions">
                    </ng-multiselect-dropdown>
                  </td>
                </tr>
                <tr>
                  <td align="right" width="140">
                    <label for="debug">Тестирование приложения</label>
                  </td>
                  <td width="280">
                    <select formControlName="debug" name="debug" class="custom-select" id="debug" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let debug of takeChoices" [ngValue]="debug.key">{{debug.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="emulator">Эмуляция приложения</label>
                  </td>
                  <td>
                    <select formControlName="emulator" name="emulator" class="custom-select" id="emulator" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let emulator of takeChoices" [ngValue]="emulator.key">{{emulator.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="root">Права приложения</label>
                  </td>
                  <td>
                    <select formControlName="root" name="root" class="custom-select" id="root" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let root of takeChoices" [ngValue]="root.key">{{root.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="channelIntegrity">Целостность каналов</label>
                  </td>
                  <td>
                    <select formControlName="channelIntegrity" name="channelIntegrity" class="custom-select" id="channelIntegrity" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let channelIntegrity of takeChoices" [ngValue]="channelIntegrity.key">{{channelIntegrity.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="geoPosition">Гео-позиция</label>
                  </td>
                  <td>
                    <select formControlName="geoPosition" name="geoPosition" class="custom-select" id="geoPosition" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let geoPosition of takeChoices" [ngValue]="geoPosition.key">{{geoPosition.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="velocity">Частота транзакций</label>
                  </td>
                  <td>
                    <select formControlName="velocity" name="velocity" class="custom-select" id="velocity" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let velocity of takeChoices" [ngValue]="velocity.key">{{velocity.value}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="enabled">Статус</label>
                  </td>
                  <td>
                    <select formControlName="enabled" name="enabled" class="custom-select" id="enabled" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let enabled of statusChoices" [ngValue]="enabled.key">{{enabled.value}}</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
            <div style="text-align: center; padding-bottom: 5px;">
              <button class="btn btn-transenix">Сохранить</button>
            </div>
          </form>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
<!-- /Container: Selected Item (Attestation) -->
