  <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
    <perfect-scrollbar class="scroll-container" fxFlex="auto">

      <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
        <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
        <tr>
          <th class="table-attestation-history"> Уведомление для Терминалов </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div stTable #table="stTable" style="margin-top: -7px;">
              <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

<!--              <label>-->
<!--                <span>Номер терминала</span>-->
<!--                <input placeholder="Номер терминала" type="text" stFilter="terminalId" />-->
<!--              </label>-->
<!--              <label>-->
<!--                <span>Номер группы</span>-->
<!--                <input placeholder="Номер группы" type="text" stFilter="groupNumber" />-->
<!--              </label>-->
<!--              <label>-->
<!--                <span>Торговец</span>-->
<!--                <input placeholder="Торговец" type="text" stFilter="merchantName" />-->
<!--              </label>-->
<!--              <label>-->
<!--                <span>Банк</span>-->
<!--                <input placeholder="Банк" type="text" stFilter="bankName" />-->
<!--              </label>-->
<!--              <label>-->
<!--                <span>Статус</span>-->
<!--                <select formControlName="status" stFilter="status" style="width: 210px !important; height: 28px;">-->
<!--                  <option selected disabled value="" class="placeholder">Не выбрано</option>-->
<!--                  <option *ngFor="let status of takeTerminalStatuses" [ngValue]="status.key">{{status.value}}</option>-->
<!--                </select>-->
<!--              </label>-->

              <table class="found">
                <thead>
                <tr>
                  <th stSort="terminalId">Номер терминала</th>
                  <th stSort="groupNumber">Номер группы</th>
                  <th stSort="merchant.merchantLegalName">Торговец</th>
                  <th stSort="merchant.bank.name">Банк</th>
                  <th stSort="status">Статус</th>
                </tr>
                </thead>
                <!-- http://www.unicode.org/cldr/charts/29/delta/ru.html -->
                <!-- https://seo-studio.pro/blog/special-characters-html5-and-css3 -->
                <tbody>
                <tr>
                  <td><input placeholder="" type="text" stFilter="terminalId" /></td>
                  <td>
                    <select formControlName="groupNumber" stFilter="groupNumber" style="width: 210px !important; height: 28px;">
                      <option selected value="" class="placeholder"></option>
                      <option *ngFor="let serviceGroup of serviceGroups" [ngValue]="serviceGroup.groupNumber">{{serviceGroup.groupNumber}}</option>
                    </select>
                  </td>
                  <td><input placeholder="" type="text" stFilter="merchantName" /></td>
                  <td><input placeholder="" type="text" stFilter="bankName" /></td>
                  <td>
                    <select formControlName="status" stFilter="status" style="width: 210px !important; height: 28px;">
                      <option selected value="" class="placeholder"></option>
                      <option *ngFor="let status of takeTerminalStatuses" [ngValue]="status.key">{{status.value}}</option>
                    </select>
                  </td>
                </tr>
                <ng-container *ngFor="let terminal of table.items">
                  <tr>
                    <td align="center" nowrap>{{ terminal.terminalId }}</td>
                    <td align="center" nowrap>{{ terminal.groupNumber }}</td>
                    <td align="left" nowrap>{{ terminal.merchantName | uppercase }}</td>
                    <td align="left" nowrap>{{ terminal.bankName | uppercase }}</td>
                    <td align="left" nowrap>
                      <div *ngFor="let takeTerminalStatus of takeTerminalStatuses">
                        <div *ngIf="takeTerminalStatus.key === terminal.status"> <font color="{{terminal.color}}"><b>{{ takeTerminalStatus.value }}</b></font> </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>

              <div stPagination #pager="stPagination" style="margin: auto; width: 200px;">
                <button (click)="pager.selectPage(1)" [disabled]="!pager.isPreviousPageEnabled()" title="В начало">1</button>
                <button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Предыдущая">&#x25C4;</button>
                <p style="margin-top: 17px;"><input type="text" value="{{pager.page}}" (input)="pager.selectPage(selectPage($event.target.value))" style="width: 75px; color: #00275e; border-color: #00275e; border-radius: 0.2em; padding-top: 0.1em; padding-bottom: 0.2em;"></p>
                <button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Следующая">&#x25BA;</button>
                <button (click)="pager.selectPage(selectLastPage(pager.length, pager.size))" [disabled]="!pager.isNextPageEnabled()" title="В конец">{{ selectLastPage(pager.length, pager.size) }}</button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </perfect-scrollbar>
  </div>
