  <!-- Container: List Items -->
  <div class="container">
    <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button (click)="goBack()" title="Вернуться к предыдущей странице">&#8629;</button>
      </span>
      <span stFilter #stFilter="stFilter" style="padding-right: 3px;">
        <button routerLink="/user" [queryParams]="{}" (click)="stFilter.filter(btnFilter('username=&email='))" title="Обновить">&#x21bb;</button>
      </span>
      <button ejs-button id='btnOpenOneCreate' #btnOpenOneCreate (click)="openOneCreate()" title="Регистрация нового пользователя">&#10010;</button>

      <ejs-dialog #create id="create"
                  style="display: none;"
                  [isModal]='isModalCreate'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"435px"'
                  (open)="onCreate()"
                  (close)="offCreate()">
        <form [formGroup]="createForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings"> Регистрация нового пользователя </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent dialog-content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
              <perfect-scrollbar class="scroll-container" fxFlex="auto">
                <label>
                  <span>Логин</span>
                  <input type="text" formControlName="username" name="username" class="form-control" id="username" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.username.errors }">
                  <div *ngIf="createSubmittedForm && getCreateForm.username.errors" class="invalid-feedback">
                    <div *ngIf="getCreateForm.username.errors.required">Поле обязательное для заполнения</div>
                  </div>
                </label>
                <label>
                  <span>Email</span>
                  <input type="text" formControlName="email" name="email" class="form-control" id="email" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.email.errors }">
                  <div *ngIf="createSubmittedForm && getCreateForm.email.errors" class="invalid-feedback">
                    <div *ngIf="getCreateForm.email.errors.required">Поле обязательное для заполнения</div>
                  </div>
                </label>
<!--                <label>-->
<!--                  <span>Моб. телефон</span>-->
<!--                  <input type="text" formControlName="phone" name="phone" class="form-control" id="phone" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.phone.errors }">-->
<!--                  <div *ngIf="createSubmittedForm && getCreateForm.phone.errors" class="invalid-feedback">-->
<!--                    <div *ngIf="getCreateForm.phone.errors.pattern">Допустимый формат [+91 036 123-45-67 || 910361234567]</div>-->
<!--                  </div>-->
<!--                </label>-->
                <label>
                  <span>Пароль</span>
                  <input type="password" formControlName="password" name="password" class="form-control" id="password" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.password.errors }">
                  <div *ngIf="createSubmittedForm && getCreateForm.password.errors" class="invalid-feedback">
                    <div *ngIf="getCreateForm.password.errors.required">Поле обязательное для заполнения</div>
                    <div *ngIf="getCreateForm.password.errors.minlength">Пароль должен содержать не меньше 6 символов</div>
                  </div>
                </label>
                <label>
                  <span>Подтвердить пароль</span>
                  <input type="password" formControlName="confirmPassword" name="confirmPassword" class="form-control" id="confirmPassword" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.confirmPassword.errors }">
                  <div *ngIf="createSubmittedForm && getCreateForm.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="getCreateForm.confirmPassword.errors.required">Поле обязательное для заполнения</div>
                    <div *ngIf="getCreateForm.confirmPassword.errors.mustMatch">Пароль не подтвержден</div>
                  </div>
                </label>
                <label>
                  <span>Имя</span>
                  <input type="text" formControlName="firstName" name="firstName" class="form-control" id="firstName" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.firstName.errors }">
                  <div *ngIf="createSubmittedForm && getCreateForm.firstName.errors" class="invalid-feedback">
                    <div *ngIf="getCreateForm.firstName.errors.required">Поле обязательное для заполнения</div>
                  </div>
                </label>
                <label>
                  <span>Фамилия</span>
                  <input type="text" formControlName="lastName" name="lastName" class="form-control" id="lastName" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.lastName.errors }">
                  <div *ngIf="createSubmittedForm && getCreateForm.lastName.errors" class="invalid-feedback">
                    <div *ngIf="getCreateForm.lastName.errors.required">Поле обязательное для заполнения</div>
                  </div>
                </label>
<!--                <label>-->
<!--                  <span>Роль</span>-->
<!--                  <select formControlName="roleCode" name="roleCode" class="custom-select" id="roleCode" aria-describedby="idHelp" style="width: 100%; padding: 8px;" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.roleCode.errors }">-->
<!--                    <option selected disabled value="" class="placeholder">Не выбрано</option>-->
<!--                    <option *ngFor="let userRole of userRoles" [ngValue]="userRole.roleCode" [selected]="">{{userRole.roleCode}}</option>-->
<!--                  </select>-->
<!--                  <div *ngIf="createSubmittedForm && getCreateForm.roleCode.errors" class="invalid-feedback">-->
<!--                    <div *ngIf="getCreateForm.roleCode.errors.required">Поле обязательное для заполнения</div>-->
<!--                  </div>-->
<!--                </label>-->
              </perfect-scrollbar>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyCreate" routerLink="/user" [queryParams]="{}" (click)="stFilter.filter(btnFilter('username=&email='))" value="Сохранить" [disabled]="!isButtonSave">
            <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancelCreate" value="Отменить">
          </ng-template>
        </form>
      </ejs-dialog>
    </div>

    <div class="control-section" style="padding-bottom: 5px;">
      <ejs-dialog #edit id="edit"
                  style="display: none;"
                  [isModal]='isModalEdit'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"435px"'
                  (open)="onEdit()"
                  (close)="offEdit()">
        <form [formGroup]="editForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings" *ngIf="selectedUser!=null"> {{ selectedUser.username }} </div>
            <div id="dlg-template" class="e-icon-settings" *ngIf="selectedUser==null"> </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent dialog-content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
              <perfect-scrollbar class="scroll-container" fxFlex="auto">
<!--                <label>-->
<!--                  <span>Логин</span>-->
<!--                  <input type="text" formControlName="username" name="username" class="form-control" id="username" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.username.errors }">-->
<!--                  <div *ngIf="createSubmittedForm && getCreateForm.username.errors" class="invalid-feedback">-->
<!--                    <div *ngIf="getCreateForm.username.errors.required">Поле обязательное для заполнения</div>-->
<!--                  </div>-->
<!--                </label>-->
                <label>
                  <span>Email</span>
                  <input type="text" formControlName="email" name="email" class="form-control" id="email" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.email.errors }" readonly="true">
                  <div *ngIf="createSubmittedForm && getCreateForm.email.errors" class="invalid-feedback">
                    <div *ngIf="getCreateForm.email.errors.required">Поле обязательное для заполнения</div>
                  </div>
                </label>
<!--                <label>-->
<!--                  <span>Моб. телефон</span>-->
<!--                  <input type="text" formControlName="phone" name="phone" class="form-control" id="phone" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.phone.errors }">-->
<!--                  <div *ngIf="createSubmittedForm && getCreateForm.phone.errors" class="invalid-feedback">-->
<!--                    <div *ngIf="getCreateForm.phone.errors.pattern">Допустимый формат [+91 036 123-45-67 || 910361234567]</div>-->
<!--                  </div>-->
<!--                </label>-->
<!--                <label>-->
<!--                  <span>Пароль</span>-->
<!--                  <input type="password" formControlName="password" name="password" class="form-control" id="password" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.password.errors }">-->
<!--                  <div *ngIf="createSubmittedForm && getCreateForm.password.errors" class="invalid-feedback">-->
<!--                    <div *ngIf="getCreateForm.password.errors.required">Поле обязательное для заполнения</div>-->
<!--                    <div *ngIf="getCreateForm.password.errors.minlength">Пароль должен содержать не меньше 6 символов</div>-->
<!--                  </div>-->
<!--                </label>-->
<!--                <label>-->
<!--                  <span>Подтвердить пароль</span>-->
<!--                  <input type="password" formControlName="confirmPassword" name="confirmPassword" class="form-control" id="confirmPassword" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.confirmPassword.errors }">-->
<!--                  <div *ngIf="createSubmittedForm && getCreateForm.confirmPassword.errors" class="invalid-feedback">-->
<!--                    <div *ngIf="getCreateForm.confirmPassword.errors.required">Поле обязательное для заполнения</div>-->
<!--                    <div *ngIf="getCreateForm.confirmPassword.errors.mustMatch">Пароль не подтвержден</div>-->
<!--                  </div>-->
<!--                </label>-->
                <label>
                  <span>Имя</span>
                  <input type="text" formControlName="firstName" name="firstName" class="form-control" id="firstName" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.firstName.errors }" readonly="true">
                  <div *ngIf="createSubmittedForm && getCreateForm.firstName.errors" class="invalid-feedback">
                    <div *ngIf="getCreateForm.firstName.errors.required">Поле обязательное для заполнения</div>
                  </div>
                </label>
                <label>
                  <span>Фамилия</span>
                  <input type="text" formControlName="lastName" name="lastName" class="form-control" id="lastName" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.lastName.errors }" readonly="true">
                  <div *ngIf="createSubmittedForm && getCreateForm.lastName.errors" class="invalid-feedback">
                    <div *ngIf="getCreateForm.lastName.errors.required">Поле обязательное для заполнения</div>
                  </div>
                </label>
                <label>
                  <span>Роль</span>
                  <select formControlName="roleCode" name="roleCode" class="custom-select" id="roleCode" aria-describedby="idHelp" style="width: 100%; padding: 8px;" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.roleCode.errors }">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let userRole of userRoles" [ngValue]="userRole.roleCode" [selected]="">{{userRole.roleCode}}</option>
                  </select>
                  <div *ngIf="createSubmittedForm && getCreateForm.roleCode.errors" class="invalid-feedback">
                    <div *ngIf="getCreateForm.roleCode.errors.required">Поле обязательное для заполнения</div>
                  </div>
                </label>
              </perfect-scrollbar>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyEdit" routerLink="/user" [queryParams]="{}" (click)="stFilter.filter(btnFilter('username=&email='))" value="Сохранить">
            <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancelEdit" value="Отменить">
          </ng-template>
        </form>
      </ejs-dialog>
    </div>

    <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">

        <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
          <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
          <tr>
            <th class="table-attestation-history">Регистрация пользователей {{ title }}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div stTable #table="stTable" style="margin-top: -7px;">
                <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

                <table class="found">
                  <thead>
                  <tr>
                    <th stSort="username">Логин</th>
                    <th stSort="email">Email</th>
<!--                    <th>Моб. телефон</th>-->
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Роль</th>
                  </tr>
                  </thead>
                  <!-- http://www.unicode.org/cldr/charts/29/delta/ru.html -->
                  <!-- https://seo-studio.pro/blog/special-characters-html5-and-css3 -->
                  <tbody>
                  <ng-container *ngFor="let user of table.items">
                  <tr (click)="selectUserName(user)" *ngIf="user.username === selectedUserName">
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ user.username }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ user.email }}</td>
<!--                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ user.phoneNumber }}</td>-->
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ user.firstName }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ user.lastName }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ user.roleCode | uppercase }}</td>
                  </tr>
                  <tr (click)="selectUserName(user)" *ngIf="user.username != selectedUserName">
                    <td align="left" nowrap>{{ user.username }}</td>
                    <td align="left" nowrap>{{ user.email }}</td>
<!--                    <td align="center" nowrap>{{ user.phoneNumber }}</td>-->
                    <td align="left" nowrap>{{ user.firstName }}</td>
                    <td align="left" nowrap>{{ user.lastName }}</td>
                    <td align="left" nowrap>{{ user.roleCode | uppercase }}</td>
                  </tr>
                  </ng-container>
                  </tbody>
                </table>

                <div stPagination #pager="stPagination" style="margin: auto; width: 200px;">
                  <button (click)="pager.selectPage(1)" [disabled]="!pager.isPreviousPageEnabled()" title="В начало">1</button>
                  <button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Предыдущая">&#x25C4;</button>
                  <p style="margin-top: 17px;"><input type="text" value="{{pager.page}}" (input)="pager.selectPage(selectPage($event.target.value))" style="width: 75px; color: #00275e; border-color: #00275e; border-radius: 0.2em; padding-top: 0.1em; padding-bottom: 0.2em;"></p>
                  <button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Следующая">&#x25BA;</button>
                  <button (click)="pager.selectPage(selectLastPage(pager.length, pager.size))" [disabled]="!pager.isNextPageEnabled()" title="В конец">{{ selectLastPage(pager.length, pager.size) }}</button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </perfect-scrollbar>
    </div>

  </div>
  <!-- /Container: List Items -->
