  <!-- Container: List Items -->
  <div class="container">
    <div style="padding-bottom: 5px;">
      <table>
        <tr>
          <td><button (click)="goBack()" title="Вернуться к предыдущей странице">&#8629;</button></td>
          <td><button (click)="pageRefresh()" title="Обновить">&#x21bb;</button></td>
          <td><button (click)="createIpsKey()" title="Создать">+</button></td>
        </tr>
      </table>
    </div>

    <table class="table" border="1" style="width:0;">
      <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
      <tr>
        <th>{{ dataService.translate('ips-key.list.title') | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">
              <table>
                <tr>
                  <td>
                    <table width="1650" border="0">
                      <tr>
                        <th width="130">Идентификатор записи ключа</th>
                        <th width="110">rid</th>
                        <th width="70">index</th>
                        <th width="120">exponentLength</th>
                        <th width="120">exponentValue</th>
                        <th width="120">modulusLength</th>
                        <th width="230">modulus</th>
                        <th width="230">secureHashAlg</th>
                        <th width="230">caHashAlgInd</th>
                        <th width="110">caPkAlgInd</th>
                        <th width="110">keyExpDate</th>
                        <th width="70">scheme</th>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                      <perfect-scrollbar class="scroll-container" fxFlex="auto">
                        <table class="table table-striped" width="1650" border="0">
                          <tbody>
                          <ng-container *ngFor="let ipsKey of ipsKeys">
                            <tr class="found" (click)="selectIpsKeyId(ipsKey)">
                              <div *ngIf="ipsKey.id === selectedIpsKeyId">
                                <td width="130" style="background: rgba(70, 70, 70, 0.200);">{{ ipsKey.id }}</td>
                                <td width="110" style="background: rgba(70, 70, 70, 0.200);">{{ ipsKey.rid }}</td>
                                <td width="70" style="background: rgba(70, 70, 70, 0.200);">{{ ipsKey.index }}</td>
                                <td width="120" style="background: rgba(70, 70, 70, 0.200);">{{ ipsKey.exponentLength }}</td>
                                <td width="120" style="background: rgba(70, 70, 70, 0.200);">{{ ipsKey.exponentValue }}</td>
                                <td width="120" style="background: rgba(70, 70, 70, 0.200);">{{ ipsKey.modulusLength }}</td>
                                <td width="230" style="background: rgba(70, 70, 70, 0.200);"><div style="border:0; max-width:200px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ ipsKey.modulus }}</div></td> <!-- http://htmlbook.ru/css/word-wrap -->
                                <td width="230" style="background: rgba(70, 70, 70, 0.200);"><div style="border:0; max-width:200px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ ipsKey.secureHashAlg }}</div></td> <!-- http://htmlbook.ru/css/word-wrap -->
                                <td width="230" style="background: rgba(70, 70, 70, 0.200);"><div style="border:0; max-width:200px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ ipsKey.caHashAlgInd }}</div></td> <!-- http://htmlbook.ru/css/word-wrap -->
                                <td width="110" style="background: rgba(70, 70, 70, 0.200);">{{ ipsKey.caPkAlgInd }}</td>
                                <td width="110" align="center" style="background: rgba(70, 70, 70, 0.200); font-size:12px; line-height:10px;">{{ ipsKey.keyExpDate | date : 'dd.MM.yyyy hh:mm'}}</td>
                                <td width="70" style="background: rgba(70, 70, 70, 0.200);">{{ ipsKey.scheme }}</td>
                              </div>
                              <div *ngIf="ipsKey.id != selectedIpsKeyId">
                                <td width="130">{{ ipsKey.id }}</td>
                                <td width="110">{{ ipsKey.rid }}</td>
                                <td width="70">{{ ipsKey.index }}</td>
                                <td width="120">{{ ipsKey.exponentLength }}</td>
                                <td width="120">{{ ipsKey.exponentValue }}</td>
                                <td width="120">{{ ipsKey.modulusLength }}</td>
                                <td width="230"><div style="border:0; max-width:200px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ ipsKey.modulus }}</div></td> <!-- http://htmlbook.ru/css/word-wrap -->
                                <td width="230"><div style="border:0; max-width:200px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ ipsKey.secureHashAlg }}</div></td> <!-- http://htmlbook.ru/css/word-wrap -->
                                <td width="230"><div style="border:0; max-width:200px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ ipsKey.caHashAlgInd }}</div></td> <!-- http://htmlbook.ru/css/word-wrap -->
                                <td width="110">{{ ipsKey.caPkAlgInd }}</td>
                                <td width="110" align="center" style="font-size:12px; line-height:10px;">{{ ipsKey.keyExpDate | date : 'dd.MM.yyyy hh:mm'}}</td>
                                <td width="70">{{ ipsKey.scheme }}</td>
                              </div>
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </perfect-scrollbar>
                    </div>
                  </td>
                </tr>
              </table>
            </perfect-scrollbar>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /Container: List Items -->


  <!-- Container: Selected Item (IpsKey) -->
  <div class="card text-center" style="position: absolute; margin-left: 973px; height: 745px; margin-top: -761px; border: solid #00275e 1px;" *ngIf="selectedIpsKey">
    <div class="card-header card-header">
      <table width="400">
        <tr>
          <td align="left"> </td>
          <td></td>
          <td align="right"><button (click)="closeIpsKey()">X</button></td>
        </tr>
      </table>
    </div>

    <div class="content-container-card" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">
        <div class="col-sm-12 offset-sm-2" style="margin-left:0; min-height: 500px;">
          <div class="info-form">

            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <table width="390" cellpadding="4" border="0">
                  <tr *ngIf="selectedIpsKey.id != null">
                    <td align="right" width="210">
                      <label for="id">Идентификатор записи ключа</label>
                    </td>
                    <td width="180">
                      <input type="number" formControlName="id" name="id" class="form-control" id="id" aria-describedby="idHelp" readonly="true">
                    </td>
                  </tr>
                  <tr>
                    <td align="right" width="210">
                      <label for="rid">rid</label>
                    </td>
                    <td width="180">
                      <input type="text" formControlName="rid" name="rid" class="form-control" id="rid" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="index">index</label>
                    </td>
                    <td>
                      <input type="number" formControlName="index" name="index" class="form-control" id="index" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="exponentLength">exponentLength</label>
                    </td>
                    <td>
                      <input type="number" formControlName="exponentLength" name="exponentLength" class="form-control" id="exponentLength" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="exponentValue">exponentValue</label>
                    </td>
                    <td>
                      <input type="text" formControlName="exponentValue" name="exponentValue" class="form-control" id="exponentValue" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="modulusLength">modulusLength</label>
                    </td>
                    <td>
                      <input type="number" formControlName="modulusLength" name="modulusLength" class="form-control" id="modulusLength" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="modulus">modulus</label>
                    </td>
                    <td>
                      <textarea formControlName="modulus" rows="3" name="modulus" class="form-control" id="modulus" aria-describedby="idHelp" placeholder="Не выбрано" style="height: 70px; font-size: 12px;">
                      </textarea>
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="secureHashAlg">secureHashAlg</label>
                    </td>
                    <td>
                      <textarea formControlName="secureHashAlg" rows="3" name="secureHashAlg" class="form-control" id="secureHashAlg" aria-describedby="idHelp" placeholder="Не выбрано" style="height: 70px; font-size: 12px;">
                      </textarea>
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="caHashAlgInd">caHashAlgInd</label>
                    </td>
                    <td>
                      <textarea formControlName="caHashAlgInd" rows="3" name="caHashAlgInd" class="form-control" id="caHashAlgInd" aria-describedby="idHelp" placeholder="Не выбрано" style="height: 70px; font-size: 12px;">
                      </textarea>
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="caPkAlgInd">caPkAlgInd</label>
                    </td>
                    <td>
                      <input type="text" formControlName="caPkAlgInd" name="caPkAlgInd" class="form-control" id="caPkAlgInd" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="keyExpDate">keyExpDate</label>
                    </td>
                    <td>
                      <my-date-picker formControlName="keyExpDate"
                                      name="keyExpDate"
                                      id="keyExpDate"
                                      [options]="datePickerOptions"
                                      placeholder="Не выбрано">
                      </my-date-picker>
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="scheme">scheme</label>
                    </td>
                    <td>
                      <input type="text" formControlName="scheme" name="scheme" class="form-control" id="scheme" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                </table>
              </div>
              <div style="text-align: center; padding-bottom: 5px;">
                <button class="btn btn-transenix">{{ dataService.translate('button.save') | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
  <!-- /Container: Selected Item (IpsKey) -->
