<nav class="navbar navbar-expand-md bg-secondary navbar-light fixed-top">

  <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" class="logo" width="200" height="55" style="margin-top: -15px;"></a>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/ips-card-group" style="background: url('/assets/img/menu-icon/ips-card-group.png'); background-size: 20px; background-repeat: no-repeat; background-position: 0px 15px;">{{ dataService.translate('menu.ips-card-group') | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tms-key" style="background: url('/assets/img/menu-icon/tms-key.png'); background-size: 20px; background-repeat: no-repeat; background-position: 0px 15px;">{{ dataService.translate('menu.tms-key') | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ips-key" style="background: url('/assets/img/menu-icon/ips-key.png'); background-size: 20px; background-repeat: no-repeat; background-position: 0px 15px;">{{ dataService.translate('menu.ips-key') | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/general-configuration" style="background: url('/assets/img/menu-icon/general-configuration.png'); background-size: 20px; background-repeat: no-repeat; background-position: 0px 15px;">{{ dataService.translate('menu.general-configuration') | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/attestation" style="background: url('/assets/img/menu-icon/attestation.png'); background-size: 20px; background-repeat: no-repeat; background-position: 0px 15px;">{{ dataService.translate('menu.attestation') | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bank" style="background: url('/assets/img/menu-icon/bank.png'); background-size: 20px; background-repeat: no-repeat; background-position: 0px 15px;">{{ dataService.translate('menu.bank') | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-role" style="background: url('/assets/img/menu-icon/user-role.png'); background-size: 20px; background-repeat: no-repeat; background-position: 0px 15px;">{{ dataService.translate('menu.user-role') | translate }}</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="selectedLanguageId" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ dataService.translate('languages.' + translateService.currentLang) | translate }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="selectedLanguageId">
          <div *ngFor="let language of languages">
            <a class="dropdown-item" name="language" *ngIf="language.id !== translateService.currentLang" (click)="changeLanguage(language);">{{ language.title }}</a>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ username }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/login">{{ dataService.translate('login.login') | translate }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="editUser(user)">{{ dataService.translate('login.profile') | translate }}</a>
        </div>
      </li>
    </ul>
  </div>

</nav>
