  <div class="container">

    <!-- Dialog Items -->
    <div class="control-section" style="padding-bottom: 5px;">
      <!-- Control Section -->
      <span style="padding-right: 3px;">
      <button (click)="goBack()" title="Вернуться к предыдущей странице">&#8629;</button>
    </span>
<!--    <span stFilter #stFilter="stFilter" style="padding-right: 3px;">-->
<!--      <button routerLink="/message" [queryParams]="{}" (click)="stFilter.filter(btnFilter('id=&text='))" title="Обновить">&#x21bb;</button>-->
    <span style="padding-right: 3px;">
      <button routerLink="/message" title="Обновить">&#x21bb;</button>
    </span>
      <button ejs-button id='btnOpenTemplateCreate' #btnOpenTemplateCreate (click)="openTemplateCreate()" title="Новый шаблон уведомления">&#10010;</button>
      <!-- /Control Section -->

      <ejs-dialog #create id="create"
                  style="display: none;"
                  [isModal]='isModalCreate'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"335px"'
                  (open)="onCreate()"
                  (close)="offCreate()">
        <form [formGroup]="createForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings"> Новый шаблон уведомления </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent dialog-content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
              <perfect-scrollbar class="scroll-container" fxFlex="auto">
<!--                <label>-->
<!--                  <span>Шаблон</span>-->
<!--                  <input type="text" formControlName="id" name="id" class="form-control" id="id" aria-describedby="idHelp" placeholder="Не выбрано" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.id.errors }">-->
<!--                  <div *ngIf="createSubmittedForm && getCreateForm.id.errors" class="invalid-feedback">-->
<!--                    <div *ngIf="getCreateForm.id.errors.required">Поле обязательное для заполнения</div>-->
<!--                  </div>-->
<!--                </label>-->

                <p>
                  <textarea rows="10" formControlName="text" name="text" class="form-control" id="text" aria-describedby="idHelp" placeholder="Текст уведомления" (change)="clearValidatorCreateForm()" [ngClass]="{ 'is-invalid': createSubmittedForm && getCreateForm.text.errors }" style="height: 250px; width: 64%; font-size: 12px;"></textarea>
                </p>
                <div *ngIf="createSubmittedForm && getCreateForm.text.errors" class="invalid-feedback">
                  <div *ngIf="getCreateForm.text.errors.required">Поле обязательное для заполнения</div>
                </div>
              </perfect-scrollbar>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
<!--            <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyCreate" routerLink="/message" [queryParams]="{}" (click)="stFilter.filter(btnFilter('id=&text='))" value="Сохранить" [disabled]="!isButtonSave">-->
            <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyCreate" routerLink="/message" value="Сохранить" [disabled]="!isButtonSave">
            <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancelCreate" value="Отменить">
          </ng-template>
        </form>
      </ejs-dialog>
    </div>
    <!-- /Dialog Items -->


    <table border="0" style="margin-left: -7px; margin-top: -4px;">
      <tr style="height: 700px;">
        <td valign="top">
          <!-- Container: List Items (MessageTemplate) -->
          <app-message-template></app-message-template>
          <!-- Container: List Items (MessageTemplate) -->
        </td>
        <td valign="top">
          <!-- Container: Selected Item (MerchantMessage) -->
          <app-merchant-message></app-merchant-message>
          <!-- /Container: Selected Item (MerchantMessage) -->
        </td>
        <td valign="top">
          <!-- Container: Selected Item (TerminalMessage) -->
          <app-terminal-message></app-terminal-message>
          <!-- /Container: Selected Item (TerminalMessage) -->
        </td>
      </tr>
      <tr>
        <td colspan="3" align="center">
          <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyMessage" routerLink="/message" value="Уведомлять">
        </td>
      </tr>
    </table>

  </div>
