  <div class="container">

    <!-- Dialog Items -->
    <div class="control-section" style="padding-bottom: 5px;">
      <!-- Control Section -->
      <span style="padding-right: 3px;">
        <button (click)="goBack()" title="Вернуться к предыдущей странице">&#8629;</button>
      </span>
      <span style="padding-right: 3px;">
        <button [routerLink]="['/message', t]" title="Обновить">&#x21bb;</button>
      </span>

      <ejs-dialog #messageConfirm id="messageConfirm"
                  style="display: none;"
                  [isModal]='isModalMessageConfirm'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"235px"'
                  (open)="onMessageConfirm()"
                  (close)="offMessageConfirm()">
        <form [formGroup]="messageConfirmForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings"> Отправить уведомления </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent dialog-content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
              <perfect-scrollbar class="scroll-container" fxFlex="auto">
                <p style="width:235px; padding:10px;">{{ message1 }} <br><br> {{ message2 }}</p>
              </perfect-scrollbar>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyMessageConfirm" routerLink="/message" value="Ok">
          </ng-template>
        </form>
      </ejs-dialog>
    </div>
    <!-- /Dialog Items -->


    <table border="0" style="margin-left: -7px; margin-top: -4px;">
      <tr style="height: 700px;">
        <td valign="top">
          <!-- Container: List Items (MessageTemplate) -->
          <app-message-template></app-message-template>
          <!-- Container: List Items (MessageTemplate) -->
        </td>
        <td valign="top">
          <!-- Container: Selected Item (MerchantMessage) -->
          <app-merchant-message></app-merchant-message>
          <!-- /Container: Selected Item (MerchantMessage) -->
        </td>
        <td valign="top">
          <!-- Container: Selected Item (TerminalMessage) -->
          <app-terminal-message></app-terminal-message>
          <!-- /Container: Selected Item (TerminalMessage) -->
        </td>
      </tr>
      <tr>
        <td colspan="3" align="center">
          <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyMessage" routerLink="/message" (click)="onMessage()" value="Отправить уведомления" [disabled]="!dataService.getOnSubmitMessage().disabled">
        </td>
      </tr>
    </table>

  </div>
