html {
    font-family: "BryantProRegular", 'Helvetica Neue', helvetica, arial, sans-serif, "Helvetica Neue";
    color: #464646;
}

body {
    padding: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead, tbody {
    border-bottom: 2px solid #00275e;
}

em{
  color:#007bff
}

tbody {
    color: #00275e;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid darkgray;
}

tbody tr:nth-child(2n) {
    background: rgba(0, 93, 255, 0.18);
}

th, td {
    padding: 0.5em;
}

th {
    cursor: pointer;
}

tbody td {
    text-align: right;
}

tbody td:not(:first-child) {
    border-left: 1px dashed darkgray;
}

button {
    font: inherit;
    padding: 0.3em 0.5em;
    background: inherit;
    color: #00275e;
    border: 1px solid currentColor;
    min-width: 5em;
    transition: all 0.3s;
    outline: none;
}

button:not(:disabled):hover {
    background: #00275e;
    color: white;
    cursor: pointer;
}

button:disabled {
    color: lightgrey;
}

label {
    margin: 0.3em 0;
    display: flex;
    align-items: center;
}

label > span {
  flex-basis: 200px
}

input, select {
    flex-grow: 1;
    font: inherit;
    font-weight: lighter;
    border: 1px solid rgba(132, 130, 255, 0.3);
    padding: 0.2em 0.5em;
    margin: 0 0.5em;
    color: #00275e;
    outline: none;
}

input:focus, select:focus {
    border-color: #00275e;
    box-shadow: 0 0 4px 0 #00275e;
}

.st-sort-asc:before {
    content: '\25B2';
}

.st-sort-desc:before {
    content: '\25BC';
}

[stPagination]{
  display: flex;
  align-items: center;
  justify-content:space-between;
}

#users-table{
  position: relative
}

.loading-indicator{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  background: rgba(250,250,250, 0.8);
  align-items: center;
  justify-content: center;
}
