<div id="users-table" stTable #table="stTable">
  <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

	<div>
<!--		<label>-->
<!--			<span>Search</span>-->
<!--			<input type="search" placeholder="First name, Last name, Job" stSearch="name.first, name.last, job" />-->
<!--		</label>-->
		<label>
			<span>ID</span>
			<input placeholder="id" type="text" stFilter="id" />
		</label>
		<label>
			<span>First name</span>
			<input placeholder="First name" type="text" stFilter="name.first" />
		</label>
		<label>
			<span>Last name</span>
			<input placeholder="Last name" type="text" stFilter="name.last" />
		</label>
		<label>
			<span>Birth date</span>
			<input type="date" stFilterOperator="gt" stFilterType="date" stFilter="birthDate" />
		</label>
		<label>
			<span>Job</span>
			<select name="job" stFilter="job" stFilterOperator="is">
				<option value="">-</option>
				<option value="dev">DEV</option>
				<option value="manager">MANAGER</option>
				<option value="qa">QA</option>
			</select>
		</label>
		<label>
			<span>Balance</span>
			<input type="number" placeholder="Balance" stFilterOperator="lt" stFilterType="number" stFilter="balance" />
		</label>
	</div>

	<br><hr><br>

	<table>
		<thead>
			<tr>
				<th stSort="id" stSortCycle="true">ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Birth date</th>
				<th>Job</th>
				<th>Balance</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of table.items">
				<td>{{user.value.id}}</td>
				<td>{{user.value.name.first}}</td>
				<td>{{user.value.name.last | uppercase}}</td>
				<td>{{user.value.birthDate | date}}</td>
				<td>{{user.value.job | uppercase}}</td>
				<td>{{user.value.balance | currency}}
			</tr>
		</tbody>
	</table>

	<div stPagination #pager="stPagination">
		<button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Previous">&#x25C4;</button>
		<p><em>{{pager.length > 0 ? pager.lowerBoundIndex + 1 : 0}}</em> - <em>{{pager.higherBoundIndex + 1}}</em> of <em>{{pager.length}} </em></p>
		<button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Next">&#x25BA;</button>
	</div>
</div>
