<!-- Container: List Items -->
<div class="container">
  <table class="table" border="1" style="width:0;">
    <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
    <tr>
      <th> &nbsp; </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
          <perfect-scrollbar class="scroll-container" fxFlex="auto">
            <table>
              <tr>
                <td>
                  <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                    <perfect-scrollbar class="scroll-container" fxFlex="auto">

                      <!--  https://www.concretepage.com/angular-2/angular-2-date-pipe-example -->

                      <!--
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'short'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'medium'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'long'}}
                      <br>
                      <br>

                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'shortDate'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'mediumDate'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'longDate'}}
                      <br>

                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'shortTime'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'mediumTime'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'longTime'}}
                      <br>
                      <br>

                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date }}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'fullDate'}}
                      <br>
                      <br>

                      {{'2019-08-05T09:21:56.777+0000'| date :'medium'}}
                      -->


<!--<ng-multiselect-dropdown [placeholder]="'Не выбрано'"-->
  <!--[data]="dropdownList"-->
  <!--[(ngModel)]="selectedItems"-->
  <!--[settings]="dropdownSettings"-->
  <!--(onSelect)="onItemSelect($event)"-->
  <!--(onSelectAll)="onSelectAll($event)">-->
<!--</ng-multiselect-dropdown>-->

<!--&lt;!&ndash;<div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="100%">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">&ndash;&gt;-->
    <!--<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">-->
      <!--<perfect-scrollbar class="scroll-container" fxFlex="auto">-->
        <!--Scroll<br>-->
        <!--me!<br>-->
        <!--<br>-->
        <!--I<br>-->
        <!--am<br>-->
        <!--an<br>-->
        <!--example<br>-->
        <!--content<br>-->
        <!--text<br>-->
        <!--for<br>-->
        <!--this<br>-->
        <!--really<br>-->
        <!--cooooooooooooooooooooooooooooooooooooooooooooooooool<br>-->
        <!--scrollable<br>-->
        <!--area<br>-->
        <!--in<br>-->
        <!--this<br>-->
        <!--example<br>-->
        <!--app<br>-->
        <!--which<br>-->
        <!--is<br>-->
        <!--using<br>-->
        <!--the<br>-->
        <!--angular2<br>-->
        <!--perfect<br>-->
        <!--scrollbar<br>-->
        <!--library<br>-->
      <!--</perfect-scrollbar>-->
    <!--</div>-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<table class="table table-striped w-auto">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>#</th>-->
    <!--<th>Name</th>-->
    <!--<th>Surname</th>-->
    <!--<th>Country</th>-->
    <!--<th>City</th>-->
    <!--<th>Position</th>-->
    <!--<th>Age</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr class="table-info">-->
    <!--<th scope="row">1</th>-->
    <!--<td>Kate</td>-->
    <!--<td>Moss</td>-->
    <!--<td>USA</td>-->
    <!--<td>New York City</td>-->
    <!--<td>Web Designer</td>-->
    <!--<td>23</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row">2</th>-->
    <!--<td>Anna</td>-->
    <!--<td>Wintour</td>-->
    <!--<td>United Kingdom</td>-->
    <!--<td>London</td>-->
    <!--<td>Frontend Developer</td>-->
    <!--<td>36</td>-->
  <!--</tr>-->
  <!--<tr class="table-info">-->
    <!--<th scope="row">3</th>-->
    <!--<td>Tom</td>-->
    <!--<td>Bond</td>-->
    <!--<td>Spain</td>-->
    <!--<td>Madrid</td>-->
    <!--<td>Photographer</td>-->
    <!--<td>25</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row">4</th>-->
    <!--<td>Jerry</td>-->
    <!--<td>Horwitz</td>-->
    <!--<td>Italy</td>-->
    <!--<td>Bari</td>-->
    <!--<td>Editor-in-chief</td>-->
    <!--<td>41</td>-->
  <!--</tr>-->
  <!--<tr class="table-info">-->
    <!--<th scope="row">5</th>-->
    <!--<td>Janis</td>-->
    <!--<td>Joplin</td>-->
    <!--<td>Poland</td>-->
    <!--<td>Warsaw</td>-->
    <!--<td>Video Maker</td>-->
    <!--<td>39</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row">6</th>-->
    <!--<td>Gary</td>-->
    <!--<td>Winogrand</td>-->
    <!--<td>Germany</td>-->
    <!--<td>Berlin</td>-->
    <!--<td>Photographer</td>-->
    <!--<td>37</td>-->
  <!--</tr>-->
  <!--<tr class="table-info">-->
    <!--<th scope="row">7</th>-->
    <!--<td>Angie</td>-->
    <!--<td>Smith</td>-->
    <!--<td>USA</td>-->
    <!--<td>San Francisco</td>-->
    <!--<td>Teacher</td>-->
    <!--<td>52</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row">8</th>-->
    <!--<td>John</td>-->
    <!--<td>Mattis</td>-->
    <!--<td>France</td>-->
    <!--<td>Paris</td>-->
    <!--<td>Actor</td>-->
    <!--<td>28</td>-->
  <!--</tr>-->
  <!--<tr class="table-info">-->
    <!--<th scope="row">9</th>-->
    <!--<td>Otto</td>-->
    <!--<td>Morris</td>-->
    <!--<td>Germany</td>-->
    <!--<td>Munich</td>-->
    <!--<td>Singer</td>-->
    <!--<td>35</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->

                    </perfect-scrollbar>
                  </div>
                </td>
              </tr>
            </table>
          </perfect-scrollbar>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Container: List Items -->
