<!-- Container: List Items -->
<div class="container">
  <table class="table" border="1" style="width:0;">
    <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
    <tr>
      <th> &nbsp; </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
          <perfect-scrollbar class="scroll-container" fxFlex="auto">
            <table>
              <tr>
                <td>
                  <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                    <perfect-scrollbar class="scroll-container" fxFlex="auto">

                      <div style="border: solid #00275e 1px; width: 650px; height: 650px;">

                        <!-- https://www.npmjs.com/package/ngx-infinite-scroll -->
                        <!-- https://stackblitz.com/edit/angular-infinite-scroll-example -->
                        <infinite-scroll-list></infinite-scroll-list>

                        <!-- https://www.syncfusion.com/angular-ui-components/angular-modal-dialog -->
                        <!-- https://ej2.syncfusion.com/angular/demos/?_ga=2.111225988.1289509372.1567590721-1371316351.1564393269#/material/dialog/template -->
<!--                        <div class="control-section">-->
<!--                          <p>-->
<!--                            <br> &nbsp; In the Succinctly series, Syncfusion created a robust, free library of more than 130 technical e-books formatted for PDF, Kindle, and EPUB.-->
<!--                            <br> <button ejs-button id='btnOpenDialog2' #btnOpenDialog2 (click)="openDialog2()">Open Dialog-2</button>-->
<!--                          </p>-->
<!--                          <ejs-dialog #ejsModalDialog2 id="ejsModalDialog2"-->
<!--                                      style="display: none;"-->
<!--                                      [isModal]='isModal2'-->
<!--                                      [animationSettings]='animationSettings2'-->
<!--                                      [showCloseIcon]='showCloseIcon2'-->
<!--                                      [target]='target2'-->
<!--                                      [width]='width2'-->
<!--                                      (open)="onOpenDialog2()"-->
<!--                                      (close)="onCloseDialog2()">-->
<!--                            <ng-template #header>-->
<!--                              &lt;!&ndash;<div class="e-avatar template-image e-avatar-xsmall e-avatar-circle"></div>&ndash;&gt;-->
<!--                              <div id="dlg-template" title="SYNCFUSION" class="e-icon-settings"> SYNCFUSION </div>-->
<!--                            </ng-template>-->
<!--                            <ng-template #content>-->
<!--                              <div class="dialogContent">-->
<!--                                <span class="dialogText"></span>-->
<!--                                <br> <input id="inValue" class="e-input" type="text" placeholder="текст сообщения"/>-->
<!--                              </div>-->
<!--                            </ng-template>-->
<!--                            <ng-template #footerTemplate>-->
<!--                              <button id="sendButton" class="e-control e-btn e-primary sendButton" data-ripple="true">Отправить</button>-->
<!--                            </ng-template>-->
<!--                          </ejs-dialog>-->
<!--                        </div>-->

                        <!-- https://www.syncfusion.com/kb/10396/how-to-get-started-easily-with-syncfusion-angular-7-modal-dialog -->
                        <!-- https://github.com/SyncfusionExamples/ej2-angular-7-modal-dialog -->
                        <!-- http://qaru.site/questions/16547395/ng-build-prod-is-not-working-properly-how-to-check-this -->
                        <!-- https://www.pika.dev/packages/@syncfusion/ej2-angular-popups -->
                        <!-- https://ej2.syncfusion.com/angular/demos/?utm_source=npm&utm_campaign=dialog#/material/dialog/default -->
                        <!-- https://ej2.syncfusion.com/angular/demos/?utm_source=npm&utm_campaign=dialog#/material/dialog/modal-dialog -->
                        <!-- https://ej2.syncfusion.com/angular/documentation/dialog/getting-started/#modal-dialog -->
                        <!--<div class='control-section'>-->
                          <!--<p>-->
                            <!--<br> &nbsp; In the Succinctly series, Syncfusion created a robust, free library of more than 130 technical e-books formatted for PDF, Kindle, and EPUB.-->
                            <!--<br> <button ejs-button id='btnOpenDialog' #btnOpenDialog (click)="openDialog()">Open Dialog</button>-->
                          <!--</p>-->
                          <!--<ejs-dialog #ejsModalDialog id="ejsModalDialog"-->
                                      <!--style="display: none;"-->
                                      <!--[isModal]='isModal'-->
                                      <!--[header]='header'-->
                                      <!--[animationSettings]='animationSettings'-->
                                      <!--[showCloseIcon]='showCloseIcon'-->
                                      <!--[target]='target'-->
                                      <!--[width]='width'-->
                                      <!--(open)="onOpenDialog()"-->
                                      <!--(close)="onCloseDialog()"-->
                                      <!--[buttons]='ejsModalDialogButtons'>-->
                            <!--<ng-template #content>-->
                              <!--<p>-->
                                <!--The Succinctly series was born in 2012 out of a desire to provide concise technical e-books for software developers-->
                                <!--Each title in the Succinctly series is written by a carefully chosen expert and provides essential content in about 100 pages.-->
                              <!--</p>-->
                            <!--</ng-template>-->
                          <!--</ejs-dialog>-->
                        <!--</div>-->


                        <!-- https://webref.ru/layout/pseudo-class-checked/tabs -->
                        <!--<br>-->
                        <!--<div class="tabs">-->
                          <!--<div class="tab">-->
                            <!--<input type="radio" id="tab1" name="tab-group" checked>-->
                            <!--<label for="tab1" class="tab-title">Вкладка 1</label>-->
                            <!--<section class="tab-content">Один</section>-->
                          <!--</div>-->
                          <!--<div class="tab">-->
                            <!--<input type="radio" id="tab2" name="tab-group">-->
                            <!--<label for="tab2" class="tab-title">Вкладка 2</label>-->
                            <!--<section class="tab-content">Два</section>-->
                          <!--</div>-->
                          <!--<div class="tab">-->
                            <!--<input type="radio" id="tab3" name="tab-group">-->
                            <!--<label for="tab3" class="tab-title">Вкладка 3</label>-->
                            <!--<section class="tab-content">Три</section>-->
                          <!--</div>-->
                        <!--</div>-->

                        <!-- https://www.npmjs.com/package/angular-tabs-component -->
                        <!--<tabs>-->
                          <!--<tab tabTitle="Tab 1">Tab 1 Content</tab>-->
                          <!--<tab tabTitle="Tab 2">Tab 2 Content</tab>-->
                        <!--</tabs>-->

                        <!--&lt;!&ndash; https://www.npmjs.com/package/ng2-datetime-picker &ndash;&gt;-->
                        <!--<input ng2-datetime-picker-->
                               <!--[(ngModel)]="date1"-->
                               <!--date-only="true" />-->

                        <!--<br>-->
                        <!--<input ng2-datetime-picker-->
                               <!--[(ngModel)]="date2"-->
                               <!--[close-on-select]="false" />-->

                        <!--<input ng2-datetime-picker-->
                               <!--[(ngModel)]="date1"-->
                               <!--date-format="MM/DD/YYYY HH:mm"-->
                               <!--parse-format="YYYY-MM-DD HH:mm:ss"-->
                               <!--[close-on-select]="false" />-->

                        <!--&lt;!&ndash;<input ng2-datetime-picker &ndash;&gt;-->
                               <!--&lt;!&ndash;[(ngModel)]="date2" &ndash;&gt;-->
                               <!--&lt;!&ndash;date-format="DD-MM-YYYY hh:mm" &ndash;&gt;-->
                               <!--&lt;!&ndash;year="2014" &ndash;&gt;-->
                               <!--&lt;!&ndash;month="12" &ndash;&gt;-->
                               <!--&lt;!&ndash;day="31" &ndash;&gt;-->
                               <!--&lt;!&ndash;hour="23" &ndash;&gt;-->
                               <!--&lt;!&ndash;minute='59' &ndash;&gt;-->
                               <!--&lt;!&ndash;[close-on-select]="false" />&ndash;&gt;-->

                        <!--&lt;!&ndash;<br>&ndash;&gt;-->
                        <!--&lt;!&ndash;<input ng2-datetime-picker&ndash;&gt;-->
                               <!--&lt;!&ndash;[(ngModel)]="date3"&ndash;&gt;-->
                               <!--&lt;!&ndash;date-format="MM/DD/YYYY HH:mm"&ndash;&gt;-->
                               <!--&lt;!&ndash;parse-format="YYYY-MM-DD HH:mm:ss" />&ndash;&gt;-->

                        <!--&lt;!&ndash; https://www.npmjs.com/package/ngx-material-timepicker &ndash;&gt;-->
                        <!--<br>-->
                        <!--<input [ngxTimepicker]="picker">-->
                        <!--<ngx-material-timepicker #picker></ngx-material-timepicker>-->

                        <!--&lt;!&ndash; https://valor-software.com/ngx-bootstrap/#/timepicker &ndash;&gt;-->
                        <!--<br>-->
                        <!--<timepicker [(ngModel)]="mytime1"></timepicker>-->
                        <!--<pre class="alert alert-info">Time is: {{mytime1}}</pre>-->

                        <!--&lt;!&ndash;<br>&ndash;&gt;-->
                        <!--&lt;!&ndash;<timepicker [(ngModel)]="mytime2" [min]="minTime" [max]="maxTime"></timepicker>&ndash;&gt;-->
                        <!--&lt;!&ndash;<pre class="alert alert-info">Time is: {{mytime2}}</pre>&ndash;&gt;-->
                      </div>


                      <!--  https://www.concretepage.com/angular-2/angular-2-date-pipe-example -->

                      <!--
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'short'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'medium'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'long'}}
                      <br>
                      <br>

                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'shortDate'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'mediumDate'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'longDate'}}
                      <br>

                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'shortTime'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'mediumTime'}}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'longTime'}}
                      <br>
                      <br>

                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date }}
                      <br>
                      {{'Mon Nov 07 2016 09:44:12 GMT+0530'| date :'fullDate'}}
                      <br>
                      <br>

                      {{'2019-08-05T09:21:56.777+0000'| date :'medium'}}
                      -->


<!--<ng-multiselect-dropdown [placeholder]="'Не выбрано'"-->
  <!--[data]="dropdownList"-->
  <!--[(ngModel)]="selectedItems"-->
  <!--[settings]="dropdownSettings"-->
  <!--(onSelect)="onItemSelect($event)"-->
  <!--(onSelectAll)="onSelectAll($event)">-->
<!--</ng-multiselect-dropdown>-->

<!--&lt;!&ndash;<div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="100%">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">&ndash;&gt;-->
    <!--<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">-->
      <!--<perfect-scrollbar class="scroll-container" fxFlex="auto">-->
        <!--Scroll<br>-->
        <!--me!<br>-->
        <!--<br>-->
        <!--I<br>-->
        <!--am<br>-->
        <!--an<br>-->
        <!--example<br>-->
        <!--content<br>-->
        <!--text<br>-->
        <!--for<br>-->
        <!--this<br>-->
        <!--really<br>-->
        <!--cooooooooooooooooooooooooooooooooooooooooooooooooool<br>-->
        <!--scrollable<br>-->
        <!--area<br>-->
        <!--in<br>-->
        <!--this<br>-->
        <!--example<br>-->
        <!--app<br>-->
        <!--which<br>-->
        <!--is<br>-->
        <!--using<br>-->
        <!--the<br>-->
        <!--angular2<br>-->
        <!--perfect<br>-->
        <!--scrollbar<br>-->
        <!--library<br>-->
      <!--</perfect-scrollbar>-->
    <!--</div>-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<table class="table table-striped w-auto">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>#</th>-->
    <!--<th>Name</th>-->
    <!--<th>Surname</th>-->
    <!--<th>Country</th>-->
    <!--<th>City</th>-->
    <!--<th>Position</th>-->
    <!--<th>Age</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr class="table-info">-->
    <!--<th scope="row">1</th>-->
    <!--<td>Kate</td>-->
    <!--<td>Moss</td>-->
    <!--<td>USA</td>-->
    <!--<td>New York City</td>-->
    <!--<td>Web Designer</td>-->
    <!--<td>23</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row">2</th>-->
    <!--<td>Anna</td>-->
    <!--<td>Wintour</td>-->
    <!--<td>United Kingdom</td>-->
    <!--<td>London</td>-->
    <!--<td>Frontend Developer</td>-->
    <!--<td>36</td>-->
  <!--</tr>-->
  <!--<tr class="table-info">-->
    <!--<th scope="row">3</th>-->
    <!--<td>Tom</td>-->
    <!--<td>Bond</td>-->
    <!--<td>Spain</td>-->
    <!--<td>Madrid</td>-->
    <!--<td>Photographer</td>-->
    <!--<td>25</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row">4</th>-->
    <!--<td>Jerry</td>-->
    <!--<td>Horwitz</td>-->
    <!--<td>Italy</td>-->
    <!--<td>Bari</td>-->
    <!--<td>Editor-in-chief</td>-->
    <!--<td>41</td>-->
  <!--</tr>-->
  <!--<tr class="table-info">-->
    <!--<th scope="row">5</th>-->
    <!--<td>Janis</td>-->
    <!--<td>Joplin</td>-->
    <!--<td>Poland</td>-->
    <!--<td>Warsaw</td>-->
    <!--<td>Video Maker</td>-->
    <!--<td>39</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row">6</th>-->
    <!--<td>Gary</td>-->
    <!--<td>Winogrand</td>-->
    <!--<td>Germany</td>-->
    <!--<td>Berlin</td>-->
    <!--<td>Photographer</td>-->
    <!--<td>37</td>-->
  <!--</tr>-->
  <!--<tr class="table-info">-->
    <!--<th scope="row">7</th>-->
    <!--<td>Angie</td>-->
    <!--<td>Smith</td>-->
    <!--<td>USA</td>-->
    <!--<td>San Francisco</td>-->
    <!--<td>Teacher</td>-->
    <!--<td>52</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<th scope="row">8</th>-->
    <!--<td>John</td>-->
    <!--<td>Mattis</td>-->
    <!--<td>France</td>-->
    <!--<td>Paris</td>-->
    <!--<td>Actor</td>-->
    <!--<td>28</td>-->
  <!--</tr>-->
  <!--<tr class="table-info">-->
    <!--<th scope="row">9</th>-->
    <!--<td>Otto</td>-->
    <!--<td>Morris</td>-->
    <!--<td>Germany</td>-->
    <!--<td>Munich</td>-->
    <!--<td>Singer</td>-->
    <!--<td>35</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->

                    </perfect-scrollbar>
                  </div>
                </td>
              </tr>
            </table>
          </perfect-scrollbar>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Container: List Items -->
