.table thead th {
  border-bottom: 0;
}

.table td, .table th {
  padding: 8px 10px 8px 10px;
  vertical-align: top;
  border-top: 0;
}

.horizontal-container {
  width: 670px;
}

.vertical-container {
  height: 712px;
}

.vertical-container,
.horizontal-container {
  min-width: 0 !important;
  min-height: 0 !important;
}

@media (min-width: 650px) {
  .container {
    max-width: 100%;
  }
}

.form-control {
  height: calc(1.0em + .75rem + 2px);
  font-size: 0.8rem;
}

.custom-select {
  height: 30px;
  line-height: 0.8;
  font-size: 0.8rem;
}


/*
 * https://webref.ru/layout/pseudo-class-checked/tabs
 */
.tabs {
  position: relative; /* Относительное позиционирование */
}

.tab, .tab-title {
  display: inline-block; /* Выстраиваем по горизонтали */
}

.tab-title:hover {
  cursor: pointer;
}

.tab input[type="radio"] {
  display: none;
}

.tab-title {
  background: #00275e; /* Цвет фона */
  padding: 5px 10px; /* Поля вокруг текста */
  border: 1px solid #00275e; /* Параметры рамки */
  border-bottom: none; /* Снизу линию убираем */
  color: #fff;
  font-weight: bold;
}

.tab-content {
  position: absolute; /* Абсолютное позиционирование */
  border: 1px solid #00275e; /* Параметры рамки */
  padding: 10px; /* Поля вокруг текста */
  left: 0; /* Размещаем у левого края */
  width: calc(100% - 20px); /* Ширина содержимого */
  display: none; /* Прячем вкладку */
  top: 30px;
}

.tab :checked + .tab-title {
  position: relative; /* Относительное позиционирование */
  background: #fff; /* Цвет фона */
  top: 0px; /* Сдвигаем вниз */
  z-index: 1; /* Отображаем поверх содержимого */
  color: #00275e;
}

.tab :checked ~ .tab-content {
  display: block; /* Показываем активную вкладку */
}



.control-section {
  height: 100%;
  min-height: 350px;
}

#btnOpenDialog {
  position: relative;
  left: calc(50% - 50px);
}

.ejsModalDialog {
  display: none;
}



#btnOpenDialog2 {
  position: relative;
  left: calc(50% - 50px);
}


#ejsModalDialog2 {
  top: -150px !important;
}


.e-dialog .e-dlg-header-content {
  background-color: #00275e;
}

.e-dialog .e-dlg-header-content .e-avatar.template-image {
  background-image: url('~/assets/img/avatar1.png');
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.control-section2 .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
  top: 7px;
  left: -4px;
  padding: 0;
  width: 26px;
  height: 26px;
}

.e-dlg-header .e-icon-settings,
.e-icon-dlg-close,
.e-icon-dlg-close:hover {
  color: #fff !important;
}

.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:hover,
.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn:focus {
  background-color: rgba(255,255,255, 0.10);
  border-radius: 3px;
}

.e-dialog .e-dlg-content {
  padding: 6px;
}

.e-dialog .e-dlg-header-content {
  padding: 0px 6px 0px 6px;
}


#dlg-template {
  display: inline-block;
  padding: 0px 10px;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
}

.dialogContent {
  display: block;
  padding: 3%;
  position: relative;
}

.dialogContent .dialogText {
  font-size: 13px;
  padding: 5%;
  word-wrap: break-word;
  text-align: justify;
  font-style: initial;
  display: block;
}

input.e-input {
  float: left;
  width: 95%;
  float: left;
  border: solid #eee 1px;
  border-radius: 4px;
  padding: 7px;
}

input.e-input:focus,
input.e-input:hover {
  border: solid #ccc 1px !important;
  padding: 7px;
}


.e-dialog .e-footer-content {
  border-top: 0.5px solid rgba(0, 0, 0, 0.42);
  text-align: center;
}

button#sendButton,
button#sendButton {
  background-color: #00275e;
}
