  <!-- Container: List Items -->
  <div class="container">
    <div style="padding-bottom: 5px;">
      <table>
        <tr>
          <td><button disabled>&#x2714;</button></td>
          <td><button (click)="pageRefresh()" title="Обновить">&#x21bb;</button></td>
          <td><button (click)="createIpsCardGroup()" title="Создать">+</button></td>
        </tr>
      </table>
    </div>

    <table class="table" border="1" style="width:0;">
      <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
      <tr>
        <th>Платежные системы</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">
              <table>
                <tr>
                  <td>
                    <table width="690" border="0">
                      <tr>
                        <th width="140">Идентификатор</th>
                        <th width="130">Название</th>
                        <th width="90">Первые цифры</th>
                        <th width="110">Символ платежной системы</th>
                        <th width="110">Лимит без PIN</th>
                        <th width="110">Маркер без PIN</th>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                      <perfect-scrollbar class="scroll-container" fxFlex="auto">
                        <table class="table table-striped" width="690" border="0">
                          <tbody>
                          <ng-container *ngFor="let ipsCardGroup of ipsCardGroups">
<!--                            <tr class="found" (click)="selectIpsCardGroupId(ipsCardGroup)">-->
                            <tr class="found">
<!--                              <div *ngIf="ipsCardGroup.ipsCardGroupId === selectedIpsCardGroupId">-->
<!--                                <td width="140" style="background: rgba(70, 70, 70, 0.200);">{{ ipsCardGroup.ipsCardGroupId }}</td>-->
<!--                                <td width="130" style="background: rgba(70, 70, 70, 0.200);">{{ ipsCardGroup.ipsName }}</td>-->
<!--                                <td width="90" style="background: rgba(70, 70, 70, 0.200);">{{ ipsCardGroup.ipsSymbol }}</td>-->
<!--                                <td width="110" style="background: rgba(70, 70, 70, 0.200);">{{ ipsCardGroup.firstCardNum }}</td>-->
<!--                                <td width="270" style="background: rgba(70, 70, 70, 0.200);"></td>-->
<!--                              </div>-->
<!--                              <div *ngIf="ipsCardGroup.ipsCardGroupId != selectedIpsCardGroupId">-->
                                <td width="140">{{ ipsCardGroup.ipsCardGroupId }}</td>
                                <td width="130">{{ ipsCardGroup.ipsName }}</td>
                                <td width="90">{{ ipsCardGroup.ipsSymbol }}</td>
                                <td width="110">{{ ipsCardGroup.firstCardNum }}</td>
                                <td width="110">{{ ipsCardGroup.noPinLimit }}</td>
                                <td width="110">
                                  <div *ngFor="let takeChoice of takeChoices">
                                    <div *ngIf="takeChoice.key === ipsCardGroup.pin"> {{ takeChoice.value }} </div>
                                  </div>
                                </td>
<!--                              </div>-->
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </perfect-scrollbar>
                    </div>
                  </td>
                </tr>
              </table>
            </perfect-scrollbar>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /Container: List Items -->


  <!-- Container: Selected Item (PanMasked) -->
  <div class="card text-center" style="position: absolute; margin-left: 733px; height: 748px; margin-top: -765px; border: solid #00275e 1px;" *ngIf="selectedIpsCardGroup">
    <div class="card-header card-header">
      <table width="370">
        <tr>
<!--          <td align="left">{{selectedIpsCardGroup.ipsName}}</td>-->
          <td align="right"><button (click)="closeIpsCardGroup()">X</button></td>
        </tr>
      </table>
    </div>

    <div class="content-container-card" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">
        <div class="col-sm-12 offset-sm-2" style="margin-left:0;">
          <div class="info-form">

            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <table width="360" cellpadding="4">
                  <tr *ngIf="selectedIpsCardGroup.ipsCardGroupId != null">
                    <td align="right" width="140">
                      <label for="ipsCardGroupId">Идентификатор</label>
                    </td>
                    <td align="left" width="200">
                      <span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedIpsCardGroup.ipsCardGroupId }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td align="right" width="140">
                      <label for="ipsName">Название</label>
                    </td>
                    <td width="200">
                      <input type="text" formControlName="ipsName" name="ipsName" class="form-control" id="ipsName" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="firstCardNum">Первые цифры</label>
                    </td>
                    <td>
                      <input type="number" formControlName="firstCardNum" name="firstCardNum" class="form-control" id="firstCardNum" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="ipsSymbol">Символ платежной системы</label>
                    </td>
                    <td>
                      <input type="text" formControlName="ipsSymbol" name="ipsSymbol" class="form-control" id="ipsSymbol" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="noPinLimit">Лимит без PIN</label>
                    </td>
                    <td>
                      <input type="text" formControlName="noPinLimit" name="noPinLimit" class="form-control" id="noPinLimit" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="pin">Маркер без PIN</label>
                    </td>
                    <td>
                      <select formControlName="pin" name="pin" class="custom-select" id="pin" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                        <option selected disabled value="" class="placeholder">Не выбрано</option>
                        <option *ngFor="let pin of takeChoices" [ngValue]="pin.key">{{pin.value}}</option>
                      </select>
                    </td>
                  </tr>
                </table>
              </div>
              <div style="text-align: center; padding-bottom: 5px;">
                <button class="btn btn-transenix">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
  <!-- /Container: Selected Item (Terminal) -->
