<div class="d-flex" id="wrapper" style="margin: 70px 0px 10px 10px;">

  <div class="bg-transenix border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a class="nav-link" routerLink="/home" class="list-group-transenix list-group-transenix-action bg-transenix">Организация</a>
      <a class="nav-link" routerLink="/terminal" class="list-group-transenix list-group-transenix-action bg-transenix">Терминал</a>
      <a class="nav-link" routerLink="/terminal-groups" class="list-group-transenix list-group-transenix-action bg-transenix">Группы терминалов</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Лимиты</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Диапазоны приема PAN</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Языки приложений</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Шаблон чека</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Шаблон карты</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Ключи безопасности</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Расписание</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Коды активации</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Банки</a>
    </div>
  </div>


  <div class="container" style="margin-top: 0px; margin-left: 0px; width: 800px;">

    <!--<div class="row">-->

      <!--<div class="col-sm-8 offset-sm-2">-->

        <!--<div class="info-form">-->
          <!--<form>-->
            <!--<div class="form-group">-->
              <!--<label for="id">Терминал ID</label>-->
              <!--<input [(ngModel)]="contact.id" type="text" name="id" class="form-control" id="id" aria-describedby="idHelp" placeholder="Enter ID">-->
              <!--<small id="idHelp" class="form-text text-muted">Enter your terminal's ID</small>-->

              <!--<label for="name">Терминал Name</label>-->
              <!--<input [(ngModel)]="contact.name" type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter your name">-->
              <!--<small id="nameHelp" class="form-text text-muted">Enter your terminal's name</small>-->

              <!--<label for="email">Data</label>-->
              <!--<input [(ngModel)]="contact.email" type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp"-->
                <!--placeholder="Enter your data">-->
              <!--<small id="nameHelp" class="form-text text-muted">Enter your terminal's data</small>-->

              <!--<label for="description">Терминал Description</label>-->
              <!--<textarea [(ngModel)]="contact.description" name="description" class="form-control" id="description" aria-describedby="descHelp">-->
                        <!--</textarea>-->
              <!--<small id="descHelp" class="form-text text-muted">Enter your terminal's description</small>-->

            <!--</div>-->
          <!--</form>-->
          <!--<button class="btn btn-primary" (click)="createContact()">Create</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</div>
