<div class="d-flex" id="wrapper" style="margin: 70px 0px 10px 10px;">

  <div class="bg-transenix border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a class="nav-link" routerLink="/home" class="list-group-transenix list-group-transenix-action bg-transenix">Организация</a>
      <a class="nav-link" routerLink="/terminal" class="list-group-transenix list-group-transenix-action bg-transenix">Терминал</a>
      <a class="nav-link" routerLink="/terminal-groups" class="list-group-transenix list-group-transenix-action bg-transenix">Группы терминалов</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Лимиты</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Диапазоны приема PAN</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Языки приложений</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Шаблон чека</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Шаблон карты</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Ключи безопасности</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Расписание</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Коды активации</a>
      <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Банки</a>
    </div>
  </div>


  <div class="container" style="margin-top: 0px; margin-left: 0px;">
    <table class="table table-transenix" border="0">
      <thead class="thead-transenix">
      <tr>
        <th colspan="5">
          Группы Терминалов
        </th>
      </tr>
      </thead>
      <thead>
      <tr>
        <th colspan="5">
          <table border="0">
            <tr>
              <th>Номер группы</th>
              <th>Наименование группы</th>
              <th>Операции оплаты</th>
              <th>Отмена операции</th>
              <th>Возврат операции</th>
              <th>Ручной ввод</th>
              <th>ПИН-код</th>
              <th>Геопозиция</th>
              <th>Лимит VISA</th>
              <th>Лимит MasterCard</th>
              <th>Лимит Prostir</th>
              <th>Карты Visa</th>
              <th>Карты MasterCard</th>
              <th>Карты Prostir</th>
              <th>Шаблон чека</th>
              <th>Язык</th>
            </tr>
          </table>
        </th>
      </tr>
      </thead>
      <tbody class="tbody-transenix">
      <tr *ngFor="let terminalGroup of terminalGroups">
        <td width="80">{{ terminalGroup.groupNumber }}</td>
        <td width="150">{{ terminalGroup.groupName }}</td>
        <td width="130">
          <select name="opPurchase" class="form-control" id="opPurchase" aria-describedby="idHelp" style="width: 80%; padding: 5px;">
            <option [ngValue]="null" disabled>---</option>
            <option *ngFor="let opPurchase of [{'key':'Y', 'value':'Да'}, {'key':'N', 'value':'Нет'}]" [ngValue]="opPurchase" [selected]="opPurchase.key==terminalGroup.opPurchase">
              {{ opPurchase.value }}
            </option>
          </select>
        </td>
        <td width="130">
          <select name="opReversal" class="form-control" id="opReversal" aria-describedby="idHelp" style="width: 80%; padding: 5px;">
            <option [ngValue]="null" disabled>---</option>
            <option *ngFor="let opReversal of [{'key':'Y', 'value':'Да'}, {'key':'N', 'value':'Нет'}]" [ngValue]="opReversal" [selected]="opReversal.key==terminalGroup.opReversal">
              {{ opReversal.value }}
            </option>
          </select>
        </td>
        <td width="130">
          <select name="opRefund" class="form-control" id="opRefund" aria-describedby="idHelp" style="width: 80%; padding: 5px;">
            <option [ngValue]="null" disabled>---</option>
            <option *ngFor="let opRefund of [{'key':'Y', 'value':'Да'}, {'key':'N', 'value':'Нет'}]" [ngValue]="opRefund" [selected]="opRefund.key==terminalGroup.opRefund">
              {{ opRefund.value }}
            </option>
          </select>
        </td>
        <td width="130">
          <select name="manual" class="form-control" id="manual" aria-describedby="idHelp" style="width: 80%; padding: 5px;">
            <option [ngValue]="null" disabled>---</option>
            <option *ngFor="let manual of [{'key':'Y', 'value':'Да'}, {'key':'N', 'value':'Нет'}]" [ngValue]="manual" [selected]="manual.key==terminalGroup.manual">
              {{ manual.value }}
            </option>
          </select>
        </td>
        <td width="130">
          <select name="pin" class="form-control" id="pin" aria-describedby="idHelp" style="width: 80%; padding: 5px;">
            <option [ngValue]="null" disabled>---</option>
            <option *ngFor="let pin of [{'key':'Y', 'value':'Да'}, {'key':'N', 'value':'Нет'}]" [ngValue]="pin" [selected]="pin.key==terminalGroup.pin">
              {{ pin.value }}
            </option>
          </select>
        </td>
        <td width="130">
          <select name="geoPosition" class="form-control" id="geoPosition" aria-describedby="idHelp" style="width: 80%; padding: 5px;">
            <option [ngValue]="null" disabled>---</option>
            <option *ngFor="let geoPosition of [{'key':'Y', 'value':'Да'}, {'key':'N', 'value':'Нет'}]" [ngValue]="geoPosition" [selected]="geoPosition.key==terminalGroup.geoPosition">
              {{ geoPosition.value }}
            </option>
          </select>
        </td>
        <td width="130">{{ terminalGroup.limitVisa }}</td>
        <td width="130">{{ terminalGroup.limitMc }}</td>
        <td width="130">{{ terminalGroup.limitProstir }}</td>

        <td width="130">
          <select name="visaAccepted" class="form-control" id="visaAccepted" aria-describedby="idHelp" style="width: 80%; padding: 5px;">
            <option [ngValue]="null" disabled>---</option>
            <option *ngFor="let visaAccepted of [{'key':'Y', 'value':'Да'}, {'key':'N', 'value':'Нет'}]" [ngValue]="visaAccepted" [selected]="visaAccepted.key==terminalGroup.visaAccepted">
              {{ visaAccepted.value }}
            </option>
          </select>
        </td>
        <td width="130">
          <select name="mcAccepted" class="form-control" id="mcAccepted" aria-describedby="idHelp" style="width: 80%; padding: 5px;">
            <option [ngValue]="null" disabled>---</option>
            <option *ngFor="let mcAccepted of [{'key':'Y', 'value':'Да'}, {'key':'N', 'value':'Нет'}]" [ngValue]="mcAccepted" [selected]="mcAccepted.key==terminalGroup.mcAccepted">
              {{ mcAccepted.value }}
            </option>
          </select>
        </td>
        <td width="130">
          <select name="prostirAccepted" class="form-control" id="prostirAccepted" aria-describedby="idHelp" style="width: 80%; padding: 5px;">
            <option [ngValue]="null" disabled>---</option>
            <option *ngFor="let prostirAccepted of [{'key':'Y', 'value':'Да'}, {'key':'N', 'value':'Нет'}]" [ngValue]="prostirAccepted" [selected]="prostirAccepted.key==terminalGroup.prostirAccepted">
              {{ prostirAccepted.value }}
            </option>
          </select>
        </td>
        <td width="130">{{ terminalGroup.receiptTemplate }}</td>
        <td width="130">
          <!--<span *ngFor="let allowedLanguage of terminalGroup.allowedLanguages">{{ allowedLanguage.languageId }} </span>-->
          <select name="allowedLanguages" class="form-control" id="allowedLanguages" aria-describedby="idHelp" multiple>
            <option [ngValue]="null" disabled>---</option>
            <option *ngFor="let allowedLanguage of terminalGroup.allowedLanguages">{{ allowedLanguage.languageId }}</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
