<!-- Container: List Items -->
<div class="container">
  <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button disabled>&#x2714;</button>
      </span>
    <span style="padding-right: 3px;">
        <button (click)="pageRefresh()" title="Обновить">&#x21bb;</button>
      </span>
  </div>

  <table class="table" border="1" style="width:0;">
    <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
    <tr>
      <th>Мониторинг</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
          <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex>

              <table width="830" border="0" style="overflow: hidden;">
                <tr>
                  <td align="left">
                    <h4>{{ hourlyDateAnalytics | date : 'dd.MM.yyyy' }}</h4>
                  </td>
                  <td align="right">
                    <h4 style="float: left; margin-left: 540px;">{{ hourlyStartDateAnalytics | date : 'HH:mm' }}-{{ hourlyEndDateAnalytics | date : 'HH:mm' }}</h4>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <div style="height: 156px; width: 850px; margin-top: 15px; margin-left: -20px; border: solid transparent 1px;">
                      <h6 style="text-align: left; margin: 0; margin-top: -24px; margin-left: 50px;">Активность</h6>
                      <p style="margin: 0;">
                        <!--                        <span style="margin-left: 370px;">Период</span>-->
                        <ngx-charts-line-chart
                          [results]="hourlyAnalytics"
                          [view]="[850, 260]"
                          [scheme]="{domain: ['#5AA454', '#A10A28']}"
                          [legend]="false"
                          [legendPosition]="'below'"
                          [legendTitle]="''"
                          [showXAxisLabel]="true"
                          [showYAxisLabel]="true"
                          [xAxis]="true"
                          [xAxisLabel]="''"
                          [yAxis]="true"
                          [yAxisLabel]="''"
                          [timeline]="true"
                          [animations]="false"
                          (select)="onSelectChart($event)"
                          (activate)="onActivateChart($event)"
                          (deactivate)="onDeactivateChart($event)"
                          style="float: left; margin-top: 10px;">
                        </ngx-charts-line-chart>
                      </p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div style="height: 156px; width: 430px; margin-top: -50px; margin-left: 20px; border: solid transparent 1px;">
                      <table border="0" cellpadding="0" cellspacing="0" style="margin-top: -12px;">
                        <tr>
                          <th><h6>Статус</h6></th>
                          <th></th>
                          <th>&nbsp;</th>
                          <th></th>
                          <th><h6>Ожидание</h6></th>
                        </tr>
                        <tr>
                          <td>
                            <div class="row {{attestationStatusSwitches}}">
<!--                              <ui-switch uncheckedLabel="{{attestationUncheckedLabelLabelStatus}}"-->
<!--                                         checkedLabel="{{attestationCheckedLabelStatus}}"-->
<!--                                         size="small" [checked]="attestation.status" disabled></ui-switch>-->
                              <ui-switch size="small" [checked]="attestation.status" title="{{attestationStatusSwitches}}" style="margin-left: 23px;" disabled></ui-switch>
                            </div>
                          </td>
                          <td nowrap><h6>Аттестация</h6></td>
                          <td></td>
                          <td nowrap>активность в {{ attestation.lastSuccessfulDate | date : 'HH:mm:ss'}}</td>
                          <td align="center" nowrap><h6><font color="{{waitingPeriodColor}}">{{ attestation.diffLastSuccessfulDate | date : 'HH:mm' }}</font></h6></td>
                        </tr>
                        <tr>
                          <td>
                            <div class="row {{transactionStatusSwitches}}">
<!--                              <ui-switch uncheckedLabel="{{transactionUncheckedLabelLabelStatus}}"-->
<!--                                         checkedLabel="{{transactionCheckedLabelStatus}}"-->
<!--                                         size="small" [checked]="transaction.status" disabled></ui-switch>-->
                              <ui-switch size="small" [checked]="transaction.status" title="{{transactionStatusSwitches}}" style="margin-left: 23px;" disabled></ui-switch>
                            </div>
                          </td>
                          <td nowrap><h6>Транзакция</h6></td>
                          <td></td>
                          <td nowrap>активность в {{ transaction.lastSuccessfulDate | date : 'HH:mm:ss'}}</td>
                          <td align="center" nowrap><h6><font color="{{waitingPeriodColor}}">{{ transaction.diffLastSuccessfulDate | date : 'HH:mm' }}</font></h6></td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
              </table>

            </perfect-scrollbar>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Container: List Items -->
