.table thead th {
  border-bottom: 0;
}

.table td, .table th {
  padding: 8px 10px 8px 10px;
  vertical-align: top;
  border-top: 0;
}

.horizontal-container {
  width: 830px;
}

.vertical-container {
  height: 690px;
}

.vertical-container,
.horizontal-container {
  min-width: 0 !important;
  min-height: 0 !important;
}

@media (min-width: 800px) {
  .container {
    max-width: 100%;
  }
}

tbody {
  color: #00275e;
}


.circle {
  background: grey;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin-top: 4px;
}

.successful-circle {
  background: green;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin-top: 4px;
}

.failed-circle {
  background: red;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin-top: 4px;
}

input#lastSuccessfulAttestationDate,
input#lastSuccessfulTransactionDate {
  width: 200px;
  /*border: solid #9E9E9E 1px;*/
  /*border-radius: 5px;*/
  /*background-image: url(https://img.icons8.com/android/24/000000/calendar.png);*/
  /*background-repeat: no-repeat;*/
  /*background-position: 170px;*/
  /*background-size: 7.5%;*/
  border: 0;
  background: transparent;
}
