  <!-- Container: List Items -->
  <div class="container">
    <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button disabled>&#x2714;</button>
      </span>
      <span stFilter #stFilter="stFilter" style="padding-right: 3px;">
        <button routerLink="/receipt-send-audit" [queryParams]="{}" (click)="stFilter.filter(btnFilter('id=&transactionId='))" title="Обновить">&#x21bb;</button>
      </span>
      <button ejs-button id='btnOpenFilter' #btnOpenFilter (click)="openFilter()" title="Фильтр">&fnof;</button>

      <ejs-dialog #filter id="filter"
                  style="display: none;"
                  [isModal]='isModalFilter'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"400px"'
                  (open)="onFilter()"
                  (close)="offFilter()">
        <form [formGroup]="filterForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings"> Фильтр </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent">
              <label>
                <span>ID</span>
                <input type="text" formControlName="id" stFilterOperator="lt" stFilterType="text" stFilter="id" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Номер транзакции</span>
                <input type="text" formControlName="transactionId" stFilterOperator="lt" stFilterType="text" stFilter="transactionId" style="width: 200px" placeholder="Не выбрано"/>
              </label>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <div stFilter #stFilter="stFilter">
              <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApply" value="Ok">
              <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancel" (click)="stFilter.filter(btnFilter('id=&transactionId='))" value="Сбросить">
            </div>
          </ng-template>
        </form>
      </ejs-dialog>
    </div>

    <div class="preview-section">
      <ejs-dialog #viewTransaction id="viewTransaction"
                  style="display: none;"
                  [isModal]='isModalViewTransaction'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".preview-section"'
                  [width]='"400px"'
                  (open)="onTransactionById()"
                  (close)="offTransactionById()">
        <ng-template #header>
          <div id="dlg-template" class="e-icon-settings"> Транзакция </div>
        </ng-template>
        <ng-template #content>
          <div class="dialogContent">
            <table width="400" cellpadding="2" *ngIf="selectedTransaction">
              <tr bgcolor="#efefef">
                <td align="right" width="200"><label>Номер транзакции</label></td>
                <td align="left" width="300"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.transactionId }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Тип операции</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.operation }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Маска карты</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.panMasked }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Дата и время</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.transactionDate | date : 'dd.MM.yyyy HH:mm:ss'}}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Сумма</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.amount }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Доп. сумма</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.amountOther }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Валюта</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.currency }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>ID терминала</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.terminalId }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Девайс</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.deviceName }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Форм Фактор</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.formFactor }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Код авторизации</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.approvalCode }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Код ошибки</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.responseCode }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>РРН</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.rrn }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Статус</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.statusCode }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Номер чека</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.receiptNumber }}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Время ответа</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.responseDate | date : 'HH:mm:ss'}}</span></td>
              </tr>
              <tr>
                <td align="right"><label>Доп. поле</label></td>
                <td align="left"><span style="padding-left:10px; margin-top:-7px; position:absolute;">{{ selectedTransaction.addField }}</span></td>
              </tr>
            </table>
          </div>
        </ng-template>
      </ejs-dialog>
    </div>


    <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">

        <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
          <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
          <tr>
            <th class="table-receipt-send-audit">Запросы чеков {{ title }}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div stTable #table="stTable" style="margin-top: -7px;">
                <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

                <table>
                  <thead>
                  <tr>
                    <th stSort="sendDate">Дата</th>
                    <th>Время</th>
                    <th stSort="receiptSendChannel">Канал отправки</th>
                    <th stSort="recipient">Получатель</th>
                    <th stSort="successful">Успешный</th>
                    <th stSort="transactionId">Номер транзакции</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let receiptSendAudit of table.items">
                    <td align="center" nowrap>{{ receiptSendAudit.sendDate | date : 'dd.MM.yyyy'}}</td>
                    <td align="center" nowrap>{{ receiptSendAudit.sendDate | date : 'HH:mm:ss'}}</td>
                    <td align="left" nowrap>{{ receiptSendAudit.receiptSendChannel }}</td>
                    <td align="left" nowrap>{{ receiptSendAudit.recipient }}</td>
                    <td align="center" nowrap>
                      <div *ngIf="'Y' === receiptSendAudit.successful"><font color="darkgreen"><b>&#x2713;</b></font></div>
                      <div *ngIf="'N' === receiptSendAudit.successful"><font color="brown"><b>&#x2717;</b></font></div>
                    </td>
                    <td align="center" nowrap>
                      <a (click)="selectTransactionById(receiptSendAudit.transaction.transactionId)" class="receipt-send-audit">{{ receiptSendAudit.transactionId }}</a>
<!--                      <a routerLink="/transaction" [queryParams]="{transactionId: receiptSendAudit.transaction.transactionId}">{{ receiptSendAudit.transactionId }}</a>-->
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div stPagination #pager="stPagination" style="margin: auto; width: 200px;">
                  <button (click)="pager.selectPage(1)" [disabled]="!pager.isPreviousPageEnabled()" title="В начало">1</button>
                  <button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Предыдущая">&#x25C4;</button>
                  <p style="margin-top: 17px;"><input type="text" value="{{pager.page}}" (input)="pager.selectPage(selectPage($event.target.value))" style="width: 75px; color: #00275e; border-color: #00275e; border-radius: 0.2em; padding-top: 0.1em; padding-bottom: 0.2em;"></p>
                  <button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Следующая">&#x25BA;</button>
                  <button (click)="pager.selectPage(selectLastPage(pager.length, pager.size))" [disabled]="!pager.isNextPageEnabled()" title="В конец">{{ selectLastPage(pager.length, pager.size) }}</button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </perfect-scrollbar>
    </div>

  </div>
  <!-- /Container: List Items -->
