  <!-- Container: List Items -->
  <div class="container">
    <div style="padding-bottom: 5px;">
      <table>
        <tr>
          <td><button (click)="goBack()" title="Вернуться к предыдущей странице">&#8629;</button></td>
          <td><button (click)="pageRefresh()" title="Обновить">&#x21bb;</button></td>
        </tr>
      </table>
    </div>

<!--    <table class="table" border="1" style="width:0;">-->
<!--      <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">-->
<!--      <tr>-->
<!--        <th>Роли</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr>-->
<!--        <td>-->
<!--          <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">-->
<!--            <perfect-scrollbar class="scroll-container" fxFlex="auto">-->
<!--              <table>-->
<!--                <tr>-->
<!--                  <td>-->
<!--                    <table width="500" border="0">-->
<!--                      <tr>-->
<!--                        <th width="170">Код</th>-->
<!--                        <th width="330">Описание</th>-->
<!--                        <th></th>-->
<!--                      </tr>-->
<!--                    </table>-->
<!--                  </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                  <td>-->
<!--                    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">-->
<!--                      <perfect-scrollbar class="scroll-container" fxFlex="auto">-->
<!--                        <table class="table table-striped" width="500" border="0">-->
<!--                          <tbody>-->
<!--                          <ng-container *ngFor="let userRole of userRoles">-->
<!--                            <tr class="found" (click)="selectUserRoleCode(userRole)">-->
<!--                              <div *ngIf="userRole.roleCode === selectedUserRoleCode">-->
<!--                                <td width="170" style="background: rgba(70, 70, 70, 0.200);">{{ userRole.roleCode }}</td>-->
<!--                                <td width="330" style="background: rgba(70, 70, 70, 0.200);"><div style="border:0; max-width:330px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:12px;">{{ userRole.description }}</div></td>-->
<!--                                <td style="background: rgba(70, 70, 70, 0.200);"></td>-->
<!--                              </div>-->
<!--                              <div *ngIf="userRole.roleCode != selectedUserRoleCode">-->
<!--                                <td width="170">{{ userRole.roleCode }}</td>-->
<!--                                <td width="330"><div style="border:0; max-width:330px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:12px;">{{ userRole.description }}</div></td>-->
<!--                                <td></td>-->
<!--                              </div>-->
<!--                            </tr>-->
<!--                          </ng-container>-->
<!--                          </tbody>-->
<!--                        </table>-->
<!--                      </perfect-scrollbar>-->
<!--                    </div>-->
<!--                  </td>-->
<!--                </tr>-->
<!--              </table>-->
<!--            </perfect-scrollbar>-->
<!--          </div>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
  </div>
  <!-- /Container: List Items -->


  <!-- Container: Selected Item (TerminalMessage) -->
  <div class="card text-center" style="position: absolute; margin-left: 15px; height: 707px; border: solid #00275e 1px;">
    <div class="card-header card-header">
      <table width="385">
        <tr>
          <td align="left"> Уведомление для терминалов </td>
          <td align="right"> </td>
        </tr>
      </table>
    </div>

    <div class="dialogContent dialog-content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">
        <div class="col-sm-12 offset-sm-2" style="margin-left:0;">
          <div class="info-form">

            <form [formGroup]="editFormTerminal" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <table width="350" cellpadding="4">
                  <tr>
                    <td colspan="2">
                      <textarea formControlName="text" rows="5" name="text" class="form-control" id="text" aria-describedby="idHelp" placeholder="Текст уведомления" style="height: 175px; font-size: 12px;"></textarea>
                    </td>
                  </tr>
                  <tr><td colspan="2"> &nbsp; </td></tr>
                  <tr>
                    <td colspan="2">
                      <table border="1" class="custom-control custom-checkbox">
                        <tr>
                          <th width="250"> </th>
                          <th width="100" nowrap>Уведомлять</th>
                        </tr>
                        <!-- Терминалы -->
                        <tr>
                          <td nowrap> <b>Номер терминала</b> </td>
                          <td *ngFor="let menu of terminalMenu">
                            <input type="checkbox" class="custom-control-input" id="{{ menu.messageItemName }}" (change)="onCheckedItemList(menu.messageItemName, $event)" [checked]="menu.checked">
                            <label class="custom-control-label" for="{{ menu.messageItemName }}" title="Выбрать все"></label>
                          </td>
                        </tr>
                        <tr *ngFor="let terminal of terminals">
                          <td align="left" nowrap> &nbsp; {{ terminal.terminalId }}</td>
                          <td *ngFor="let notifyAction of terminal.notifyAction.terminalNotify.controls">
                            <input type="checkbox" class="custom-control-input" id="{{ notifyAction.value.message }}" name="terminalMenu{{ notifyAction.value.messageName }}" value="terminalNotify" (change)="onCheckedItem(terminal, 'terminalNotify', notifyAction, $event)" [checked]="notifyAction.value.checked">
                            <label class="custom-control-label" for="{{ notifyAction.value.message }}" title="{{ notifyAction.value.message }}"></label>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td colspan="2" height="10"> &nbsp; </td></tr>
                  <tr>
                    <td colspan="2">
                      <div style="text-align: center; padding-bottom: 5px;">
                        <button class="btn btn-transenix">Сохранить</button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
  <!-- /Container: Selected Item (TerminalMessage) -->

  <!-- Container: Selected Item (MerchantMessage) -->
  <div class="card text-center" style="position: absolute; margin-left: 450px; height: 707px; border: solid #00275e 1px;">
    <div class="card-header card-header">
      <table width="385">
        <tr>
          <td align="left"> Уведомление для торговцев </td>
          <td align="right"> </td>
        </tr>
      </table>
    </div>

    <div class="dialogContent dialog-content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">
        <div class="col-sm-12 offset-sm-2" style="margin-left:0;">
          <div class="info-form">

            <form [formGroup]="editFormMerchant" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <table width="350" cellpadding="4">
                  <tr>
                    <td colspan="2">
                      <textarea formControlName="text" rows="5" name="text" class="form-control" id="text" aria-describedby="idHelp" placeholder="Текст уведомления" style="height: 175px; font-size: 12px;"></textarea>
                    </td>
                  </tr>
                  <tr><td colspan="2"> &nbsp; </td></tr>
                  <tr>
                    <td colspan="2">
                      <table border="1" class="custom-control custom-checkbox">
                        <tr>
                          <th width="250"> </th>
                          <th width="100" nowrap>Уведомлять</th>
                        </tr>
                        <!-- Терминалы -->
                        <tr>
                          <td nowrap> <b>Идентификатор торговца</b> </td>
                          <td *ngFor="let menu of merchantMenu">
                            <input type="checkbox" class="custom-control-input" id="{{ menu.messageItemName }}" (change)="onCheckedItemList(menu.messageItemName, $event)" [checked]="menu.checked">
                            <label class="custom-control-label" for="{{ menu.messageItemName }}" title="Выбрать все"></label>
                          </td>
                        </tr>
                        <tr *ngFor="let merchant of merchants">
                          <td align="left" nowrap> &nbsp; {{ merchant.merchantId }}</td>
                          <td *ngFor="let notifyAction of merchant.notifyAction.merchantNotify.controls">
                            <input type="checkbox" class="custom-control-input" id="{{ notifyAction.value.message }}" name="merchantMenu{{ notifyAction.value.messageName }}" value="merchantNotify" (change)="onCheckedItem(merchant, 'merchantNotify', notifyAction, $event)" [checked]="notifyAction.value.checked">
                            <label class="custom-control-label" for="{{ notifyAction.value.message }}" title="{{ notifyAction.value.message }}"></label>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td colspan="2" height="10"> &nbsp; </td></tr>
                  <tr>
                    <td colspan="2">
                      <div style="text-align: center; padding-bottom: 5px;">
                        <button class="btn btn-transenix">Сохранить</button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
  <!-- /Container: Selected Item (MerchantMessage) -->
