  <!-- Container: List Items -->
  <div class="container">
    <div style="padding-bottom: 5px;">
      <table>
        <tr>
          <td><button disabled>&#x2714;</button></td>
          <td><button (click)="pageRefresh()" title="Обновить">&#x21bb;</button></td>
        </tr>
      </table>
    </div>

    <table class="table" border="1" style="width:0;">
      <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
      <tr>
        <th>Организация</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">
              <table>
                <tr>
                  <td>
                    <table width="980" border="0">
                      <tr>
                        <th width="140">Идентификатор организации</th>
                        <th width="200">Название</th>
                        <th width="200">Адрес</th>
                        <th width="110">ИНН</th>
                        <th width="70">MCC</th>
                        <th width="150">Юр.лицо</th>
                        <th width="100">Банк</th>
                        <th></th>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                      <perfect-scrollbar class="scroll-container" fxFlex="auto">
                        <table class="table table-striped" width="980" border="0">
                          <tbody>
                          <ng-container *ngFor="let merchant of merchants">
                            <tr class="found" (click)="selectMerchantId(merchant)">
                              <div *ngIf="merchant.merchantId === selectedMerchantId">
                                <td width="140" style="background: rgba(70, 70, 70, 0.200);">{{ merchant.shortMerchantId }}</td>
                                <td width="200" style="background: rgba(70, 70, 70, 0.200);">{{ merchant.merchantName }}</td>
                                <td width="200" style="background: rgba(70, 70, 70, 0.200);">{{ merchant.merchantLocation }}</td>
                                <td width="110" style="background: rgba(70, 70, 70, 0.200);">{{ merchant.taxId }}</td>
                                <td width="70" style="background: rgba(70, 70, 70, 0.200);">{{ merchant.mcc }}</td>
                                <td width="150" style="background: rgba(70, 70, 70, 0.200);"><div style="max-width:100px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:20px;">{{ merchant.merchantLegalName }}</div></td>
                                <td width="100" style="background: rgba(70, 70, 70, 0.200);">{{ merchant.bankName }}</td>
                                <td width="10" style="background: rgba(70, 70, 70, 0.200);"></td>
                              </div>
                              <div *ngIf="merchant.merchantId != selectedMerchantId">
                                <td width="140">{{ merchant.shortMerchantId }}</td>
                                <td width="200">{{ merchant.merchantName }}</td>
                                <td width="200">{{ merchant.merchantLocation }}</td>
                                <td width="110">{{ merchant.taxId }}</td>
                                <td width="70">{{ merchant.mcc }}</td>
                                <td width="150"><div style="max-width:100px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:20px;">{{ merchant.merchantLegalName }}</div></td>
                                <td width="100">{{ merchant.bankName }}</td>
                                <td width="10"></td>
                              </div>
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </perfect-scrollbar>
                    </div>
                  </td>
                </tr>
              </table>
            </perfect-scrollbar>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /Container: List Items -->


  <!-- Container: Selected Item (Merchant) -->
  <div class="card text-center" style="position: absolute; margin-left: 973px; height: 749px; margin-top: -765px; border: solid #00275e 1px;" *ngIf="selectedMerchant">
    <div class="card-header card-header">
      <table width="370">
        <tr>
          <td align="left">{{selectedMerchant.merchantName}}</td>
          <td align="right"><button (click)="closeMerchant()">X</button></td>
        </tr>
      </table>
    </div>

    <div class="content-container-card" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">
        <div class="col-sm-12 offset-sm-2" style="margin-left:0;">
          <div class="info-form">

            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <table width="360" cellpadding="4">
                  <tr *ngIf="selectedMerchant.merchantId != null">
                    <td align="right" width="140">
                      <label for="merchantId">Идентификатор организации</label>
                    </td>
                    <td align="left" width="200">
                      <span style="padding-left:10px; margin-top:-13px; position:absolute;">{{ selectedMerchant.shortMerchantId }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td align="right" width="140">
                      <label for="merchantName">Название</label>
                    </td>
                    <td width="200">
                      <input type="text" formControlName="merchantName" name="merchantName" class="form-control" id="merchantName" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="merchantLocation">Адрес</label>
                    </td>
                    <td>
                      <input type="text" formControlName="merchantLocation" name="merchantLocation" class="form-control" id="merchantLocation" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="taxId">ИНН</label>
                    </td>
                    <td>
                      <input type="number" formControlName="taxId" name="taxId" class="form-control" id="taxId" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="mcc">mcc</label>
                    </td>
                    <td>
                      <input type="number" formControlName="mcc" name="mcc" class="form-control" id="mcc" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="merchantLegalName">Юр.лицо</label>
                    </td>
                    <td>
                      <input type="text" formControlName="merchantLegalName" name="merchantLegalName" class="form-control" id="merchantLegalName" aria-describedby="idHelp" placeholder="Не выбрано">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="bankName">Банк</label>
                    </td>
                    <td>
                      <input type="text" formControlName="bankName" name="bankName" class="form-control" id="bankName" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true">
                    </td>
                  </tr>
                </table>
              </div>
              <div style="text-align: center; padding-bottom: 5px;">
                <button class="btn btn-transenix">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
  <!-- /Container: Selected Item (Merchant) -->
