<ng-template [ngIf]="isLoggedIn">
  <app-header></app-header>
</ng-template>

<div class="d-flex" id="wrapper" style="margin: 70px 0px 10px 10px;">
  <ng-template [ngIf]="isLoggedIn">
    <app-sidebar></app-sidebar>
  </ng-template>

  <router-outlet></router-outlet>
</div>

<ng-template [ngIf]="isLoggedIn">
<!--  <app-footer></app-footer>-->

<!--  <div style="width: 100%; text-align: center; color: rgba(0, 39, 94, 1); font-weight: 500; background: #e8edf0; height: 31px; padding-top: 15px; padding-bottom: 32px;">-->
  <div style="width: 100%; text-align: center; color: rgba(0, 39, 94, 1); font-weight: 500; border-top: solid #000 1px; padding-top: 15px;">
    <div style="width: 50%; text-align: center; float: left;">© Copyright 2019. Card Technologies & Systems 2019.</div>
    <div style="width: 50%; text-align: center; float: right;">Version: 1.2.0</div>
  </div>
</ng-template>
