<!-- Container: Selected Item -->
<div class="col-md-auto user-container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">ID</th>
      <!--<th>FirstName</th>-->
      <!--<th>LastName</th>-->
      <th>UserName</th>
      <!--<th>Password</th>-->
      <th>City</th>
      <th>Age</th>
      <th>Salary</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">#{{user.id}}</td>
      <!--<td>{{user.firstName}}</td>-->
      <!--<td>{{user.lastName}}</td>-->
      <td>{{user.username}}</td>
      <!--<td class="hidden">{{user.password}}</td>-->
      <td>
        <div *ngFor="let city of cities">
          <div *ngIf="city.key === user.city"> {{ city.value }} </div>
        </div>
      </td>
      <td>{{user.age}}</td>
      <td>{{user.salary}}</td>
      <td>
        <button class="btn btn-transenix" (click)="editUser(user)">Edit</button>
        <button class="btn btn-danger" (click)="deleteUser(user)" style="margin-left: 20px;">Delete</button></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-success" style="width:100px" (click)="addUser()">Add</button>
</div>
<!-- /Container: Selected Item -->
