  <!-- Container: List Items -->
  <div class="container">
    <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button disabled>&#x2714;</button>
      </span>
      <span stFilter #stFilter="stFilter" style="padding-right: 3px;">
        <button routerLink="/transaction2" [queryParams]="{}" (click)="stFilter.filter(btnFilter('transactionId=&panMasked=&approvalCode=&rrn=&terminalId='))" title="Обновить">&#x21bb;</button>
      </span>
      <button ejs-button id='btnOpenFilter' #btnOpenFilter (click)="openFilter()" title="Фильтр">&fnof;</button>

      <ejs-dialog #filter id="filter"
                  style="display: none;"
                  [isModal]='isModalFilter'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"400px"'
                  (open)="onFilter()"
                  (close)="offFilter()">
        <form [formGroup]="filterForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings"> Фильтр </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent">
              <label>
                <span>Номер транзакции</span>
                <input type="text" formControlName="transactionId" stFilterOperator="lt" stFilterType="text" stFilter="transactionId" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Маска карты</span>
                <input type="text" formControlName="panMasked" stFilterOperator="lt" stFilterType="text" stFilter="panMasked" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Код авторизации</span>
                <input type="text" formControlName="approvalCode" stFilterOperator="lt" stFilterType="text" stFilter="approvalCode" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>РРН</span>
                <input type="text" formControlName="rrn" stFilterOperator="lt" stFilterType="text" stFilter="rrn" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>ID терминала</span>
                <input type="text" formControlName="terminalId" stFilterOperator="lt" stFilterType="text" stFilter="terminalId" style="width: 200px" placeholder="Не выбрано"/>
              </label>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <div stFilter #stFilter="stFilter">
              <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApply" value="Ok">
              <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancel" (click)="stFilter.filter(btnFilter('transactionId=&panMasked=&approvalCode=&rrn=&terminalId='))" value="Сбросить">
            </div>
          </ng-template>
        </form>
      </ejs-dialog>
    </div>


    <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">

        <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
          <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
          <tr>
            <th class="table-transaction">Транзакции {{ title }}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div stTable #table="stTable" style="margin-top: -7px;">
                <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

                <table>
                  <thead>
                  <tr>
<!--                    <th stSort="device.deviceSn">Идентификатор устройства</th>-->
<!--                    <th stSort="device.terminal.terminalId">ID терминала</th>-->
<!--                    <th stSort="attestationPhase">Фаза</th>-->
<!--                    <th stSort="declined">Статус</th>-->
<!--                    <th stSort="date">Дата отправления</th>-->
<!--                    <th>Время отправления</th>-->
<!--                    <th>Целостность приложения</th>-->
<!--                    <th>Права приложения</th>-->
<!--                    <th>Тестирование приложения</th>-->
<!--                    <th>Эмуляция приложения</th>-->
<!--                    <th>Гео-позиция</th>-->
<!--                    <th>Частота транзакций</th>-->
<!--                    <th>Целостность каналов</th>-->
                    <th stSort="transactionId">Номер транзакции</th>
                    <th>Тип операции</th>
                    <th>Маска карты</th>
                    <th stSort="transactionDate">Дата</th>
                    <th>Время</th>
                    <th>Сумма</th>
                    <th>Доп. сумма</th>
                    <th>Валюта</th>
                    <th stSort="terminalId">ID терминала</th>
                    <th>Девайс</th>
                    <th>Форм Фактор</th>
                    <th>Код авторизации</th>
                    <th>Код ошибки</th>
                    <th>РРН</th>
                    <th>Статус</th>
                    <th>Номер чека</th>
                    <th>Время ответа</th>
                    <th>Доп. поле</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let transaction of table.items">
                    <td align="center" nowrap>{{ transaction.transactionId }}</td>
                    <td align="center" nowrap>{{ transaction.operation }}</td>
                    <td align="center" nowrap>{{ transaction.panMasked }}</td>
                    <td align="center" nowrap>{{ transaction.transactionDate | date : 'dd.MM.yyyy'}}</td>
                    <td align="center" nowrap>{{ transaction.transactionDate | date : 'hh:mm:ss'}}</td>
                    <td align="center" nowrap>{{ transaction.amount }}</td>
                    <td align="center" nowrap>{{ transaction.amountOther }}</td>
                    <td align="center" nowrap>{{ transaction.currency }}</td>
                    <td align="center" nowrap><a routerLink="/transaction" (click)="selectTerminalById(transaction.terminalId)">{{ transaction.terminalId }}</a></td>
                    <td align="center" nowrap>{{ transaction.deviceName }}</td>
                    <td align="center" nowrap>{{ transaction.formFactor }}</td>
                    <td align="center" nowrap>{{ transaction.approvalCode }}</td>
                    <td align="center" nowrap>{{ transaction.responseCode }}</td>
                    <td align="center" nowrap>{{ transaction.rrn }}</td>
                    <td align="center" nowrap>{{ transaction.statusCode }}</td>
                    <td align="center" nowrap><a routerLink="/receipt-template" [queryParams]="{receiptNumber: transaction.receiptNumber}">{{ transaction.receiptNumber }}</a></td>
                    <td align="center" nowrap>{{ transaction.responseDate | date : 'hh:mm:ss'}}</td>
                    <td align="center" nowrap>{{ transaction.addField }}</td>
<!--                    <td align="center" nowrap>-->
<!--                      <div stFilter #stFilter="stFilter">-->
<!--                        <a routerLink="/transaction2" (click)="stFilter.filter(btnFilter('deviceSn='+attestation.value.device.deviceSn))">{{ attestation.value.device.deviceSn }}</a>-->
<!--                      </div>-->
<!--                    </td>-->
<!--                    <td align="center" nowrap>-->
<!--                      <a routerLink="/terminal" [queryParams]="{terminalId: attestation.value.device.terminal.terminalId}">{{ attestation.value.device.terminal.terminalId }}</a>-->
<!--                    </td>-->
<!--                    <td align="right" nowrap>{{ attestation.value.attestationPhase | uppercase }}</td>-->
<!--                    <td align="center" nowrap>-->
<!--                      <div *ngIf="'Y' === attestation.value.declined">&#x2714;</div>-->
<!--                      <div *ngIf="'N' === attestation.value.declined">&#x2718;</div>-->
<!--                    </td>-->
<!--                    <td align="right" nowrap>{{ attestation.value.date | date : 'dd.MM.yyyy' }}</td>-->
<!--                    <td align="right" nowrap>{{ attestation.value.date | date : 'hh:mm:ss' }}</td>-->
<!--                    <td align="center" nowrap>-->
<!--                      <div *ngIf="'Y' === attestation.value.integrity">&#x2714;</div>-->
<!--                      <div *ngIf="'N' === attestation.value.integrity">&#x2718;</div>-->
<!--                    </td>-->
<!--                    <td align="center" nowrap>-->
<!--                      <div *ngIf="'Y' === attestation.value.root">&#x2714;</div>-->
<!--                      <div *ngIf="'N' === attestation.value.root">&#x2718;</div>-->
<!--                    </td>-->
<!--                    <td align="center" nowrap>-->
<!--                      <div *ngIf="'Y' === attestation.value.debug">&#x2714;</div>-->
<!--                      <div *ngIf="'N' === attestation.value.debug">&#x2718;</div>-->
<!--                    </td>-->
<!--                    <td align="center" nowrap>-->
<!--                      <div *ngIf="'Y' === attestation.value.emulator">&#x2714;</div>-->
<!--                      <div *ngIf="'N' === attestation.value.emulator">&#x2718;</div>-->
<!--                    </td>-->
<!--                    <td align="center" nowrap>-->
<!--                      <div *ngIf="'Y' === attestation.value.geoPosition">&#x2714;</div>-->
<!--                      <div *ngIf="'N' === attestation.value.geoPosition">&#x2718;</div>-->
<!--                    </td>-->
<!--                    <td align="center" nowrap>-->
<!--                      <div *ngIf="'Y' === attestation.value.velocity">&#x2714;</div>-->
<!--                      <div *ngIf="'N' === attestation.value.velocity">&#x2718;</div>-->
<!--                    </td>-->
<!--                    <td align="center" nowrap>-->
<!--                      <div *ngIf="'Y' === attestation.value.channelIntegrity">&#x2714;</div>-->
<!--                      <div *ngIf="'N' === attestation.value.channelIntegrity">&#x2718;</div>-->
<!--                    </td>-->
                  </tr>
                  </tbody>
                </table>

                <div stPagination #pager="stPagination" style="margin: auto; width: 200px;">
                  <button (click)="pager.selectPage(1)" [disabled]="!pager.isPreviousPageEnabled()" title="В начало">1</button>
                  <button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Предыдущая">&#x25C4;</button>
                  <p style="margin-top: 17px;"><input type="text" value="{{pager.page}}" (input)="pager.selectPage(selectPage($event.target.value))" style="width: 75px; color: #00275e; border-color: #00275e; border-radius: 0.2em; padding-top: 0.1em; padding-bottom: 0.2em;"></p>
                  <button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Следующая">&#x25BA;</button>
                  <button (click)="pager.selectPage(selectLastPage(pager.length, pager.size))" [disabled]="!pager.isNextPageEnabled()" title="В конец">{{ selectLastPage(pager.length, pager.size) }}</button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </perfect-scrollbar>
    </div>

  </div>
  <!-- /Container: List Items -->
