  <!-- Container: List Items -->
  <div class="container">
    <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button disabled>&#x2714;</button>
      </span>
      <span stFilter #stFilter="stFilter" style="padding-right: 3px;">
        <button routerLink="/terminal2" [queryParams]="{}" (click)="stFilter.filter(btnFilter('terminalId='))" title="Обновить">&#x21bb;</button>
      </span>
      <button ejs-button id='btnOpenFilter' #btnOpenFilter (click)="openFilter()" title="Фильтр">&fnof;</button>

      <ejs-dialog #filter id="filter"
                  style="display: none;"
                  [isModal]='isModalFilter'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"400px"'
                  (open)="onFilter()"
                  (close)="offFilter()">
        <form [formGroup]="filterForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings"> Фильтр </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent">
<!--              <label class="checkbox">-->
<!--                <span>Угрозы</span>-->
<!--                <input type="checkbox"/>-->
<!--                <span class="overlay">-->
<!--                  <svg-->
<!--                    xmlns="http://www.w3.org/2000/svg"-->
<!--                    width="26"-->
<!--                    height="26"-->
<!--                    viewBox="0 0 26 26"-->
<!--                    fill="none"-->
<!--                    stroke="currentColor"-->
<!--                    stroke-width="2"-->
<!--                    stroke-linecap="round"-->
<!--                    stroke-linejoin="round"-->
<!--                    class="icon">-->
<!--                    <polyline points="20 6 9 17 4 12"/>-->
<!--                  </svg>-->
<!--                </span>-->
<!--              </label>-->

              <label>
                <span>Идентификатор организации</span>
                <input type="text" formControlName="terminalId" stFilterOperator="lt" stFilterType="text" stFilter="terminalId" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Название</span>
                <input type="text" formControlName="groupNumber" stFilterOperator="lt" stFilterType="text" stFilter="groupNumber" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Адрес</span>
                <input type="text" formControlName="dateTimeInit" stFilterOperator="lt" stFilterType="text" stFilter="dateTimeInit" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>MCC</span>
                <input type="text" formControlName="merchantName" stFilterOperator="lt" stFilterType="text" stFilter="merchantName" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Юр.лицо</span>
                <input type="text" formControlName="legalName" stFilterOperator="lt" stFilterType="text" stFilter="legalName" style="width: 200px" placeholder="Не выбрано"/>
              </label>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <div stFilter #stFilter="stFilter">
              <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApply" value="Ok">
              <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancel" (click)="stFilter.filter(btnFilter('terminalId='))" value="Сбросить">
            </div>
          </ng-template>
        </form>
      </ejs-dialog>
    </div>

    <div class="control-section" style="padding-bottom: 5px;">
      <ejs-dialog #edit id="edit"
                  style="display: none;"
                  [isModal]='isModalEdit'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"400px"'
                  (open)="onEdit()"
                  (close)="offEdit()">
        <form [formGroup]="editForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings" *ngIf="selectedTerminal!=null"> {{ selectedTerminal.merchantId }} </div>
            <div id="dlg-template" class="e-icon-settings" *ngIf="selectedTerminal==null"> </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent">
              <label>
                <span>Название</span>
                <input type="text" formControlName="terminalId" name="terminalId" class="form-control" id="terminalId" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
<!--              <label>-->
<!--                <span>Адрес</span>-->
<!--                <input type="text" formControlName="merchantLocation" name="merchantLocation" class="form-control" id="merchantLocation" aria-describedby="idHelp" placeholder="Не выбрано">-->
<!--              </label>-->
<!--              <label>-->
<!--                <span>ИНН</span>-->
<!--                <input type="text" formControlName="taxId" name="taxId" class="form-control" id="taxId" aria-describedby="idHelp" placeholder="Не выбрано">-->
<!--              </label>-->
<!--              <label>-->
<!--                <span>MCC</span>-->
<!--                <input type="text" formControlName="mcc" name="mcc" class="form-control" id="mcc" aria-describedby="idHelp" placeholder="Не выбрано">-->
<!--              </label>-->
<!--              <label>-->
<!--                <span>Юр.лицо</span>-->
<!--                <input type="text" formControlName="merchantLegalName" name="merchantLegalName" class="form-control" id="merchantLegalName" aria-describedby="idHelp" placeholder="Не выбрано">-->
<!--              </label>-->
<!--              <label>-->
<!--                <span>Банк</span>-->
<!--                <input type="text" formControlName="bankName" name="bankName" class="form-control" id="bankName" aria-describedby="idHelp" placeholder="Не выбрано">-->
<!--              </label>-->
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyEdit" (click)="stFilter.filter(btnFilter('merchantId=&mcc=&merchantLegalName=&merchantLocation=&merchantName=&bankName='))" value="Сохранить">
            <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancelEdit" value="Отменить">
          </ng-template>
        </form>
      </ejs-dialog>
    </div>

    <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">

        <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
          <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
          <tr>
            <th class="table-attestation-history">Терминал {{ title }}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div stTable #table="stTable" style="margin-top: -7px;">
                <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

                <table class="found">
                  <thead>
                  <tr>
                    <th stSort="terminalId">Номер терминала</th>
                    <th stSort="groupNumber">Номер группы</th>
                    <th stSort="dateTimeInit">Дата регистрации</th>
                    <th stSort="dateTimeInit">Время регистрации</th>
                    <th stSort="merchant.merchantName">Наименование торговца</th>
                    <th stSort="merchant.merchantLegalName">Организация</th>
                    <th stSort="merchant.bank.name">Банк</th>
                    <th stSort="deviceName">Девайс</th>
                    <th>Авто Z-отчет</th>
                    <th>Дата последней транзакции</th>
                    <th>Дата последнего обновления</th>
                  </tr>
                  </thead>
                  <!-- http://www.unicode.org/cldr/charts/29/delta/ru.html -->
                  <!-- https://seo-studio.pro/blog/special-characters-html5-and-css3 -->
                  <tbody>
                  <ng-container *ngFor="let terminal of table.items">
                  <tr (click)="selectTerminalId(terminal)" *ngIf="terminal.terminalId === selectedTerminalId">
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.terminalId }}</td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.groupNumber }}</td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}</td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.dateTimeInit | date : 'hh:mm.ss' }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.merchantName | uppercase }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.legalName | uppercase }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.bankName | uppercase }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.deviceName }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>
                      <div *ngIf="terminal.zreportEnabledAll"><a routerLink="/terminal2">Установлен</a></div>
                      <div *ngIf="!terminal.zreportEnabledAll">Не установлен</div>
                    </td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap></td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap></td>
                  </tr>
                  <tr (click)="selectTerminalId(terminal)" *ngIf="terminal.terminalId != selectedTerminalId">
                    <td align="center" nowrap>{{ terminal.terminalId }}</td>
                    <td align="center" nowrap>{{ terminal.groupNumber }}</td>
                    <td align="center" nowrap>{{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}</td>
                    <td align="center" nowrap>{{ terminal.dateTimeInit | date : 'hh:mm.ss' }}</td>
                    <td align="left" nowrap>{{ terminal.merchantName | uppercase }}</td>
                    <td align="left" nowrap>{{ terminal.legalName | uppercase }}</td>
                    <td align="left" nowrap>{{ terminal.bankName | uppercase }}</td>
                    <td align="left" nowrap>{{ terminal.deviceName }}</td>
                    <td align="left" nowrap>
                      <div *ngIf="terminal.zreportEnabledAll"><a routerLink="/terminal2">Установлен</a></div>
                      <div *ngIf="!terminal.zreportEnabledAll">Не установлен</div>
                    </td>
                    <td align="left" nowrap></td>
                    <td align="left" nowrap></td>
                  </tr>
                  </ng-container>
                  </tbody>
                </table>

                <div stPagination #pager="stPagination" style="margin: auto; width: 200px;">
                  <button (click)="pager.selectPage(1)" [disabled]="!pager.isPreviousPageEnabled()" title="В начало">1</button>
                  <button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Предыдущая">&#x25C4;</button>
                  <p style="margin-top: 17px;"><input type="text" value="{{pager.page}}" (input)="pager.selectPage(selectPage($event.target.value))" style="width: 75px; color: #00275e; border-color: #00275e; border-radius: 0.2em; padding-top: 0.1em; padding-bottom: 0.2em;"></p>
                  <button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Следующая">&#x25BA;</button>
                  <button (click)="pager.selectPage(selectLastPage(pager.length, pager.size))" [disabled]="!pager.isNextPageEnabled()" title="В конец">{{ selectLastPage(pager.length, pager.size) }}</button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </perfect-scrollbar>
    </div>

  </div>
  <!-- /Container: List Items -->
