  <!-- Container: List Items -->
  <div class="container">
    <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button disabled>&#x2714;</button>
      </span>
      <span stFilter #stFilter="stFilter" style="padding-right: 3px;">
        <button routerLink="/terminal2" [queryParams]="{}" (click)="stFilter.filter(btnFilter('terminalId=&groupNumber=&dateTimeInit=&merchantName=&legalName='))" title="Обновить">&#x21bb;</button>
      </span>
      <button ejs-button id='btnOpenFilter' #btnOpenFilter (click)="openFilter()" title="Фильтр">&fnof;</button>

      <ejs-dialog #filter id="filter"
                  style="display: none;"
                  [isModal]='isModalFilter'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"400px"'
                  (open)="onFilter()"
                  (close)="offFilter()">
        <form [formGroup]="filterForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings"> Фильтр </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent">
<!--              <label class="checkbox">-->
<!--                <span>Угрозы</span>-->
<!--                <input type="checkbox"/>-->
<!--                <span class="overlay">-->
<!--                  <svg-->
<!--                    xmlns="http://www.w3.org/2000/svg"-->
<!--                    width="26"-->
<!--                    height="26"-->
<!--                    viewBox="0 0 26 26"-->
<!--                    fill="none"-->
<!--                    stroke="currentColor"-->
<!--                    stroke-width="2"-->
<!--                    stroke-linecap="round"-->
<!--                    stroke-linejoin="round"-->
<!--                    class="icon">-->
<!--                    <polyline points="20 6 9 17 4 12"/>-->
<!--                  </svg>-->
<!--                </span>-->
<!--              </label>-->

              <label>
                <span>Номер терминала</span>
                <input type="text" formControlName="terminalId" stFilterOperator="lt" stFilterType="text" stFilter="terminalId" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Номер группы</span>
                <input type="text" formControlName="groupNumber" stFilterOperator="lt" stFilterType="text" stFilter="groupNumber" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Дата регистрации</span>
                <input type="date" formControlName="dateTimeInit" stFilterOperator="gt" stFilterType="date" stFilter="dateTimeInit" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Наименование торговца</span>
                <input type="text" formControlName="merchantName" stFilterOperator="lt" stFilterType="text" stFilter="merchantName" style="width: 200px" placeholder="Не выбрано"/>
              </label>
              <label>
                <span>Организация</span>
                <input type="text" formControlName="legalName" stFilterOperator="lt" stFilterType="text" stFilter="legalName" style="width: 200px" placeholder="Не выбрано"/>
              </label>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <div stFilter #stFilter="stFilter">
              <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApply" value="Ok">
              <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancel" (click)="stFilter.filter(btnFilter('terminalId=&groupNumber=&dateTimeInit=&merchantName=&legalName='))" value="Сбросить">
            </div>
          </ng-template>
        </form>
      </ejs-dialog>
    </div>

    <div class="control-section" style="padding-bottom: 5px;">
      <ejs-dialog #edit id="edit"
                  style="display: none;"
                  [isModal]='isModalEdit'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"560px"'
                  (open)="onEdit()"
                  (close)="offEdit()">
        <form [formGroup]="editForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings" *ngIf="selectedTerminal!=null"> {{ selectedTerminal.terminalId }} </div>
            <div id="dlg-template" class="e-icon-settings" *ngIf="selectedTerminal==null"> </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent dialog-content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
              <perfect-scrollbar class="scroll-container" fxFlex="auto">
                <label>
                  <span>Номер группы</span>
                </label>
                <div *ngIf="selectedTerminal!=null">
                  <p style="margin-top: -19px; margin-left: 297px;"><a routerLink="/terminal2">{{ selectedTerminal.groupNumber }}</a></p>
                </div>
                <label>
                  <span>Дата регистрации</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.dateTimeInit | date : 'dd.MM.yyyy' }}" name="dateTimeInit" class="form-control" id="dateTimeInit" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>Организация</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.legalName }}" name="legalName" class="form-control" id="legalName" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>ИНН</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.taxId }}" name="taxId" class="form-control" id="taxId" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>Банк</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.bankName }}" name="bankName" class="form-control" id="bankName" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>Наименование торговца</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.merchantName }}" name="merchantName" class="form-control" id="merchantName" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>Дополнительная строка на чеке</span>
                  <input type="text" formControlName="addData" name="addData" class="form-control" id="addData" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>MCC</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.mcc }}" name="mcc" class="form-control" id="mcc" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span>Язык</span>
                  <input type="text" formControlName="allowedLanguages" name="allowedLanguages" class="form-control" id="allowedLanguages" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Операция Pay-QR</span>
                  <select formControlName="opQr" name="opQr" class="custom-select" id="opQr" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opQr of takeChoices" [ngValue]="opQr.key">{{opQr.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Операция Pay-NFS</span>
                  <select formControlName="opPurchase" name="opPurchase" class="custom-select" id="opPurchase" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opPurchase of takeChoices" [ngValue]="opPurchase.key">{{opPurchase.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Операция Entry-Mode</span>
                  <select formControlName="manual" name="manual" class="custom-select" id="manual" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let manual of takeChoices" [ngValue]="manual.key">{{manual.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Отмена операции</span>
                  <select formControlName="opReversal" name="opReversal" class="custom-select" id="opReversal" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opReversal of takeChoices" [ngValue]="opReversal.key">{{opReversal.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Возврат операции</span>
                  <select formControlName="opRefund" name="opRefund" class="custom-select" id="opRefund" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let opRefund of takeChoices" [ngValue]="opRefund.key">{{opRefund.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Ввод пин-кода</span>
                  <select formControlName="pin" name="pin" class="custom-select" id="pin" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let pin of takeChoices" [ngValue]="pin.key">{{pin.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Определение геопозиции</span>
                  <select formControlName="geoPosition" name="geoPosition" class="custom-select" id="geoPosition" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let geoPosition of takeChoices" [ngValue]="geoPosition.key">{{geoPosition.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Каналы отправки</span>
                  <input type="text" formControlName="receiptSendChannels" name="receiptSendChannels" class="form-control" id="receiptSendChannels" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Прием карт</span>
                  <input type="text" formControlName="ipsNames" name="ipsNames" class="form-control" id="ipsNames" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Продукты</span>
                  <input type="text" formControlName="productNames" name="productNames" class="form-control" id="productNames" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Шаблон чека</span>
                  <div *ngIf="selectedTerminal!=null">
                    <select formControlName="receiptTemplateId" name="receiptTemplateId" class="custom-select" id="receiptTemplateId" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                      <option selected disabled value="" class="placeholder">Не выбрано</option>
                      <option *ngFor="let receiptTemplate of receiptTemplates" [ngValue]="receiptTemplate.id" [selected]="receiptTemplate.id === selectedTerminal.receiptTemplateId">{{receiptTemplate.id}}</option>
                    </select>
                  </div>
                </label>
                <label>
                  <span>Лимит на одну транзакцию (копейки)</span>
                  <input type="number" formControlName="oneTransactionLimit" name="oneTransactionLimit" class="form-control" id="oneTransactionLimit" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Лимит без ПИНа (копейки)</span>
                  <input type="number" formControlName="noPinLimit" name="noPinLimit" class="form-control" id="noPinLimit" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Лимит на общую сумму терминала (копейки)</span>
                  <input type="number" formControlName="totalAmountTerminalLimit" name="totalAmountTerminalLimit" class="form-control" id="totalAmountTerminalLimit" aria-describedby="idHelp" placeholder="Не выбрано">
                </label>
                <label>
                  <span>Смена настроек</span>
                  <select formControlName="configChanged" name="configChanged" class="custom-select" id="configChanged" aria-describedby="idHelp" style="width: 100%; padding: 8px;" disabled="true">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let configChanged of takeChoices" [ngValue]="configChanged.key">{{configChanged.value}}</option>
                  </select>
                </label>
                <label>
                  <span>Девайс</span>
                  <div *ngIf="selectedTerminal!=null"><input type="text" value="{{ selectedTerminal.deviceName }}" name="deviceName" class="form-control" id="deviceName" aria-describedby="idHelp" placeholder="Не выбрано" readonly="true"></div>
                </label>
                <label>
                  <span style="padding-top: 10px; padding-bottom: 10px;">Авто Z-отчет</span>
                </label>
                <div *ngIf="selectedTerminal!=null">
                  <div *ngIf="selectedTerminal.zreportEnabledAll" style="padding-left: 299px; margin-top: -28px; padding-bottom: 10px;"><a routerLink="/terminal2">Установлен</a></div>
                  <div *ngIf="!selectedTerminal.zreportEnabledAll" style="padding-left: 299px; margin-top: -28px; padding-bottom: 10px;">Не установлен</div>
                </div>
                <label>
                  <span>NFC</span>
                  <select formControlName="nfc" name="nfc" class="custom-select" id="nfc" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let nfc of takeChoices" [ngValue]="nfc.key">{{nfc.value}}</option>
                  </select>
                </label>
                <label>
                  <span>BLOCK</span>
                  <select formControlName="block" name="block" class="custom-select" id="block" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                    <option selected disabled value="" class="placeholder">Не выбрано</option>
                    <option *ngFor="let block of takeChoices" [ngValue]="block.key">{{block.value}}</option>
                  </select>
                </label>
              </perfect-scrollbar>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApplyEdit" (click)="stFilter.filter(btnFilter('terminalId=&groupNumber=&dateTimeInit=&merchantName=&legalName='))" value="Сохранить">
            <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancelEdit" value="Отменить">
          </ng-template>
        </form>
      </ejs-dialog>
    </div>

    <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">

        <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
          <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
          <tr>
            <th class="table-attestation-history">Терминал {{ title }}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div stTable #table="stTable" style="margin-top: -7px;">
                <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

                <table class="found">
                  <thead>
                  <tr>
                    <th stSort="terminalId">Номер терминала</th>
                    <th stSort="groupNumber">Номер группы</th>
                    <th stSort="dateTimeInit">Дата регистрации</th>
                    <th>Время регистрации</th>
                    <th stSort="merchant.merchantName">Наименование торговца</th>
                    <th stSort="merchant.merchantLegalName">Организация</th>
                    <th stSort="merchant.bank.name">Банк</th>
                    <th>Девайс</th>
                    <th>Авто Z-отчет</th>
                    <th>Дата последней транзакции</th>
                    <th>Дата последнего обновления</th>
                  </tr>
                  </thead>
                  <!-- http://www.unicode.org/cldr/charts/29/delta/ru.html -->
                  <!-- https://seo-studio.pro/blog/special-characters-html5-and-css3 -->
                  <tbody>
                  <ng-container *ngFor="let terminal of table.items">
                  <tr (click)="selectTerminalId(terminal)" *ngIf="terminal.terminalId === selectedTerminalId">
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.terminalId }}</td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.groupNumber }}</td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}</td>
                    <td align="center" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.dateTimeInit | date : 'hh:mm.ss' }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.merchantName | uppercase }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.legalName | uppercase }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.bankName | uppercase }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>{{ terminal.deviceName }}</td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap>
                      <div *ngIf="terminal.zreportEnabledAll"><a routerLink="/terminal2">Установлен</a></div>
                      <div *ngIf="!terminal.zreportEnabledAll">Не установлен</div>
                    </td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap></td>
                    <td align="left" style="background: rgba(70, 70, 70, 0.200);" nowrap></td>
                  </tr>
                  <tr (click)="selectTerminalId(terminal)" *ngIf="terminal.terminalId != selectedTerminalId">
                    <td align="center" nowrap>{{ terminal.terminalId }}</td>
                    <td align="center" nowrap>{{ terminal.groupNumber }}</td>
                    <td align="center" nowrap>{{ terminal.dateTimeInit | date : 'dd.MM.yyyy' }}</td>
                    <td align="center" nowrap>{{ terminal.dateTimeInit | date : 'hh:mm.ss' }}</td>
                    <td align="left" nowrap>{{ terminal.merchantName | uppercase }}</td>
                    <td align="left" nowrap>{{ terminal.legalName | uppercase }}</td>
                    <td align="left" nowrap>{{ terminal.bankName | uppercase }}</td>
                    <td align="left" nowrap>{{ terminal.deviceName }}</td>
                    <td align="left" nowrap>
                      <div *ngIf="terminal.zreportEnabledAll"><a routerLink="/terminal2">Установлен</a></div>
                      <div *ngIf="!terminal.zreportEnabledAll">Не установлен</div>
                    </td>
                    <td align="left" nowrap></td>
                    <td align="left" nowrap></td>
                  </tr>
                  </ng-container>
                  </tbody>
                </table>

                <div stPagination #pager="stPagination" style="margin: auto; width: 200px;">
                  <button (click)="pager.selectPage(1)" [disabled]="!pager.isPreviousPageEnabled()" title="В начало">1</button>
                  <button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Предыдущая">&#x25C4;</button>
                  <p style="margin-top: 17px;"><input type="text" value="{{pager.page}}" (input)="pager.selectPage(selectPage($event.target.value))" style="width: 75px; color: #00275e; border-color: #00275e; border-radius: 0.2em; padding-top: 0.1em; padding-bottom: 0.2em;"></p>
                  <button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Следующая">&#x25BA;</button>
                  <button (click)="pager.selectPage(selectLastPage(pager.length, pager.size))" [disabled]="!pager.isNextPageEnabled()" title="В конец">{{ selectLastPage(pager.length, pager.size) }}</button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </perfect-scrollbar>
    </div>

  </div>
  <!-- /Container: List Items -->
