.table thead th {
  border-bottom: 0;
}

.table td, .table th {
  padding: 8px 10px 8px 10px;
  vertical-align: top;
  border-top: 0;
}

.horizontal-container {
  width: 1330px;
}

.vertical-container {
  height: 690px;
}

.vertical-container,
.horizontal-container {
  min-width: 0 !important;
  min-height: 0 !important;
}

@media (min-width: 1300px) {
  .container {
    max-width: 100%;
  }
}

tbody {
  color: #00275e;
}


.tabs {
  position: relative;
  top: -1px;
}

.tab, .tab-title {
  display: inline-block;
}

.tab-title:hover {
  cursor: pointer;
}

.tab input[type="radio"] {
  display: none;
}

.tab-title {
  background: #00275e;
  color: #fff;
  font-weight: bold;
  padding: 8px 10px;
  border: 1px solid #00275e;
  border-bottom: none;
}

.tab-content {
  position: absolute;
  border: 1px solid #00275e;
  padding: 10px;
  left: 0;
  /*width: calc(100% - 20px);*/
  /*width: 1020px;*/
  display: none;
  top: 36px;
  height: 706px;
}

.tab :checked + .tab-title {
  position: relative;
  background: #fff;
  color: #00275e;
  top: 0px;
  z-index: 1;
}

.tab :checked ~ .tab-content {
  display: block;
}
