<!-- Container: List Items -->
<div class="container">
  <table class="table" border="1" style="width:0;">
    <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
    <tr>
      <th>Аналитика</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
          <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">
              <table class="table table-striped" width="1200" border="0">
                <tbody>
                <div style="position: relative; left: 0px; top: 0px;">
                  <div style="height: 156px; width: 470px; margin-top: 24px; border: solid transparent 1px;">
                    <h6 style="text-align: left; margin: 0; margin-top: -24px;">Транзакции</h6>
                    <p style="margin: 0;">
                      <ngx-charts-bar-horizontal-2d
                        [results]="statusAnalytics"
                        [view]="[500, 150]"
                        [scheme]="{domain: ['#67c939', '#d81b19']}"
                        [schemeType]="'ordinal'"
                        [gradient]="false"
                        [xAxis]="true"
                        [yAxis]="true"
                        [legend]="false"
                        [showDataLabel]="true"
                        [showXAxisLabel]="false"
                        [xAxisLabel]="'Количество'"
                        [roundDomains]="true"
                        [tooltipDisabled]="false"
                        [showGridLines]="true"
                        [legendPosition]="'below'"
                        [animations]="false"
                        (select)="onSelectChart($event)"
                        (activate)="onActivateChart($event)"
                        (deactivate)="onDeactivateChart($event)">
                      </ngx-charts-bar-horizontal-2d>
                    </p>
                  </div>

                  <br>

                  <!-- https://swimlane.gitbook.io/ngx-charts/examples/pie-charts/pie-chart -->
                  <!-- https://stackblitz.com/edit/swimlane-pie-chart?embed=1&file=app/app.component.ts -->
                  <!-- https://lookcolor.ru/teoriya-cveta/cveta-radugi -->
                  <div style="height: 236px; width: 470px; margin-top: 24px; border: solid transparent 1px;">
                    <h6 style="text-align: left; margin: 0; margin-top: -24px;">Обслуживание</h6>
                    <p style="margin: 0; position: relative; top: -5px; left: 80px;">
                      <ngx-charts-pie-chart
                        [results]="entryModeAnalytics"
                        [view]="[300, 200]"
                        [scheme]="{domain: ['#4b2551', '#233cae', '#2ca3b9', '#67c939', '#fac901', '#f27702', '#d81b19']}"
                        [gradient]="false"
                        [legend]="true"
                        [legendPosition]="'below'"
                        [legendTitle]="''"
                        [labels]="false"
                        [doughnut]="false"
                        [trimLabels]="true"
                        [maxLabelLength]="20"
                        [animations]="false"
                        (select)="onSelectChart($event)"
                        (activate)="onActivateChart($event)"
                        (deactivate)="onDeactivateChart($event)">
                      </ngx-charts-pie-chart>
                    </p>
                  </div>
                </div>


                <div style="position: relative; left: 500px; top: -460px;">
                  <div style="height: 156px; width: 470px; margin-top: 24px; border: solid transparent 1px;">
                    <h6 style="text-align: left; margin: 0; margin-top: -24px;">{{ startDate | date : 'HH:mm' }} - {{ endDate | date : 'HH:mm' }}</h6>
                    <p style="margin: 0;">
<!--                              <ngx-charts-area-chart-stacked-->
<!--                                [view]="view"-->
<!--                                [scheme]="colorScheme"-->
<!--                                [legend]="legend"-->
<!--                                [showXAxisLabel]="showXAxisLabel"-->
<!--                                [showYAxisLabel]="showYAxisLabel"-->
<!--                                [xAxis]="xAxis"-->
<!--                                [yAxis]="yAxis"-->
<!--                                [xAxisLabel]="xAxisLabel"-->
<!--                                [yAxisLabel]="yAxisLabel"-->
<!--                                [timeline]="timeline"-->
<!--                                [results]="multi"-->
<!--                                (select)="onSelectChart($event)">-->
<!--                              </ngx-charts-area-chart-stacked>-->
                    </p>
                  </div>

                  <br>

                  <div style="height: 236px; width: 470px; margin-top: 24px; border: solid transparent 1px;">
                    <h6 style="text-align: left; margin: 0; margin-top: -24px;">Фактор</h6>
                    <p style="margin: 0; position: relative; top: -5px; left: 10px;">
                      <ngx-charts-pie-chart
                        [results]="formFactorAnalytics"
                        [view]="[450, 200]"
                        [scheme]="{domain: ['#4b2551', '#233cae', '#2ca3b9', '#67c939', '#fac901', '#f27702', '#d81b19']}"
                        [gradient]="false"
                        [legend]="true"
                        [legendPosition]="'below'"
                        [legendTitle]="''"
                        [labels]="false"
                        [doughnut]="false"
                        [trimLabels]="true"
                        [maxLabelLength]="20"
                        [animations]="false"
                        (select)="onSelectChart($event)"
                        (activate)="onActivateChart($event)"
                        (deactivate)="onDeactivateChart($event)">
                      </ngx-charts-pie-chart>
                    </p>
                  </div>
                </div>
                </tbody>
              </table>
            </perfect-scrollbar>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Container: List Items -->
