<!-- Container: List Items -->
<div class="container">
  <table class="table" border="1" style="width:0;">
    <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
    <tr>
      <th>Аналитика</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
          <perfect-scrollbar class="scroll-container" fxFlex="auto">
            <table>
              <tr>
                <td>
                  <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                    <perfect-scrollbar class="scroll-container" fxFlex="auto">
                      <table class="table table-striped" width="650" border="0">
                        <tbody>
                        <ngx-charts-bar-horizontal-2d
                          [view]="view"
                          [scheme]="colorScheme"
                          [schemeType]="schemeType"
                          [results]="multi"
                          [gradient]="gradient"
                          [xAxis]="showXAxis"
                          [yAxis]="showYAxis"
                          [legend]="showLegend"
                          [showDataLabel]="showDataLabel"
                          [showXAxisLabel]="showXAxisLabel"
                          [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel"
                          [yAxisLabel]="yAxisLabel"
                          [roundDomains]="roundDomains"
                          [tooltipDisabled]="disableTooltip"
                          [showGridLines]="showGridLines"
                          (select)="onSelectChart($event)"
                          (activate)="onActivateChart($event)"
                          (deactivate)="onDeactivateChart($event)"
                        >
                        </ngx-charts-bar-horizontal-2d>

                        <!-- https://swimlane.gitbook.io/ngx-charts/examples/pie-charts/pie-chart -->
                        <!-- https://stackblitz.com/edit/swimlane-pie-chart?embed=1&file=app/app.component.ts -->
                        <ngx-charts-pie-chart
                          [view]="view2"
                          [scheme]="colorScheme2"
                          [results]="single"
                          [gradient]="gradient2"
                          [legend]="showLegend2"
                          [legendPosition]="legendPosition2"
                          [labels]="showLabels2"
                          [doughnut]="isDoughnut2"
                          [trimLabels]="true"
                          [maxLabelLength]="20"
                          (select)="onSelectChart($event)"
                          (activate)="onActivateChart($event)"
                          (deactivate)="onDeactivateChart($event)"
                        >
                        </ngx-charts-pie-chart>
                        </tbody>
                      </table>
                    </perfect-scrollbar>
                  </div>
                </td>
              </tr>
            </table>
          </perfect-scrollbar>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Container: List Items -->
