<!-- Container: List Items -->
<div class="container">
  <table class="table" border="1" style="width:0;">
    <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
    <tr>
      <th>Аналитика ➠ {{ title | date : 'dd.MM.yyyy' }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
          <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex>


                    <table width="1400" border="0" style="overflow: hidden;">
                      <tr>
                        <td>
                          <div style="height: 156px; width: 470px; margin-top: 24px; border: solid transparent 1px;">
                            <h6 style="text-align: left; margin: 0; margin-top: -24px;">Транзакции</h6>
                            <p style="margin: 0;">
                              <ngx-charts-bar-horizontal-2d
                                [results]="statusAmountAnalytics"
                                [view]="[500, 80]"
                                [scheme]="{domain: ['#2ca3b9']}"
                                [schemeType]="'ordinal'"
                                [gradient]="false"
                                [xAxis]="true"
                                [yAxis]="true"
                                [legend]="false"
                                [legendPosition]="'below'"
                                [showDataLabel]="true"
                                [showXAxisLabel]="false"
                                [xAxisLabel]="'Сумма'"
                                [roundDomains]="true"
                                [tooltipDisabled]="false"
                                [showGridLines]="true"
                                [animations]="false"
                                [groupPadding]="3"
                                [barPadding]="3"
                                (select)="onSelectChart($event)"
                                (activate)="onActivateChart($event)"
                                (deactivate)="onDeactivateChart($event)">
                              </ngx-charts-bar-horizontal-2d>
                              <ngx-charts-bar-horizontal-2d
                                [results]="statusCountAnalytics"
                                [view]="[500, 80]"
                                [scheme]="{domain: ['#2ca3b9']}"
                                [schemeType]="'ordinal'"
                                [gradient]="false"
                                [xAxis]="true"
                                [yAxis]="true"
                                [legend]="false"
                                [legendPosition]="'below'"
                                [showDataLabel]="true"
                                [showXAxisLabel]="false"
                                [xAxisLabel]="'Количество'"
                                [roundDomains]="true"
                                [tooltipDisabled]="false"
                                [showGridLines]="true"
                                [animations]="false"
                                [groupPadding]="1"
                                [barPadding]="1"
                                (select)="onSelectChart($event)"
                                (activate)="onActivateChart($event)"
                                (deactivate)="onDeactivateChart($event)">
                              </ngx-charts-bar-horizontal-2d>
                            </p>
                          </div>
                        </td>
                        <td colspan="2">
                          <div style="height: 156px; width: 800px; margin-top: 24px; border: solid transparent 1px;">
                            <h6 style="text-align: left; margin: 0; margin-top: -24px;">{{ hourlyStartDateAnalytics | date : 'HH:mm' }} - {{ hourlyEndDateAnalytics | date : 'HH:mm' }}</h6>
                            <p style="margin: 0;">
                              <ngx-charts-line-chart
                                [results]="hourlyAnalytics"
                                [view]="[800, 275]"
                                [scheme]="{domain: ['#67c939', '#d81b19']}"
                                [legend]="false"
                                [legendPosition]="'below'"
                                [legendTitle]="''"
                                [showXAxisLabel]="true"
                                [showYAxisLabel]="true"
                                [xAxis]="true"
                                [xAxisLabel]="''"
                                [yAxis]="true"
                                [yAxisLabel]="'Транзакции'"
                                [timeline]="true"
                                [animations]="false"
                                (select)="onSelectChart($event)"
                                (activate)="onActivateChart($event)"
                                (deactivate)="onDeactivateChart($event)">
                              </ngx-charts-line-chart>
                            </p>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <!-- https://swimlane.gitbook.io/ngx-charts/examples/pie-charts/pie-chart -->
                          <!-- https://stackblitz.com/edit/swimlane-pie-chart?embed=1&file=app/app.component.ts -->
                          <!-- https://lookcolor.ru/teoriya-cveta/cveta-radugi -->
                          <div style="height: 236px; margin-top: 24px; margin-left: 146px; border: solid transparent 1px;">
                            <h6 style="text-align: left; margin: 0; margin-top: -24px;">Способ оплаты</h6>
                            <p style="margin: 0;">
                              <ngx-charts-pie-chart
                                [results]="entryModeAnalytics"
                                [view]="[300, 200]"
                                [scheme]="{domain: ['#4b2551', '#233cae', '#2ca3b9', '#67c939', '#fac901', '#f27702', '#d81b19']}"
                                [gradient]="false"
                                [legend]="true"
                                [legendPosition]="'below'"
                                [legendTitle]="''"
                                [labels]="false"
                                [doughnut]="false"
                                [trimLabels]="true"
                                [maxLabelLength]="20"
                                [animations]="false"
                                (select)="onSelectChart($event)"
                                (activate)="onActivateChart($event)"
                                (deactivate)="onDeactivateChart($event)">
                              </ngx-charts-pie-chart>
                            </p>
                          </div>
                        </td>
                        <td>
                          <div style="height: 236px; border: solid transparent 1px;">
                            <h6 style="text-align: left; position: relative; margin: 0;">Устройство</h6>
                            <p style="margin: 0;">
                              <ngx-charts-pie-chart
                                [results]="formFactorAnalytics"
                                [view]="[450, 200]"
                                [scheme]="{domain: ['#4b2551', '#233cae', '#2ca3b9', '#67c939', '#fac901', '#f27702', '#d81b19']}"
                                [gradient]="false"
                                [legend]="true"
                                [legendPosition]="'below'"
                                [legendTitle]="''"
                                [labels]="false"
                                [doughnut]="false"
                                [trimLabels]="true"
                                [maxLabelLength]="20"
                                [animations]="false"
                                (select)="onSelectChart($event)"
                                (activate)="onActivateChart($event)"
                                (deactivate)="onDeactivateChart($event)">
                              </ngx-charts-pie-chart>
                            </p>
                          </div>
                        </td>
                        <td>
                          <div style="height: 236px; border: solid transparent 1px;">
                            <h6 style="text-align: left; position: relative; margin: 0;">Отказные очереди</h6>
                            <p style="margin: 0;">
                              <ngx-charts-pie-chart
                                [results]="declinedAnalytics"
                                [view]="[300, 200]"
                                [scheme]="{domain: ['#4b2551', '#233cae', '#2ca3b9', '#67c939', '#fac901', '#f27702', '#d81b19']}"
                                [gradient]="false"
                                [legend]="true"
                                [legendPosition]="'below'"
                                [legendTitle]="''"
                                [labels]="false"
                                [doughnut]="false"
                                [trimLabels]="true"
                                [maxLabelLength]="20"
                                [animations]="false"
                                (select)="onSelectChart($event)"
                                (activate)="onActivateChart($event)"
                                (deactivate)="onDeactivateChart($event)">
                              </ngx-charts-pie-chart>
                            </p>
                          </div>
                        </td>
                      </tr>
                    </table>
            </perfect-scrollbar>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Container: List Items -->
