  <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
    <perfect-scrollbar class="scroll-container" fxFlex="auto">

      <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
        <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
        <tr>
          <th class="table-attestation-history"> Уведомление для Организаиий {{ title }} </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div stTable #table="stTable" style="margin-top: -7px;">
              <div *ngIf="table.busy" class="loading-indicator">Loading ...</div>

              <table class="custom-control custom-checkbox">
                <thead>
                <tr>
                  <th stSort="merchantId">Ид-ор торговца</th>
                  <th stSort="merchantName">Название</th>
<!--                  <th stSort="bank.name">Банк</th>-->
                  <th><input type="text" name="merchantSelected" class="form-control" id="merchantSelected" aria-describedby="idHelp" placeholder="" value="{{ SELECT_INPUTS }} / {{ ALL_INPUTS }}" [disabled]="true" style="width: 70px; text-align: center;" /></th>
                </tr>
                </thead>
                <!-- http://www.unicode.org/cldr/charts/29/delta/ru.html -->
                <!-- https://seo-studio.pro/blog/special-characters-html5-and-css3 -->
                <tbody>
                <tr>
                  <td align="center"><input placeholder="" type="text" stFilter="merchantId" style="max-width: 100px;" /></td>
                  <td align="left"><input placeholder="" type="text" stFilter="merchantName" style="max-width: 160px;" /></td>
<!--                  <td align="left"><input placeholder="" type="text" stFilter="bankName" style="max-width: 100px;" /></td>-->
                  <td>
                    <input type="checkbox" class="custom-control-input" id="merchantAll">
                    <label class="custom-control-label" for="merchantAll" title="Выбрать все" style="margin-top: 2px;"></label>
                  </td>
                </tr>
                <ng-container *ngFor="let merchant of table.items">
                  <tr>
                    <td align="left" nowrap>
                      <span *ngIf="!merchant.isShortMerchantId">{{ merchant.shortMerchantId }}</span>
                      <span *ngIf="merchant.isShortMerchantId" title="{{ merchant.merchantId }}" style="cursor: help;">{{ merchant.shortMerchantId }}</span>
                    </td>
                    <td align="left" nowrap>
                      <span *ngIf="!merchant.isShortMerchantName">{{ merchant.shortMerchantName | uppercase }}</span>
                      <span *ngIf="merchant.isShortMerchantName" title="{{ merchant.merchantName | uppercase }}" style="cursor: help;">{{ merchant.shortMerchantName | uppercase }}</span>
                    </td>
<!--                    <td align="left" nowrap>-->
<!--                      <span *ngIf="!merchant.isShortBankName">{{ merchant.shortBankName | uppercase }}</span>-->
<!--                      <span *ngIf="merchant.isShortBankName" title="{{ merchant.bankName | uppercase }}" style="cursor: help;">{{ merchant.shortBankName | uppercase }}</span>-->
<!--                    </td>-->
                    <td>
                      <input type="checkbox" class="custom-control-input" id="{{ merchant.merchantId }}" name="{{ merchant.merchantId }}" value="merchantMessage" (change)="onCheckedItem($event)" [checked]="merchant.checked">
                      <label class="custom-control-label" for="{{ merchant.merchantId }}" title="{{ merchant.merchantId }}"></label>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>

              <div stPagination #pager="stPagination" style="margin: auto; width: 200px;">
                <button (click)="pager.selectPage(1)" [disabled]="!pager.isPreviousPageEnabled()" title="В начало">1</button>
                <button (click)="pager.selectPreviousPage()" [disabled]="!pager.isPreviousPageEnabled()" title="Предыдущая">&#x25C4;</button>
                <p style="margin-top: 17px;"><input type="text" value="{{pager.page}}" (input)="pager.selectPage(selectPage($event.target.value))" style="width: 75px; color: #00275e; border-color: #00275e; border-radius: 0.2em; padding-top: 0.1em; padding-bottom: 0.2em;"></p>
                <button (click)="pager.selectNextPage()" [disabled]="!pager.isNextPageEnabled()" title="Следующая">&#x25BA;</button>
                <button (click)="pager.selectPage(selectLastPage(pager.length, pager.size))" [disabled]="!pager.isNextPageEnabled()" title="В конец">{{ selectLastPage(pager.length, pager.size) }}</button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </perfect-scrollbar>
  </div>
