  <div class="container">
    <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button disabled>&#x2714;</button>
      </span>
      <span style="padding-right: 3px;">
        <button (click)="pageRefresh()" title="Обновить">&#x21bb;</button>
      </span>

      <!-- Container: Selected Item (Attestation) -->
      <ejs-dialog #attestationThreadlog id="attestationThreadlog"
                  style="display: none;"
                  [isModal]='isModalAttestationThreadlog'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"470px"'
                  (open)="onAttestationThreadlog()"
                  (close)="offAttestationThreadlog()">
        <form [formGroup]="attestationThreadlogForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings"> </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent">
              <div *ngIf="selectedAttestationThreadlogId">
                <label>
                  <span>Идентификатор</span>
                  <p style="margin-left: 0px; width: 430px; margin-top: 8px; margin-bottom: 8px; padding-bottom: 8px;">{{ selectedAttestationThreadlogId }}</p>
                </label>
              </div>
              <label>
                <span>Действия</span>
              </label>
              <p style="margin-top: -26px; margin-bottom: 4px; margin-left: 177px; width: 267px;">
                <ng-multiselect-dropdown [placeholder]="'Не выбрано'"
                                         [data]="allAttestationActionNames"
                                         formControlName="attestationActions"
                                         [settings]="attestationActionNamesSettings"
                                         (onSelect)="onItemSelect($event)"
                                         (onSelectAll)="onSelectAll($event)"
                                         name="attestationActions" id="attestationActions">
                </ng-multiselect-dropdown>
              </p>
              <label>
                <span>Тестирование приложения</span>
                <select formControlName="debug" name="debug" class="custom-select" id="debug" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                  <option *ngFor="let debug of takeChoices" [ngValue]="debug.key">{{debug.value}}</option>
                </select>
              </label>
              <label>
                <span>Эмуляция приложения</span>
                <select formControlName="emulator" name="emulator" class="custom-select" id="emulator" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                  <option *ngFor="let emulator of takeChoices" [ngValue]="emulator.key">{{emulator.value}}</option>
                </select>
              </label>

              <label>
                <span>Права приложения</span>
                <select formControlName="root" name="root" class="custom-select" id="root" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                  <option *ngFor="let root of takeChoices" [ngValue]="root.key">{{root.value}}</option>
                </select>
              </label>
              <label>
                <span>Целостность каналов</span>
                <select formControlName="channelIntegrity" name="channelIntegrity" class="custom-select" id="channelIntegrity" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                  <option *ngFor="let channelIntegrity of takeChoices" [ngValue]="channelIntegrity.key">{{channelIntegrity.value}}</option>
                </select>
              </label>
              <label>
                <span>Гео-позиция</span>
                <select formControlName="geoPosition" name="geoPosition" class="custom-select" id="geoPosition" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                  <option *ngFor="let geoPosition of takeChoices" [ngValue]="geoPosition.key">{{geoPosition.value}}</option>
                </select>
              </label>
              <label>
                <span>Частота транзакций</span>
                <select formControlName="velocity" name="velocity" class="custom-select" id="velocity" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                  <option *ngFor="let velocity of takeChoices" [ngValue]="velocity.key">{{velocity.value}}</option>
                </select>
              </label>
              <label>
                <span>Статус</span>
                <select formControlName="enabled" name="enabled" class="custom-select" id="enabled" aria-describedby="idHelp" style="width: 100%; padding: 8px;">
                  <option selected disabled value="" class="placeholder">Не выбрано</option>
                  <option *ngFor="let enabled of statusChoices" [ngValue]="enabled.key">{{enabled.value}}</option>
                </select>
              </label>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApply" value="Сохранить">
            <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancel" value="Отменить">
          </ng-template>
        </form>
      </ejs-dialog>
      <!-- /Container: Selected Item (Attestation) -->
    </div>

    <!-- Container: List Items -->
    <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">

        <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
          <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
          <tr>
            <th class="table-receipt-send-audit">Банки</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
                <perfect-scrollbar class="scroll-container" fxFlex="auto">

                  <table class="found">
                    <thead>
                    <tr>
                      <th>Идентификатор</th>
                      <th>Действия</th>
                      <th>Тестирование приложения</th>
                      <th>Эмуляция приложения</th>
                      <th>Права приложения</th>
                      <th>Целостность каналов</th>
                      <th>Гео-позиция</th>
                      <th>Частота транзакций</th>
                      <th>Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let attestationThreadlog of attestationThreadlogs">
                      <tr (click)="selectAttestationThreadlogId(attestationThreadlog)" *ngIf="attestationThreadlog.id === selectedAttestationThreadlogId">
                        <td align="left" style="background: rgba(70, 70, 70, 0.200);"> {{ attestationThreadlog.id }} </td>
                        <td align="left" style="background: rgba(70, 70, 70, 0.200);">{{ attestationThreadlog.attestationActionShortNames }}</td>
                        <td align="center" style="background: rgba(70, 70, 70, 0.200);">
                          <div *ngIf="'Y' === attestationThreadlog.debug"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.debug"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="center" style="background: rgba(70, 70, 70, 0.200);">
                          <div *ngIf="'Y' === attestationThreadlog.emulator"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.emulator"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="center" style="background: rgba(70, 70, 70, 0.200);">
                          <div *ngIf="'Y' === attestationThreadlog.root"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.root"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="center" style="background: rgba(70, 70, 70, 0.200);">
                          <div *ngIf="'Y' === attestationThreadlog.channelIntegrity"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.channelIntegrity"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="center" style="background: rgba(70, 70, 70, 0.200);">
                          <div *ngIf="'Y' === attestationThreadlog.geoPosition"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.geoPosition"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="center" style="background: rgba(70, 70, 70, 0.200);">
                          <div *ngIf="'Y' === attestationThreadlog.velocity"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.velocity"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="left" style="background: rgba(70, 70, 70, 0.200);">
                          <div *ngFor="let statusChoice of statusChoices">
                            <div *ngIf="statusChoice.key === attestationThreadlog.enabled"> <font color="{{attestationThreadlog.color}}"><b>{{ statusChoice.value }}</b></font> </div>
                          </div>
                        </td>
                      </tr>
                      <tr (click)="selectAttestationThreadlogId(attestationThreadlog)" *ngIf="attestationThreadlog.id != selectedAttestationThreadlogId">
                        <td align="left"> {{ attestationThreadlog.id }} </td>
                        <td align="left">{{ attestationThreadlog.attestationActionShortNames }}</td>
                        <td align="center">
                          <div *ngIf="'Y' === attestationThreadlog.debug"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.debug"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="center">
                          <div *ngIf="'Y' === attestationThreadlog.emulator"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.emulator"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="center">
                          <div *ngIf="'Y' === attestationThreadlog.root"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.root"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="center">
                          <div *ngIf="'Y' === attestationThreadlog.channelIntegrity"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.channelIntegrity"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="center">
                          <div *ngIf="'Y' === attestationThreadlog.geoPosition"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.geoPosition"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="center">
                          <div *ngIf="'Y' === attestationThreadlog.velocity"><font color="darkgreen"><b>&#x2713;</b></font></div>
                          <div *ngIf="'N' === attestationThreadlog.velocity"><font color="brown"><b>&#x2717;</b></font></div>
                        </td>
                        <td align="left">
                          <div *ngFor="let statusChoice of statusChoices">
                            <div *ngIf="statusChoice.key === attestationThreadlog.enabled"> <font color="{{attestationThreadlog.color}}"><b>{{ statusChoice.value }}</b></font> </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>

                </perfect-scrollbar>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </perfect-scrollbar>
    </div>
    <!-- /Container: List Items -->

  </div>
