  <div class="container">
    <div class="control-section" style="padding-bottom: 5px;">
      <span style="padding-right: 3px;">
        <button disabled>&#x2714;</button>
      </span>
      <span style="padding-right: 3px;">
        <button (click)="pageRefresh()" title="Обновить">&#x21bb;</button>
      </span>

      <!-- Container: Selected Item (Bank) -->
      <ejs-dialog #bank id="bank"
                  style="display: none;"
                  [isModal]='isModalBank'
                  [animationSettings]='animationSettings'
                  [showCloseIcon]='showCloseIcon'
                  [target]='".control-section"'
                  [width]='"470px"'
                  (open)="onBank()"
                  (close)="offBank()">
        <form [formGroup]="bankForm">
          <ng-template #header>
            <div id="dlg-template" class="e-icon-settings"> </div>
          </ng-template>
          <ng-template #content>
            <div class="dialogContent">
              <div *ngIf="selectedBankId">
                <label>
                  <span>Код</span>
                  <p style="margin-left: 0px; width: 430px; margin-top: 8px; margin-bottom: 8px; padding-bottom: 8px;">{{ selectedBankId }}</p>
                </label>
              </div>
              <label>
                <span>Название</span>
                <input type="text" formControlName="name" name="name" class="form-control" id="name" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>Адрес</span>
                <input type="text" formControlName="address" name="address" class="form-control" id="address" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>Эл. адрес</span>
                <input type="text" formControlName="email" name="email" class="form-control" id="email" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>Телефон</span>
                <input type="text" formControlName="phone" name="phone" class="form-control" id="phone" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>ИНН</span>
                <input type="text" formControlName="taxId" name="taxId" class="form-control" id="taxId" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>mfo</span>
                <input type="text" formControlName="mfo" name="mfo" class="form-control" id="mfo" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
              <label>
                <span>Сайт банка</span>
                <input type="text" formControlName="instructions" name="instructions" class="form-control" id="instructions" aria-describedby="idHelp" placeholder="Не выбрано">
              </label>
            </div>
          </ng-template>
          <ng-template #footerTemplate>
            <input type="submit" class="e-control e-btn e-primary sendButton" id="btnApply" value="Сохранить">
            <input type="reset" class="e-control e-btn e-primary sendButton" id="btnCancel" value="Отменить">
          </ng-template>
        </form>
      </ejs-dialog>
      <!-- /Container: Selected Item (Bank) -->
    </div>

    <!-- Container: List Items -->
    <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">

        <table class="table" border="1" style="border-bottom: solid #00275e 1px; width: 0;">
          <thead style="background-color: #00275e; border-color: #00275e; color: #fff; border-bottom: solid #00275e 3px; width: 0;">
          <tr>
            <th class="table-receipt-send-audit">Банки</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
                <perfect-scrollbar class="scroll-container" fxFlex="auto">

                  <table class="found">
                    <thead>
                    <tr>
                      <th>Код</th>
                      <th>Название</th>
                      <th>Адрес</th>
                      <th>Эл. адрес</th>
                      <th>Телефон</th>
                      <th>ИНН</th>
                      <th>mfo</th>
                      <th>Сайт банка</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let bank of banks">
                      <tr (click)="selectBankId(bank)" *ngIf="bank.id === selectedBankId">
                        <td align="center" style="background: rgba(70, 70, 70, 0.200);"> {{ bank.id }} </td>
                        <td align="left" style="background: rgba(70, 70, 70, 0.200);">{{ bank.name }}</td>
                        <td align="left" style="background: rgba(70, 70, 70, 0.200);">{{ bank.address }}</td>
                        <td align="left" style="background: rgba(70, 70, 70, 0.200);">{{ bank.email }}</td>
                        <td align="left" style="background: rgba(70, 70, 70, 0.200);">{{ bank.phone }}</td>
                        <td align="center" style="background: rgba(70, 70, 70, 0.200);">{{ bank.taxId }}</td>
                        <td align="center" style="background: rgba(70, 70, 70, 0.200);">{{ bank.mfo }}</td>
                        <td align="left" style="background: rgba(70, 70, 70, 0.200);"><a href="{{ bank.instructions }}" target="_blank">{{ bank.instructions }}</a></td>
                      </tr>
                      <tr (click)="selectBankId(bank)" *ngIf="bank.id != selectedBankId">
                        <td align="center"> {{ bank.id }} </td>
                        <td align="left">{{ bank.name }}</td>
                        <td align="left">{{ bank.address }}</td>
                        <td align="left">{{ bank.email }}</td>
                        <td align="left">{{ bank.phone }}</td>
                        <td align="center">{{ bank.taxId }}</td>
                        <td align="center">{{ bank.mfo }}</td>
                        <td align="left"><a href="{{ bank.instructions }}" target="_blank">{{ bank.instructions }}</a></td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>

                </perfect-scrollbar>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </perfect-scrollbar>
    </div>
    <!-- /Container: List Items -->

  </div>
