<!-- Sidebar -->
<div class="bg-transenix border-right" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
    <a class="nav-link" routerLink="/merchant" class="list-group-transenix list-group-transenix-action bg-transenix">Организация</a>
    <a class="nav-link" routerLink="/terminal2" class="list-group-transenix list-group-transenix-action bg-transenix">Терминал</a>
    <a class="nav-link" routerLink="/service-group" class="list-group-transenix list-group-transenix-action bg-transenix">Группы терминалов</a>
    <a class="nav-link" routerLink="/products" class="list-group-transenix list-group-transenix-action bg-transenix">Продукты</a>
<!--    <a class="nav-link" routerLink="/card-mask-group" class="list-group-transenix list-group-transenix-action bg-transenix">Шаблон карты</a>-->
    <a class="nav-link" routerLink="/receipt-template" class="list-group-transenix list-group-transenix-action bg-transenix">Шаблон чека</a>
    <a class="nav-link" routerLink="/term-key" class="list-group-transenix list-group-transenix-action bg-transenix">Ключи терминалов</a>
    <a class="nav-link" routerLink="/background-job" class="list-group-transenix list-group-transenix-action bg-transenix">Расписание</a>
<!--    <a class="nav-link" routerLink="/bank-info" class="list-group-transenix list-group-transenix-action bg-transenix">Банк</a>-->
    <a class="nav-link" routerLink="/transaction" class="list-group-transenix list-group-transenix-action bg-transenix">Транзакции</a>
    <a class="nav-link" routerLink="/allowed-language" class="list-group-transenix list-group-transenix-action bg-transenix">Языки приложений</a>
    <a class="nav-link" routerLink="/attestation-history" class="list-group-transenix list-group-transenix-action bg-transenix">История аттестаций</a>
    <a class="nav-link" routerLink="/receipt-send-audit" class="list-group-transenix list-group-transenix-action bg-transenix">Запросы чеков</a>
    <a class="nav-link" routerLink="/analytics" class="list-group-transenix list-group-transenix-action bg-transenix">Аналитика</a>
    <a class="nav-link" routerLink="/monitoring" class="list-group-transenix list-group-transenix-action bg-transenix">Мониторинг</a>
  </div>
</div>
<!-- /Sidebar -->
