<!-- Sidebar -->
<div class="bg-transenix border-right" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
    <a class="nav-link" routerLink="/home" class="list-group-transenix list-group-transenix-action bg-transenix">Организация</a>
    <a class="nav-link" routerLink="/terminal" class="list-group-transenix list-group-transenix-action bg-transenix">Терминал</a>
    <a class="nav-link" routerLink="/service-groups" class="list-group-transenix list-group-transenix-action bg-transenix">Группы терминалов</a>
    <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Лимиты</a>
    <a class="nav-link" routerLink="/products" class="list-group-transenix list-group-transenix-action bg-transenix">Продукты</a>
    <a class="nav-link" routerLink="/allowed-language" class="list-group-transenix list-group-transenix-action bg-transenix">Языки приложений</a>
    <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Шаблон чека</a>
    <a class="nav-link" routerLink="/card-mask-group" class="list-group-transenix list-group-transenix-action bg-transenix">Шаблон карты</a>
    <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Ключи безопасности</a>
    <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Расписание</a>
    <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Коды активации</a>
    <a class="nav-link" routerLink="/bank" class="list-group-transenix list-group-transenix-action bg-transenix">Банки</a>
    <a class="nav-link" routerLink="/mps" class="list-group-transenix list-group-transenix-action bg-transenix">Платежные системы</a>
  </div>
</div>
<!-- /Sidebar -->
