<!-- Container: List Items -->
<div class="container">
  <div style="padding-bottom: 5px;">
    <table>
      <tr>
        <td><button disabled>&#x2714;</button></td>
        <td><button (click)="pageRefresh()" title="Обновить">&#x21bb;</button></td>
        <td><button (click)="selectTerminalGroup(null)" title="Отфильтровать">&fnof;</button></td>
      </tr>
    </table>
  </div>

  <table class="table" border="1" style="width:0;">
    <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
    <tr>
      <th>Транзакции</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
          <perfect-scrollbar class="scroll-container" fxFlex="auto">
            <table>
              <tr>
                <td>
                  <table width="1480" border="0">
                    <tr>
                      <th width="120">Номер транзакции</th>
                      <th width="90">Сумма</th>
                      <th width="125">Доп сумма</th>
                      <th width="90">Валюта</th>
                      <th width="150">Тип операции</th>
                      <th width="150">Маска карты</th>
                      <th width="100">Дата/Время</th>
                      <th width="145">Форм Фактор</th>
                      <th width="130">Код авторизации</th>
                      <th width="130">Код ответа</th>
                      <th width="150">РРН</th>
                      <th width="100">Статус</th>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                    <perfect-scrollbar class="scroll-container" fxFlex="auto">
                      <table class="table table-striped" width="1480" border="0">
                        <tbody>
                        <ng-container *ngFor="let transaction of transactions">
                          <tr class="found">
                            <td width="120">{{ transaction.transactionId }}</td>
                            <td width="90">{{ transaction.amount }}</td>
                            <td width="125">{{ transaction.amountOther }}</td>
                            <td width="90">{{ transaction.currency }}</td>
                            <td width="150">{{ transaction.operation }}</td>
                            <td width="150">{{ transaction.panMasked }}</td>
                            <td width="100" align="center" style="font-size:12px; line-height:10px;">{{ transaction.transactionDate | date : 'dd.mm.yyyy hh:mm'}}</td>
                            <td width="145">{{ transaction.formFactor }}</td>
                            <td width="130">{{ transaction.approvalCode }}</td>
                            <td width="130">{{ transaction.responseCode }}</td>
                            <td width="150">{{ transaction.rrn }}</td>
                            <td width="100">{{ transaction.statusCode }}</td>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </perfect-scrollbar>
                  </div>
                </td>
              </tr>
            </table>
          </perfect-scrollbar>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Container: List Items -->
