  <!-- Container: Selected Item (Settings) -->
  <div class="container">
    <table class="table" border="1" style="width:0;">
      <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
      <tr>
        <th>Установки</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">
              <table>
                <tr>
                  <td>
                    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                      <perfect-scrollbar class="scroll-container" fxFlex="auto">
                        <div class="col-sm-12 offset-sm-2" style="margin-left:0;">
                          <div class="info-form">
                            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                              <div class="form-group">
                                <table width="620" cellpadding="2" border="0">
                                  <tr>
                                    <td align="right" width="160">
                                      <label for="appActiveTime">Время активности приложения (минут)</label>
                                    </td>
                                    <td width="140" nowrap>
                                      <!-- https://developer.mozilla.org/ru/docs/Web/HTML/Element/Input/number -->
                                      <!-- https://www.htmlquick.com/reference/tags/input-number.html -->
                                      <!-- http://shpargalkablog.ru/2014/06/input-type-number.html -->
                                      <input type="number" formControlName="appActiveTime" name="appActiveTime" class="form-control" id="appActiveTime" aria-describedby="idHelp" min="0" max="59" step="1" placeholder="Не выбрано">
<!--                                      <my-date-picker formControlName="appActiveTime"-->
<!--                                                      name="appActiveTime"-->
<!--                                                      id="appActiveTime"-->
<!--                                                      [options]="myDatePickerOptions"-->
<!--                                                      placeholder="{{ appActiveTime }}">-->
<!--                                      </my-date-picker>-->
                                      <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time -->
                                      <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/month -->
<!--                                      <table width="235" border="0" cellpadding="0" cellspacing="0" style="position: absolute; margin-top: -10px; margin-left: -10px;">-->
<!--                                        <tr>-->
<!--                                          <td align="left"><input type="number" formControlName="appActiveTimeHour" name="appActiveTimeHour" class="form-control" id="appActiveTimeHour" aria-describedby="idHelp" placeholder="Не выбрано" style="width: 97px;"></td>-->
<!--                                          <td align="right"><input type="number" formControlName="appActiveTimeMinute" name="appActiveTimeMinute" class="form-control" id="appActiveTimeMinute" aria-describedby="idHelp" placeholder="Не выбрано" style="width: 97px;"></td>-->
<!--                                        </tr>-->
<!--                                      </table>-->
                                    </td>
                                    <td width="60"> &nbsp; </td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="currency">Валюта</label>
                                    </td>
                                    <td>
                                      <input type="text" formControlName="currency" name="currency" class="form-control" id="currency" aria-describedby="idHelp" placeholder="Не выбрано">
                                    </td>
                                    <td></td>
                                  </tr>
                                  <!--<tr>-->
                                    <!--<td align="right">-->
                                      <!--<label for="hostId">Идентификатор хоста</label>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                      <!--<input type="number" formControlName="hostId" name="hostId" class="form-control" id="hostId" aria-describedby="idHelp" placeholder="Не выбрано">-->
                                    <!--</td>-->
                                    <!--<td></td>-->
                                  <!--</tr>-->
                                  <tr>
                                    <td align="right">
                                      <label for="language">Язык</label>
                                    </td>
                                    <td>
<!--                                      <select formControlName="language" name="language" class="custom-select" id="language" aria-describedby="idHelp" style="width: 100%; padding: 8px;">-->
<!--                                        <option selected disabled value="" class="placeholder">Не выбрано</option>-->
<!--                                        <option *ngFor="let allowedLanguage of allowedLanguages" [ngValue]="allowedLanguage.number">{{ allowedLanguage.languageId }}</option>-->
<!--                                      </select>-->
                                      <ng-multiselect-dropdown [placeholder]="'Не выбрано'"
                                                               [data]="allLanguages"
                                                               formControlName="language"
                                                               [settings]="languagesSettings"
                                                               (onSelect)="onItemSelect($event)"
                                                               (onSelectAll)="onSelectAll($event)"
                                                               name="language" id="language">
                                      </ng-multiselect-dropdown>
                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="attestationTimeMin">Время аттестации MIN.</label>
                                    </td>
                                    <td>
                                      <input type="text" formControlName="attestationTimeMin" name="attestationTimeMin" class="form-control" id="attestationTimeMin" aria-describedby="idHelp" placeholder="Не выбрано">
                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="attestationTimeMax">Время аттестации MAX.</label>
                                    </td>
                                    <td>
                                      <input type="text" formControlName="attestationTimeMax" name="attestationTimeMax" class="form-control" id="attestationTimeMax" aria-describedby="idHelp" placeholder="Не выбрано">
                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="minReceiptNumber">Минимальный номер чека</label>
                                    </td>
                                    <td>
                                      <input type="number" formControlName="minReceiptNumber" name="minReceiptNumber" class="form-control" id="minReceiptNumber" aria-describedby="idHelp" placeholder="Не выбрано">
                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="maxReceiptNumber">Максимальный номер чека</label>
                                    </td>
                                    <td>
                                      <input type="number" formControlName="maxReceiptNumber" name="maxReceiptNumber" class="form-control" id="maxReceiptNumber" aria-describedby="idHelp" placeholder="Не выбрано">
                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="pendingNumber">Ко-во попыток запроса (штук)</label>
                                    </td>
                                    <td>
                                      <input type="number" formControlName="pendingNumber" name="pendingNumber" class="form-control" id="pendingNumber" aria-describedby="idHelp" placeholder="Не выбрано">
                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="pendingTime">Временный интервал запросов (секунд)</label>
                                    </td>
                                    <td>
                                      <input type="number" formControlName="pendingTime" name="pendingTime" class="form-control" id="pendingTime" aria-describedby="idHelp" placeholder="Не выбрано" min="0" max="59" step="1">
<!--                                      <my-date-picker formControlName="pendingTime"-->
<!--                                                      name="pendingTime"-->
<!--                                                      id="pendingTime"-->
<!--                                                      [options]="myDatePickerOptions"-->
<!--                                                      placeholder="{{ pendingTime }}">-->
<!--                                      </my-date-picker>-->
                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="timeZReport">Время Z-отчета</label>
                                    </td>
                                    <td>
<!--                                      <input type="number" formControlName="timeZReport" name="timeZReport" class="form-control" id="timeZReport" aria-describedby="idHelp">-->
<!--                                      <my-date-picker formControlName="timeZReport"-->
<!--                                                      name="timeZReport"-->
<!--                                                      id="timeZReport"-->
<!--                                                      [options]="myDatePickerOptions"-->
<!--                                                      placeholder="{{ timeZReport }}">-->
<!--                                      </my-date-picker>-->
                                      <!-- https://developer.mozilla.org/ru/docs/Web/HTML/Element/Input/datetime-local -->
                                      <!-- https://www.htmlquick.com/reference/tags/input-time.html -->
                                      <input type="time" formControlName="timeZReport" name="timeZReport" class="form-control" id="timeZReport" aria-describedby="idHelp">
<!--                                      <input id="datetime" type="datetime-local">-->
                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="phoneMask">Шаблон отображения тел.</label>
                                    </td>
                                    <td>
                                      <input type="text" formControlName="phoneMask" name="phoneMask" class="form-control" id="phoneMask" aria-describedby="idHelp" placeholder="Не выбрано">
                                      <span style="position: absolute; margin-top: -24px; margin-left: 189px; opacity: 0.75;">&#9742;</span>
                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="receiptHost">Шаблон отображения ссылки</label>
                                    </td>
                                    <td>
                                      <input type="text" formControlName="receiptHost" name="receiptHost" class="form-control" id="receiptHost" aria-describedby="idHelp" placeholder="Не выбрано">
                                    </td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="beginCardMask">Кол-о символов в начале</label>
                                    </td>
                                    <td>
                                      <input type="number" formControlName="beginCardMask" name="beginCardMask" class="form-control" id="beginCardMask" aria-describedby="idHelp" placeholder="Не выбрано">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="endCardMask">Кол-о символов в конце</label>
                                    </td>
                                    <td>
                                      <input type="number" formControlName="endCardMask" name="endCardMask" class="form-control" id="endCardMask" aria-describedby="idHelp" placeholder="Не выбрано">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="cardMaskSymbol">Немаскируемый текст</label>
                                    </td>
                                    <td>
                                      <input type="text" formControlName="cardMaskSymbol" name="cardMaskSymbol" class="form-control" id="cardMaskSymbol" aria-describedby="idHelp" placeholder="Не выбрано">
                                    </td>
                                  </tr>
<!--                                  <tr>-->
<!--                                    <td align="right">-->
<!--                                      <label for="basicReceiptSendChannels">Базовые каналы отправки</label>-->
<!--                                    </td>-->
<!--                                    <td>-->
<!--                                      <ng-multiselect-dropdown [placeholder]="'Не выбрано'"-->
<!--                                                               [data]="allReceiptSendChannels"-->
<!--                                                               formControlName="basicReceiptSendChannels"-->
<!--                                                               [settings]="receiptSendChannelsSettings"-->
<!--                                                               (onSelect)="onItemSelect($event)"-->
<!--                                                               (onSelectAll)="onSelectAll($event)"-->
<!--                                                               name="basicReceiptSendChannels" id="basicReceiptSendChannels">-->
<!--                                      </ng-multiselect-dropdown>-->
<!--                                    </td>-->
<!--                                    <td></td>-->
<!--                                  </tr>-->
                                  <tr>
                                    <td colspan="3" align="center">
                                      <div style="padding-bottom: 5px;">
                                        <button class="btn btn-transenix">Сохранить</button>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </form>
                          </div>
                        </div>
                      </perfect-scrollbar>
                    </div>
                  </td>
                </tr>
              </table>
            </perfect-scrollbar>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /Container: Selected Item (Settings) -->
