<!-- Container: List Items -->
<div class="container">
  <table class="table" border="1" style="width:0;">
    <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
    <tr>
      <th>Банк</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
          <perfect-scrollbar class="scroll-container" fxFlex="auto">
            <table>
              <tr>
                <td>
                  <table width="900" border="0">
                    <tr>
                      <th width="70">Код</th>
                      <th width="200">Адрес</th>
                      <th width="140">Телефон</th>
                      <th width="170">E-Mail</th>
                      <th width="170">Web-Сайт</th>
                      <th></th>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                    <perfect-scrollbar class="scroll-container" fxFlex="auto">
                      <table class="table table-striped" width="900" border="0">
                        <tbody>
                        <ng-container *ngIf="bankInfo">
                          <tr class="found" (click)="selectBankInfoId(bankInfo)">
                            <div *ngIf="bankInfo.id === selectedBankInfoId">
                              <td width="70" style="background: rgba(70, 70, 70, 0.200);">{{ bankInfo.id }}</td>
                              <td width="200" style="background: rgba(70, 70, 70, 0.200);">{{ bankInfo.address }}</td>
                              <td width="140" style="background: rgba(70, 70, 70, 0.200);">{{ bankInfo.phone }}</td>
                              <td width="170" style="background: rgba(70, 70, 70, 0.200);">{{ bankInfo.email }}</td>
                              <td width="170" style="background: rgba(70, 70, 70, 0.200);">{{ bankInfo.instructions }}</td>
                              <td width="150" style="background: rgba(70, 70, 70, 0.200);"></td>
                            </div>
                            <div *ngIf="bankInfo.id != selectedBankInfoId">
                              <td width="70">{{ bankInfo.id }}</td>
                              <td width="200">{{ bankInfo.address }}</td>
                              <td width="140">{{ bankInfo.phone }}</td>
                              <td width="170">{{ bankInfo.email }}</td>
                              <td width="150" width="170">{{ bankInfo.instructions }}</td>
                              <td></td>
                            </div>
                          </tr>
                        </ng-container>
                        </tbody>
                      </table>
                    </perfect-scrollbar>
                  </div>
                </td>
              </tr>
            </table>
          </perfect-scrollbar>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Container: List Items -->

<!-- Container: Selected BankInfo -->
<div class="card text-center" style="position: absolute; margin-left: 973px; height: 782px; margin-top: -798px; border: solid #00275e 1px;" *ngIf="selectedBankInfo">
  <div class="card-header card-header">
    <table width="370">
      <tr>
        <td align="left"> </td>
        <td align="right"><button (click)="closeBankInfo()">X</button></td>
      </tr>
    </table>
  </div>

  <div class="content-container-card" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
    <perfect-scrollbar class="scroll-container" fxFlex="auto">
      <div class="col-sm-12 offset-sm-2" style="margin-left:0;">
        <div class="info-form">

          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <table width="360" cellpadding="4">
                <tr>
                  <td width="140" align="right">
                    <label for="id">Код</label>
                  </td>
                  <td width="200">
                    <span style="margin-left: -90px; margin-top:-13px; position:absolute;">{{ selectedBankInfo.id }}</span>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="address">Адрес</label>
                  </td>
                  <td>
                    <input type="text" formControlName="address" name="address" class="form-control" id="address" aria-describedby="idHelp" placeholder="Не выбрано">
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="phone">Телефон</label>
                  </td>
                  <td>
                    <input type="text" formControlName="phone" name="phone" class="form-control" id="phone" aria-describedby="idHelp" placeholder="Не выбрано">
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="email">E-Mail</label>
                  </td>
                  <td>
                    <input type="text" formControlName="email" name="email" class="form-control" id="email" aria-describedby="idHelp" placeholder="Не выбрано">
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <label for="instructions">Web-Сайт</label>
                  </td>
                  <td>
                    <input type="text" formControlName="instructions" name="instructions" class="form-control" id="instructions" aria-describedby="idHelp" placeholder="Не выбрано">
                  </td>
                </tr>
              </table>
            </div>
            <div style="text-align: center;">
              <button class="btn btn-transenix">Сохранить</button>
            </div>
          </form>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
<!-- /Container: Selected BankInfo -->
