<!-- Container: Selected Item -->
<div class="col-md-auto user-container">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <table cellpadding="5">
        <tbody>
        <tr>
          <td><label for="username">User Name:</label></td>
          <td><input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username"></td>
        </tr>
        <tr>
          <td><label for="password">Password:</label></td>
          <td><input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password"></td>
        </tr>
        <!--<div class="form-group">-->
        <!--<label for="firstName">First Name:</label>-->
        <!--<input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label for="lastName">Last Name:</label>-->
        <!--<input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">-->
        <!--</div>-->
        <tr>
          <td><label for="city">City:</label></td>
          <td>
            <select formControlName="city" name="city" class="custom-select" id="city">
              <option [ngValue]="null" disabled>Choose your city</option>
              <option *ngFor="let city of cities" [ngValue]="city.key">{{city.value}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="age">Age:</label></td>
          <td><input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age"></td>
        </tr>
        <tr>
          <td><label for="salary">Salary:</label></td>
          <td><input type="number" formControlName="salary" placeholder="salary" name="salary" class="form-control" id="salary"></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><button class="btn btn-success">Add</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
