<div class="d-flex" id="wrapper" style="margin: 70px 0px 10px 10px;">

  <!--<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">-->
    <div class="bg-transenix border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a class="nav-link" routerLink="/home" class="list-group-transenix list-group-transenix-action bg-transenix">Организация</a>
        <a class="nav-link" routerLink="/terminal" class="list-group-transenix list-group-transenix-action bg-transenix">Терминал</a>
        <a class="nav-link" routerLink="/terminal-groups" class="list-group-transenix list-group-transenix-action bg-transenix">Группы терминалов</a>
        <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Лимиты</a>
        <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Диапазоны приема PAN</a>
        <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Языки приложений</a>
        <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Шаблон чека</a>
        <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Шаблон карты</a>
        <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Ключи безопасности</a>
        <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Расписание</a>
        <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Коды активации</a>
        <a href="#" class="list-group-transenix list-group-transenix-action bg-transenix">Банки</a>
      </div>
    </div>
  <!--</nav>-->

</div>
