<div class="d-flex" id="wrapper" style="margin: 70px 0px 10px 10px;">

  <div class="bg-primary border-right" id="sidebar-wrapper">
    <!--<div class="sidebar-heading">TRANSENIX</div>-->
    <div class="list-group list-group-flush">
      <a class="nav-link" routerLink="/home" class="list-group-item list-group-item-action bg-primary">Организация</a>
      <a class="nav-link" routerLink="/contact-list" class="list-group-item list-group-item-action bg-primary">Терминал</a>
      <a class="nav-link" routerLink="/contact-create" class="list-group-item list-group-item-action bg-primary">Группы терминалов</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary">Лимиты</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary">Диапазоны приема PAN</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary">Языки приложений</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary">Шаблон чека</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary">Шаблон карты</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary">Ключи безопасности</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary">Расписание</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary">Коды активации</a>
      <a href="#" class="list-group-item list-group-item-action bg-primary">Банки</a>
    </div>
  </div>

  <!--<h1>Demo</h1>-->
  <!--<p class="lead">-->
  <!--This demo shows how to integrate Bootstrap 4 with Angular 7-->
  <!--</p>-->
  <!--<a class="btn btn-lg btn-primary" href="" role="button">View tutorial</a>-->


</div>
