  <!-- Container: List Items -->
  <div class="container">
    <div style="padding-bottom: 5px;">
      <table>
        <tr>
          <td><button disabled>&#x2714;</button></td>
          <td><button (click)="pageRefresh()" title="Обновить">&#x21bb;</button></td>
          <td><button (click)="selectTmsKey(null)" title="Отфильтровать">&fnof;</button></td>
          <td><button (click)="createTmsKey()" title="Создать">+</button></td>
        </tr>
      </table>
    </div>

    <table class="table" border="1" style="width:0;">
      <thead style="background-color:#00275e; border-color:#00275e; color:#fff; width:0;">
      <tr>
        <th>Управления Ключами</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="horizontal-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
            <perfect-scrollbar class="scroll-container" fxFlex="auto">
              <table>
                <tr>
                  <td>
                    <table width="985" border="0">
                      <tr>
                        <th width="135">Идентификатор записи ключа</th>
                        <th width="110">Контрольное значение</th>
                        <th width="110">Дата активации ключа</th>
                        <th width="110">Дата окончания ключа</th>
                        <th width="110">Тип ключа</th>
                        <th width="230">Значение ключа под LMK</th>
                        <th width="110">Ссылочное значение</th>
                        <th width="70">Статус</th>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="100%">
                      <perfect-scrollbar class="scroll-container" fxFlex="auto">
                        <table class="table table-striped" width="985" border="0">
                          <tbody>
                          <ng-container *ngFor="let tmsKey of tmsKeys">
                            <tr class="found" (click)="selectTmsKeyId(tmsKey)">
                              <div *ngIf="tmsKey.id === selectedTmsKeyId">
                                <td width="135" style="background: rgba(70, 70, 70, 0.200);">{{ tmsKey.id }}</td>
                                <td width="110" style="background: rgba(70, 70, 70, 0.200);">{{ tmsKey.checkValue }}</td>
                                <td width="110" align="center" style="background: rgba(70, 70, 70, 0.200); font-size:12px; line-height:10px;">{{ tmsKey.effDate | date : 'dd.MM.yyyy hh:mm'}}</td>
                                <td width="110" align="center" style="background: rgba(70, 70, 70, 0.200); font-size:12px; line-height:10px;">{{ tmsKey.expDate | date : 'dd.MM.yyyy hh:mm'}}</td>
                                <td width="110" style="background: rgba(70, 70, 70, 0.200);">{{ tmsKey.keyType }}</td>
                                <td width="230" style="background: rgba(70, 70, 70, 0.200);"><div style="border:0; max-width:200px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ tmsKey.keyValue }}</div></td> <!-- http://htmlbook.ru/css/word-wrap -->
                                <td width="110" style="background: rgba(70, 70, 70, 0.200);">{{ tmsKey.refCode }}</td>
                                <td width="70" style="background: rgba(70, 70, 70, 0.200);">{{ tmsKey.statCode }}</td>
                              </div>
                              <div *ngIf="tmsKey.id != selectedTmsKeyId">
                                <td width="135">{{ tmsKey.id }}</td>
                                <td width="110">{{ tmsKey.checkValue }}</td>
                                <td width="110" align="center" style="font-size:12px; line-height:10px;">{{ tmsKey.effDate | date : 'dd.MM.yyyy hh:mm'}}</td>
                                <td width="110" align="center" style="font-size:12px; line-height:10px;">{{ tmsKey.expDate | date : 'dd.MM.yyyy hh:mm'}}</td>
                                <td width="110">{{ tmsKey.keyType }}</td>
                                <td width="230"><div style="border:0; max-width:200px; height:auto; word-wrap:break-word; font-family:monospace; font-size:12px; line-height:10px;">{{ tmsKey.keyValue }}</div></td> <!-- http://htmlbook.ru/css/word-wrap -->
                                <td width="110">{{ tmsKey.refCode }}</td>
                                <td width="70">{{ tmsKey.statCode }}</td>
                              </div>
                            </tr>
                          </ng-container>
                          </tbody>
                        </table>
                      </perfect-scrollbar>
                    </div>
                  </td>
                </tr>
              </table>
            </perfect-scrollbar>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /Container: List Items -->


  <!-- Container: Selected Item (TmsKey) -->
  <div class="card text-center" style="position: absolute; margin-left: 973px; height: 749px; margin-top: -765px; border: solid #00275e 1px;" *ngIf="selectedTmsKey">
    <div class="card-header card-header">
      <table width="370">
        <tr>
          <td align="left">{{selectedTmsKey.id}}</td>
          <td></td>
          <td align="right"><button (click)="closeTmsKey()">X</button></td>
        </tr>
      </table>
    </div>

    <div class="content-container-card" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
      <perfect-scrollbar class="scroll-container" fxFlex="auto">
        <div class="col-sm-12 offset-sm-2" style="margin-left:0; min-height: 500px;">
          <div class="info-form">

            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <table width="360" cellpadding="4" border="0">
                  <tr>
                    <td align="right" width="180">
                      <label for="id">Идентификатор записи ключа</label>
                    </td>
                    <td width="140">
                      <input type="number" formControlName="id" name="id" class="form-control" id="id" aria-describedby="idHelp" readonly="true">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="checkValue">Контрольное значение</label>
                    </td>
                    <td>
                      <input type="text" formControlName="checkValue" name="checkValue" class="form-control" id="checkValue" aria-describedby="idHelp" placeholder="Enter your Tms-Key's">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="effDate">Дата активации ключа</label>
                    </td>
                    <td>
                      <!--<input type="text" formControlName="effDate" name="effDate" class="form-control" id="effDate" aria-describedby="idHelp" placeholder="Enter your Tms-Key's">-->
                      <my-date-picker formControlName="effDate"
                                      [(ngModel)]="effDate"
                                      name="effDate"
                                      id="effDate"
                                      [options]="myDatePickerOptions"
                                      placeholder="Enter your Tms-Key's">
                      </my-date-picker>
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="expDate">Дата окончания ключа</label>
                    </td>
                    <td>
                      <!--<input type="text" formControlName="expDate" name="expDate" class="form-control" id="expDate" aria-describedby="idHelp" placeholder="Enter your Tms-Key's">-->
                      <my-date-picker formControlName="expDate"
                                      [(ngModel)]="expDate"
                                      name="expDate"
                                      id="expDate"
                                      [options]="myDatePickerOptions"
                                      placeholder="Enter your Tms-Key's">
                      </my-date-picker>
                    </td>
                  </tr>

                  <tr>
                    <td align="right">
                      <label for="keyType">Тип Ключа</label>
                    </td>
                    <td>
                      <input type="text" formControlName="keyType" name="keyType" class="form-control" id="keyType" aria-describedby="idHelp" placeholder="Enter your Tms-Key's">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="keyValue">Значение ключа под LMK</label>
                    </td>
                    <td>
                      <!--<input type="text" formControlName="keyValue" name="keyValue" class="form-control" id="keyValue" aria-describedby="idHelp" placeholder="Enter your Tms-Key's">-->
                      <textarea formControlName="keyValue" rows="3" name="keyValue" class="form-control" id="keyValue" aria-describedby="idHelp" placeholder="Enter your Tms-Key's" style="height: 70px; font-size: 12px;">
                      </textarea>
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="refCode">Ссылочное значение</label>
                    </td>
                    <td>
                      <input type="text" formControlName="refCode" name="refCode" class="form-control" id="refCode" aria-describedby="idHelp" placeholder="Enter your Tms-Key's">
                    </td>
                  </tr>
                  <tr>
                    <td align="right">
                      <label for="statCode">Статус</label>
                    </td>
                    <td>
                      <input type="number" formControlName="statCode" name="statCode" class="form-control" id="statCode" aria-describedby="idHelp" placeholder="Enter your Tms-Key's">
                    </td>
                  </tr>
                </table>
              </div>
              <div style="text-align: center; padding-bottom: 5px;">
                <button class="btn btn-transenix">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
  <!-- /Container: Selected Item (TmsKey) -->
